<div id="contenedor" class="main" ng-init="inicio()">
	<div class="titulos">
		<a href="#/" class="icon-arrow-left"></a>
		<h1>Edición de Datos</h1>
	</div>

	<label>Busqueda por Folio</label>
	<div class="row">
		<div class="col-md-4 col-xs-4" >
			<input type="text" ng-model="folio" class="form-control" placeholder="Folio" folio>
		</div>

		<div class="col-md-4 col-xs-4">
			<button ng-disabled="folio.length == 0" ng-click="consultaDatos()" type="submit" id="boton" class="btn 
			btn-primary" data-loading-text="Consultando...">Consultar
			</button>
		</div>

		<div class="col-md-2">
			<img ng-show="cargar" class="animate-show" src="images/cargando.gif">
		</div>
	</div>

	<br>

	<div class="loading-container" ng-show="cargando">
	    <div class="loading"></div>
	    <div id="loading-text">Cargando</div>
	</div>
	
	<form role="form" ng-show="formVisible">
		<fieldset>
			<legend></legend>
			<div class="row" >
				<div class="col-md-4 col-xs-4">
					<label>Apellido Paterno</label>
					<input type="text" ng-model="datos.paterno" class="form-control" required capitalize>
				</div>

				<div class="col-md-4 col-xs-4">
					<label>Apellido Materno</label>
					<input type="text" ng-model="datos.materno" class="form-control" required capitalize>
				</div>

				<div class="col-md-4 col-xs-4">
					<label>Nombre</label>
					<input type="text" ng-model="datos.nombre" class="form-control" required capitalize>
				</div>
			</div>

			<br>

			<div class="row" >
				<div class="col-md-4 col-xs-4" >
					<label>Fecha de Nacimiento</label>
					<input type="text" ng-model="datos.fechaNacimiento" class="form-control">
				</div>
				<div class="col-md-4 col-xs-4">
					<label>Cliente</label>
					<select class="form-control"  ng-model="datos.cliente" ng-options="clienteuni.id as clienteuni.nombre for clienteuni in clientes" >
						<option value=""></option>
					</select>
				</div>

				<div class="col-md-4 col-xs-4">
					<label>Póliza</label>
					<input type="text" ng-model="datos.poliza" class="form-control" required>
				</div>
			</div>

			<br>

			<div class="row" >
				<div class="col-md-4 col-xs-4">
					<label>Riesgo</label>
					<select class="form-control" id="riesgo" ng-model="datos.riesgo" ng-options="riesgouni.
					RIE_clave as riesgouni.RIE_nombre for riesgouni in riesgos">
					<option value=""></option>
					</select>
				</div>

				<div class="col-md-4 col-xs-4">
					<label>Reporte</label>
					<input type="text" ng-model="datos.reporte" class="form-control" required>
				</div>

				<div class="col-md-4 col-xs-4">
					<label>Producto</label>
					<select class="form-control" id="producto" ng-model="datos.producto" ng-options="
					productouni.id as productouni.nombre for productouni in productosini">
					<option value=""></option>
					</select>
				</div>
			</div>
			<br>
			<br>
			<div class="row" align="center">
				<div class="footer" role="group" aria-label="...">
					<button ng-disabled="!folio" ng-click="guardaDatos()" type="submit" class="
					btn btn-success" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 
					Actualizando...">Actualizar</button>
					<button ng-disabled="!folio" id="btnlimpia" ng-click="limpiaDatos()" class="btn btn-info
					">Editar Nuevo</button>
				</div>
			</div>
			<br>
			<br>
			<div ng-if="mensaje" ng-class="tipoalerta" class="alert alert-success animate-show">{{mensaje}}</div>
		</fieldset>
	</form>
</div>	