<div ng-init="inicio()" id="contenedor">
	<div class="titulos">
		<a href="#/" class="icon-arrow-left"></a>
		<h1>Alta de Usuarios</h1>
	</div>
	<ul id="rb-grid-small" class="rb-grid-small clearfix">
		<li class="rb-span-1" id="color3">
			<h3>Nuevo Usuario</h3>
			<a data-target="#myModalUser" data-toggle="modal">
	            <span class="glyphicon glyphicon-user"></span>
	        </a>
	    </li>
	</ul>
	<br>
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>Filtro</legend>
				<div class="row">
					<div class="col-md-8">
						<div class="input-group">
							<div class="input-group-addon">
						        <i class="glyphicon glyphicon-search"></i>
						    </div>
							<input type="text" ng-model="busca" ng-change="filtra()" class="form-control" capitalize placeholder="Buscar"/>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<br>
	<div id="copiar" class="gridStyle" ng-grid="gridOptions"></div>
</div>

<!-- Modal Dialog de Alta de usuarios</!-->

<div class="modal fade" id="myModalUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Registro de Usuario</h4>
			</div>
			<form name="userForm">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<label>Nombre:</label>
							<input type="text" id="nombre" ng-model="datos.nombre" class="form-control" required>
						</div>
						<div class="col-md-6">
							<label>Password:</label>
							<br>
							<input type="password" ng-show="campoVisible" id="password" ng-model="datos.password" class="form-control" required>

							<button type="button" class="btn btn-primary" ng-if="!campoVisible" ng-click="cambiaPass()" required>Cambiar Password</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Login:</label>
							<input type="text" id="loginn" ng-model="datos.login" class="form-control" required>
						</div>
						<div class="col-md-6">
							<label>Usuario Web:</label>
							<input type="text" id="loginn" ng-model="datos.userweb" class="form-control">
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-6">
							<label></label>
							<select class="form-control" id="area" ng-model="datos.areaOp" ng-options="area.calve as area.nombre for area in areas"required>
								<option >Area Operativa</option>
							</select>
						</div>
						<div class="col-md-4">
							<label>Usuario Activo:</label>
							<select class="form-control" id="usuactivo" ng-model="datos.usuactivo" required>
								<option value="1">SI</option>
								<option value="0">NO</option>
							</select>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-6">
							<label class="checkbox-inline">
								<input type="checkbox" id="captura" ng-model="datos.captura" ng-true-value="1" ng-false-value="0" >Captura</label>
						</div>
						<div class="col-md-6">
							<label class="checkbox-inline">
								<input type="checkbox" id="controldoc" ng-model="datos.controldoc" ng-true-value="1" ng-false-value="0" >Control de Documentos</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="checkbox-inline">
								<input type="checkbox" id="consulindiv" ng-model="datos.consulindiv" ng-true-value="1" ng-false-value="0" >Consulta Individual</label>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="tickets" ng-model="datos.tickets" ng-true-value="1" ng-false-value="0" >Tickets</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="checkbox-inline">
									<input type="checkbox" id="flujomanu" ng-model="datos.flujomanual" ng-true-value="1" ng-false-value="0" >Flujo manual</label>
						</div>
						<div class="col-md-6">
							<label class="checkbox-inline">
									<input type="checkbox" id="qualitas" ng-model="datos.qualitas" ng-true-value="1" ng-false-value="0" >Qualitas</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="checkbox-inline">
									<input type="checkbox" id="reportes" ng-model="datos.reportes" ng-true-value="1" ng-false-value="0" >Reportes</label>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="flujopagos" ng-model="datos.flujopagos" ng-true-value="1" ng-false-value="0" >Flujo de Pagos</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="checkbox-inline">
									<input type="checkbox" id="flujodoc" ng-model="datos.flujodoc" ng-true-value="1" ng-false-value="0" >Flujo de Documentos</label>
						</div>
						<div class="col-md-6">
							<label class="checkbox-inline">
									<input type="checkbox" id="usuarios" ng-model="datos.usuarios" ng-true-value="1" ng-false-value="0" >Usuarios</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label class="checkbox-inline">
									<input type="checkbox" id="ticketpagos" ng-model="datos.ticketspagos" ng-true-value="1" ng-false-value="0" >Tickets de Pagos</label>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label class="checkbox-inline">
									<input type="checkbox" id="facexpress" ng-model="datos.facexpress" ng-true-value="1" ng-false-value="0" >Facturación Express</label>
							</div>
						</div>
						<br><br>
						<div class="col-md-1">
                			<br>
                			<img ng-show="cargar" src="images/cargando.gif">
                		</div>

                		<div ng-if="mensaje" ng-class="tipoalerta" class="alert alert-success animate-show">{{mensaje}}</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="boton2" type="submit" data-loading-text="Guardando..." class="btn btn-primary" ng-click="guardaUsuario()" ng-disabled="userForm.$invalid">Guardar</button>

	            	<button ng-click="nuevoUsuario()" class="btn btn-success" id="btnlimpia">Limpiar</button>

	            	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	            </div>
			</form>
    	</div>
	</div>
</div>