<section class="chat-body">
	
	<div class="chat-header" ng-click="detalle = !detalle">
		<div class="text-center">
			<h4>Clientes activos</h4>
		</div>
	</div>

	<div class="chat-content" ng-show="detalle">
		
		<section class="chat-info text-center" ng-hide="chat">
			<h4>Selecciona cliente</h4>
			<div class="list-group text-left">
			  <a href="" ng-repeat="user in usuarios" ng-click="iniciaChat(user)" class="list-group-item">{{ user }}</a href="">
			</div>
		</section>
	
		<section class="chat-messages" ng-show="chat">
			<div class="messages-header">
				<ul class="list-group">
	              	<li class="list-group-item"><a ng-click="chat = !chat"><i class="glyphicon glyphicon-chevron-left"></i>Regresar</a></li>
	          	</ul>
			</div>
			<ul class="message-body js-chat-list">
		        <li data-ng-repeat="dato in mensajes" ng-class="{'bubbledLeft':usuario ==  dato.from,'bubbledRight':usuario !=  dato.from}"> <strong>{{ dato.from }}</strong> : {{ dato.content }}</li>
	      	</ul>
			<div class="messages-footer">
				<form ng-submit="enviaMensaje()">
					<input id="m" autocomplete="off" placeholder="Mensaje" ng-model="mensaje"/><button type="submit" class="btn btn-default">Enviar</button>
				</form>
			</div>
			
		</section>

	</div>



</section>
