<div ng-init="inicio()" id="contenedor">
	<div class="titulos">
		<a ng-if="!edicion" href="#/" class="icon-arrow-left"></a>
		<a ng-if="edicion" href="" class="icon-arrow-left" ng-click="regresar()"></a>
		<h1>SACE CO - Autorizados sin captura</h1>
	</div>

	<section ng-hide="edicion">

		<div class="gridStyle" ng-grid="gridOptions"></div>
		<br>

	</section>


	<div>
		<section ng-show="edicion" class="slide">

		<h2>Folio: {{ detalle.expediente.folio }}</h2>
		<h2>Atención: {{ nomAtencion }}</h2>
		<br>
			<!--<div class="row" ng-show="autorizacionFolio">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">Documentos Digitalizados</div>
						<div class="panel-body" style="background:#f2f2f2">

							<div class="row" ng-show='anotaciones.length>0'>
								<div class="col-md-12">
									<div class="panel panel-primary">
									  <div class="panel-heading">
									    <h5 class="panel-title">ANOTACIONES</h5>
									  </div>
									  <div class="panel-body">
									    <div ng-repeat="anotacion in anotaciones">{{anotacion.REQ_valor}}: <b>{{anotacion.ANT_valor}}</b></div>
									  </div>
									</div>

								</div>
							</div>
							<form id="validarDocumentos" name="validarDocumentos" ng-submit="guardarValidacionDocumentos()">
								<div class="row">
									<div class="col-md-3" ng-repeat="docs in listDocmuento | unique:'TID_clave'">
										<div  class="panel widget">
											<div ng-show="docs.Arc_clave&&(docs.ATD_estatus==0||docs.ATD_estatus==null)" class="panel-body bg-primary">
												<div class="row row-table row-flush">
													<div class="col-xs-11">
														<h4 class="mb0"><i class="glyphicon glyphicon-file"></i>	{{docs.TID_nombre}}</h4>
														<p ng-show="docs.ATD_requerido" class="m0">A aprobación</p>
													</div>
													<div class="col-xs-1" align="right">
														<i ng-show="docs.ATD_requerido" class="glyphicon glyphicon-star"></i>
													</div>
												</div>
											</div>
											<div ng-show="docs.Arc_clave&&docs.ATD_estatus==1" class="panel-body bg-success">
												<div class="row row-table row-flush">
													<div class="col-xs-11">
														<h4 class="mb0"><i class="glyphicon glyphicon-file"></i>	{{docs.TID_nombre}}</h4>
														<p class="m0">Aprobado</p>
													</div>
													<div class="col-xs-1" align="right">
														<i ng-show="docs.ATD_requerido" class="glyphicon glyphicon-star"></i>
													</div>
												</div>
											</div>
											<div ng-show="docs.Arc_clave&&docs.ATD_estatus==2" class="panel-body bg-danger">
												<div class="row row-table row-flush">
													<div class="col-xs-11">
														<h4 class="mb0"><i class="glyphicon glyphicon-file"></i>	{{docs.TID_nombre}}</h4>
														<p class="m0">Rechazado</p>
													</div>
													<div class="col-xs-1" align="right">
														<i ng-show="docs.ATD_requerido" class="glyphicon glyphicon-star"></i>
													</div>
												</div>
											</div>
											<div ng-hide="docs.Arc_clave" class="panel-body">
												<div class="row row-table row-flush">
													<div class="col-xs-11">
														<h4 class="mb0"><i class="glyphicon glyphicon-file"></i>	{{docs.TID_nombre}}</h4>
														<p class="m0">Sin documento</p>

													</div>
													<div class="col-xs-1" align="right">
														<i ng-show="docs.ATD_requerido" class="glyphicon glyphicon-star"></i>
													</div>
												</div>
											</div>
											<div class="panel-body" ng-show="docs.Arc_clave">
												<!-- Bar chart-->
												<div class="row" ng-show="autorizacionFolio">
													<!--<div class="col-md-12">
														<div data-bar-color="primary" data-height="30" data-bar-width="6" data-bar-spacing="6" class="inlinesparkline inline">
															<button type="button" class="btn btn-default" ng-click="muestraArchivos(docs.TID_clave)" ><i class="glyphicon glyphicon-file"></i>	Analizar documento</button>
														</div>
													</div>-->
												</div>
												<div class="row" ng-show="docs.ATD_requerido">
													<br>
													<div class="col-md-12">
														<div class="form-group">
															<div class="radio c-radio">
																<label>
																<input type="radio"  name="{{docs.TID_nombre}}" value="1" ng-required="docs.ATD_requerido&&docs.Arc_clave" ng-model="docs.ATD_estatus" onclick='this.checked = false;'>
																<span class="glyphicon glyphicon-ok" ></span>Aprobado</label>
															</div>
															<div class="radio c-radio">
																<label>
																<input type="radio" name="{{docs.TID_nombre}}" value="2" ng-required="docs.ATD_requerido&&docs.Arc_clave" ng-model="docs.ATD_estatus"  onclick='this.checked = false;'>
																<span class="glyphicon glyphicon-remove" ></span>Rechazado</label>
															</div>
														</div>
													</div>
												</div>
												<div class="row animate-show" ng-show="docs.ATD_estatus==2">
													<div class="col-md-12">
														<div class="form-group" >
															<label for="comment">Motivo:</label>
															<textarea disabled  style="width:100%" ng-model="docs.ATD_motivo" class="form-control" rows="5" id="comment" ng-required="docs.ATD_estatus==2"></textarea>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row animate-show" ng-hide="1==1">
									<div class="col-md-12">
										<div class="panel panel-primary">
									  		<div class="panel-heading">
										    	<h5 class="panel-title">Nuevo Ticket</h5>
										  	</div>
										  	<div class="panel-body">
										  		<div class="row">
											        <div class="col-md-3">
											                <label for="categoria">Categoria</label>
											                <select class="form-control" id="categoria" ng-change="altasubcategorias(datos.categoria)" ng-model="datos.categoria" ng-options="categoria.Clave as categoria.Nombre for categoria in categorias">
											                    <option value="">Categoria</option>
											                </select>
											        </div>
											        <div class="col-md-3">
											            <label for="subcategoria">Subcategoria</label>
											            <select id="subcategoria" class="form-control"  ng-model="datos.subcategoria" ng-options="subcategoria.Clave as subcategoria.Nombre for subcategoria in subcategorias" >
											                <option value="">Subcategoria</option>
											            </select>
											        </div>

											        <div class="col-md-3">
											            <label for="status">Status</label>
											            <select id="status" class="form-control"  ng-model="datos.statusa" ng-options="statu.Clave as statu.Nombre for statu in status" >
											                <option value="">Status</option>
											            </select>
											        </div>
											    </div>
											    <div class="row">
												      <div class="col-md-4">
												          <label>Notas</label>
												          <textarea class="form-control" ng-model="datos.notas" rows="3" capitalize></textarea>
												      </div>
												      <div class="col-md-4">
												          <label>Comunicación</label>
												          <textarea class="form-control" ng-model="datos.comunicacion" rows="3" capitalize></textarea>
												      </div>
												      <div class="col-md-3">
												          <label>Fecha Comunicación</label>
												          <div class="input-group">
												            <input type="text" ng-model="datos.fechacomunica" class="form-control" id="fechacomunica"/>
												            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
												          </div>
											        </div>
											    </div>
							  				</div>
								  		</div>
									</div>
								</div>
									<div class="row" ng-show="edicion">
							<div class="col-md-12">
								<div class="panel panel-primary">
									<div class="panel-heading">Operaciones</div>
									<div class="panel-body">

								<div class="btn-group btn-group-justified" role="group" aria-label="Documentos">
									<div class="btn-group" role="group">
									    <button type="button" class="btn btn-default" ng-click="muestraTodosArchivos()" ng-disabled="detalle.archivos.todos.length == 0"><i class="glyphicon glyphicon-th"></i>Folio de autorización</button>
									  </div>
									  <div class="btn-group" role="group">
									    <button type="button" class="btn btn-default" ng-click="muestraArchivosTodos(detalle.archivos.todos)" ng-disabled="detalle.archivos.todos.length == 0"><i class="glyphicon glyphicon-th"></i>Todos</button>
									  </div>
										  <div class="btn-group" role="group">
										    <button type="button" class="btn btn-default" ng-click="vistaCaptura = !vistaCaptura" ng-disabled="!sinCaptura"><i class="glyphicon glyphicon-pencil"></i> Capturar Datos</button>
										  </div>


								</div>

										<div class="btn-group btn-group-justified" role="group" aria-label="Documentos">

										</div>
										<br>
										<div align="left">
											<div class="checkbox c-checkbox" ng-show="datos.cliente == 19">
				                  <label>
				                    <input type="checkbox"  ng-model="sinFactura" ng-true-value="1">
				                    <span class="glyphicon  glyphicon-ok"></span>Sin Factura
				                  </label>
			               	</div>
										</div>
										<div align="right">
											<div class="btn-group" role="group">
											    <button type="button" class="btn btn-success" id="botonAut" ng-click="solicitaAut()" data-loading-text="Autorizando..." ng-disabled="sinCaptura || procesado"><i class="glyphicon glyphicon-ok"></i>
											    	{{ textoAutorizacion }}
											    </button>
											</div>
										</div>

									</div>
								</div>
								</div>

								<div ng-show="mensajeAut" class="alert alert-success animate-show">{{mensajeAut}}</div>

							</div>


								<div class="row" ng-show="autorizacionFolio">
									<div class="col-md-12" align="right">
										<!--<button ng-disabled="(verCaptura==1&&sinCaptura)" type="submit" class="btn btn-oval btn-primary btn-lg">Guardar Análisis</button>-->
										<!--<button type="submit" class="btn btn-oval btn-primary btn-lg">Guardar Análisis <button> -->

									</div>
								</div>
								<div class="row animate-show" ng-show="verRespuesta">
									<div class="col-md-12">
										<div class="alert alert-success">La información se guardó correctamente.</div>
									</div>
								</div>
							</form>

							<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-body">
							       <h2> La información se guardó correctamente.</h2>
							      </div>
							      <div class="modal-footer">
							        <button type="button" ng-click="recargarPagina()" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							      </div>
							    </div>
							  </div>
							</div>
							<div class="modal fade" id="capturadoPN" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-body" align="center">
							       <h2>El documento está capturado por proceso normal.</h2>
							       Favor de consultar el proceso.
							      </div>
							      <div class="modal-footer">
							        <button type="button" ng-click="recargarPagina()" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							      </div>
							    </div>
							  </div>
							</div>
							</div>

						</div>
					</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-primary" ng-show="vistaCuestionario">

			<div class="panel-heading">Captura Cuestionario</div>
			<div class="panel-body">

				<div ng-include="'vistas/capturaCuestionario.html'"></div>

			</div>
		</div>


	</section>

</div>


<div class="panel panel-primary animate-show" id="izquierda-pantalla" ng-show="vistaArchivos">
	<div class="panel-heading">Vista Previa <button type="button" ng-click="vistaArchivos = !vistaArchivos" class="close" aria-label="Close"><span class="white-text" aria-hidden="true">&times;</span></button> </div>
	<div class="panel-body">


		<div  class="frame-container" ng-repeat="archivo in listDocmuento">

			<div style="border:3px solid #A9D0F5; padding: 5px 5px 5px 5px" ng-show="mostrarArcTipoDoc==archivo.TID_clave">

	        <a class="btn btn-info" ng-href="{{ obtenerFrame(archivo.Arc_archivo+'/'+archivo.Arc_clave) }}" target="_blank">Abrir otra ventana</a>
	        <button class="btn btn-primary" ng-click=" rotar = !rotar ">Girar</button>
	        <embed ng-if="file(archivo.Arc_archivo+'/'+archivo.Arc_clave)" ng-src="{{ obtenerFrame(archivo.Arc_archivo+'/'+archivo.Arc_clave) }}" width="100%" id="files">
	        <img ng-if="imagen(archivo.Arc_archivo+'/'+archivo.Arc_clave)" ng-class="{'rotado': rotar}" ng-src="{{ obtenerFrame(archivo.Arc_archivo+'/'+archivo.Arc_clave) }}"
		        ng-init="zoomWidth = 800;imgStyle = {width:'100%'}"
		        ng-style="imgStyle"
				ng-mouse-wheel-up="zoomWidth = zoomWidth + 20; imgStyle.width = zoomWidth +'px'; "
				ng-mouse-wheel-down="zoomWidth = zoomWidth - 20;imgStyle.width = zoomWidth  +'px'; "
			/><br>
			<form id="{{archivo.Arc_clave}}" name="{{archivo.Arc_clave}}" ng-submit="cerrarVentana()">
				<div class="form-group">
					<div class="row" style="width:100%; padding: .5em 0 0 0; background:" >
						<label class="col-sm-1 control-label" align="center">Estatus:</label>
						<div class="col-sm-4" >
							<div class="radio c-radio" style="padding: 0 0 .5em 0">
								<label>
									<input type="radio" name="a" id="uno"  ng-change="validaEstatus(archivo.Arc_motivo,archivo.ATD_motivo,archivo.TID_clave,archivo.Arc_estatus, archivo.ATD_estatus)" ng-model='archivo.Arc_estatus' ng-value="1" required>
								<span class="glyphicon glyphicon-ok" ></span>Aprobado</label>
							</div>
							<div class="radio c-radio">
								<label>
									<input type="radio" name="a" id="dos" ng-model='archivo.Arc_estatus' ng-value="2" ng-change="validaEstatus(archivo.Arc_motivo,archivo.ATD_motivo,archivo.TID_clave,archivo.Arc_estatus)" required>
								<span class="glyphicon glyphicon-remove" ></span>Rechazado</label>
							</div>
						</div>
						<div class="col-sm-7 animate-show" ng-show="archivo.Arc_estatus==2">
							<label class="col-sm-2 control-label">Motivo:</label>
		                       <div class="col-sm-10">
		                          <select ng-model="archivo.Arc_motivoCat" class="form-control"
		                          	ng-options="option.MRE_CVE as option.MRE_nombre for option in motRechazo" ng-required="archivo.Arc_estatus==2"
		                          	>
		                          	<option value="">- Seleccione -</option>
		                          </select>
		                       </div>
						</div>
						<div class="col-sm-7 animate-show" ng-show="archivo.Arc_estatus==2">
							<label class="col-sm-2 control-label">Obs:</label>
	                           <div class="col-sm-10">
	                              <textarea class="form-control" ng-blur="concatenarMotivo(archivo.Arc_motivo,archivo.ATD_motivo,archivo.TID_clave,archivo.Arc_estatus)" ng-model="archivo.Arc_motivo" ng-required="archivo.Arc_estatus==2" > </textarea>
	                           </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" align="right">
							<input type="submit" form="{{archivo.Arc_clave}}" class="btn btn-oval btn-primary btn-lg" value="Guardar">
						</div>
					</div>
				</div>
			</form>
            <br>
            </div>
	    </div>
	    <br>

	</div>
</div>
<div class="panel panel-primary animate-show" id="izquierda-pantalla" ng-show="vistaArchivosTodos">
	<div class="panel-heading">Vista Previa <button type="button" ng-click="vistaArchivosTodos = !vistaArchivosTodos" class="close" aria-label="Close"><span class="white-text" aria-hidden="true">&times;</span></button> </div>
	<div class="panel-body">


		<div  class="frame-container" ng-repeat="archivo in listDocmuento">

			<div style="border:3px solid #A9D0F5; padding: 5px 5px 5px 5px">

	        <a class="btn btn-info" ng-href="{{ obtenerFrame(archivo.Arc_archivo+'/'+archivo.Arc_clave) }}" target="_blank">Abrir otra ventana</a>
	        <button class="btn btn-primary" ng-click=" rotar = !rotar ">Girar</button>
	        <embed ng-if="file(archivo.Arc_archivo+'/'+archivo.Arc_clave)" ng-src="{{ obtenerFrame(archivo.Arc_archivo+'/'+archivo.Arc_clave) }}" width="100%" id="files">
	        <img ng-if="imagen(archivo.Arc_archivo+'/'+archivo.Arc_clave)" ng-class="{'rotado': rotar}" ng-src="{{ obtenerFrame(archivo.Arc_archivo+'/'+archivo.Arc_clave) }}"
		        ng-init="zoomWidth = 800;imgStyle = {width:'100%'}"
		        ng-style="imgStyle"
				ng-mouse-wheel-up="zoomWidth = zoomWidth + 20; imgStyle.width = zoomWidth +'px'; "
				ng-mouse-wheel-down="zoomWidth = zoomWidth - 20;imgStyle.width = zoomWidth  +'px'; "
			/>
            </div>
	    </div>
	    <br>

	</div>
</div>
<div class="panel panel-primary animate-show" id="izquierda-pantalla" ng-show="vistaTodosArchivos">

	<div class="panel-heading">Vista Previa <button type="button" ng-click="vistaTodosArchivos = !vistaTodosArchivos" class="close" aria-label="Close"><span class="white-text" aria-hidden="true">&times;</span></button> </div>
	<div class="panel-body">

		<div class="frame-container"  ng-repeat="archivo in archvosTodos | unique">
	        <a class="btn btn-info" ng-href="{{ obtenerFrame(archivo) }}" target="_blank">Abrir otra ventana</a>
	        <button class="btn btn-primary" ng-click=" rotar = !rotar ">Girar</button>
	        <embed ng-if="file(archivo)" ng-src="{{ obtenerFrame(archivo) }}" width="100%" id="files">
	        <img ng-if="imagen(archivo)" ng-class="{'rotado': rotar}" ng-src="{{ obtenerFrame(archivo) }}"
		        ng-init="zoomWidth = 800;imgStyle = {width:'100%'}"
		        ng-style="imgStyle"
				ng-mouse-wheel-up="zoomWidth = zoomWidth + 20; imgStyle.width = zoomWidth +'px'; "
				ng-mouse-wheel-down="zoomWidth = zoomWidth - 20;imgStyle.width = zoomWidth  +'px'; "
			/>
	    </div>

	</div>
</div>

<!--<div class="panel panel-primary animate-show" id="derecha-pantalla" ng-show="vistaCaptura">

	<div class="panel-heading">Captura de Pase <button type="button" ng-click="vistaCaptura = !vistaCaptura" class="close" aria-label="Close"><span class="white-text" aria-hidden="true">&times;</span></button> </div>
	<div>

		<form ng-submit="capturaFE()" name="capturaForm">
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
						    <label for="reporte">Lesionado</label>
						    <input type="text" class="form-control" ng-model="captura.Nombre" id="Reporte" placeholder="Reporte">
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
						    <label for="siniestro">Siniestro</label>
						    <input type="text" class="form-control" ng-model="captura.Siniestro" id="siniestro" placeholder="Siniestro">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
						    <label for="poliza">Poliza</label>
						    <input type="text" class="form-control" ng-model="captura.Poliza" id="poliza" placeholder="Poliza">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
						    <label for="reporte">Reporte</label>
						    <input type="text" class="form-control" ng-model="captura.Reporte" id="Reporte" placeholder="Reporte">
						</div>
					</div>
				</div>
				<div class="row" ng-show="cveCia==19">
					<div class="col-md-12">
						<div class="form-group">
						    <label for="reporte">Cédula Electrónica</label>
						    <input type="text" class="form-control" ng-model="captura.cedulaElectronica" id="Cédula Electrónica" placeholder="Reporte" ng-required='cveCia==19'>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-4">
						<label for="">Tipo de Pase</label>
						<select class="form-control" ng-model="captura.Tipo" required>
							<option value="">Tipo de Pase</option>
							<option value="Ticket">Ticket</option>
							<option value="Formato">Formato</option>
						</select>
					</div>
					<div class="col-md-4">
						<label for="">Triage</label>
						<select class="form-control"  ng-model="captura.triage"  ng-options="triage.TRI_claveint as triage.TRI_nombre for triage in triages" required>
							<option value="">Triage</option>
						</select>
					</div>
					<div class="col-md-4 text-center">
						<label for="">Pago a Unidad</label>
						<br>
						<label class="radio-inline">
					  		<input type="radio" ng-model="captura.pagoUnidad" ng-value="1" name="pagoUnidad" id="inlineRadio1" value="1"> Si
						</label>
						<label class="radio-inline">
					  		<input type="radio" ng-model="captura.pagoUnidad" ng-value="0" name="pagoUnidad" id="inlineRadio2" value="0"> No
						</label>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
						    <label for="motivoNoPago">Motivo No Pago</label>
						    <input type="text" class="form-control" ng-model="captura.motivoNoPago" id="motivoNoPago" placeholder="motivoNoPago">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label for="">Tipo de Lesion</label>
						<select class="form-control"  ng-model="captura.tipoLes" ng-change="buscaLesiones(captura.tipoLes)" ng-options="tipoLes.TLEClave as tipoLes.Nombre for tipoLes in tipoLesiones" required>
							<option value="">Tipo de Lesion</option>
						</select>
					</div>
					<div class="col-md-8">
						<label for="">Lesion</label>
						<select class="form-control"  ng-model="captura.Lesion" ng-change="verificaTabulador(captura.Lesion)" ng-options="lesion as lesion.LES_nombre for lesion in lesiones" required>
							<option value="">Lesion</option>
						</select>
					</div>
				</div>
				<div class="row" ng-hide="nuevoAjustador">
					<div class="col-md-9">
						<label for="">Ajustador</label>
						<select class="form-control"  ng-model="captura.Ajustador" ng-options="ajustador.AJU_claveint as ajustador.AJU_nombre for ajustador in ajustadores">
							<option value="">Ajustador</option>
						</select>
					</div>
					<div class="col-md-3">
						<label for=""></label>
						<button type="button" class="btn btn-primary" ng-click="nuevoAjustador = !nuevoAjustador">Nuevo Ajustador</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label for="">Médico</label>
						<select class="form-control"  ng-model="captura.MedicoMV" ng-options="medico.MED_claveint as medico.MED_nombre for medico in medicos" required>
							<option value="">Seleccione Médico</option>

						</select>
					</div>
					<div class="col-md-4">
						<label for="">Posición</label>
						<select class="form-control"  ng-model="captura.POSClave" ng-options="posicion.POS_clave as posicion.POS_nombre for posicion in posiciones" required>
							<option value="">Posición</option>
						</select>
					</div>
					<div class="col-md-2">
						<div class="form-group">
						    <label for="sexo">Sexo</label>
						    <select class="form-control"  ng-model="captura.Sexo" required>
								<option value="M">M</option>
								<option value="F">F</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
						    <label for="edad">Edad</label>
						    <input type="text" class="form-control" ng-model="captura.Edad" id="edad" placeholder="edad">
						</div>
					</div>
					<div class="col-md-6">
	        			<label for="datepicker4">Fecha Expedición</label>
	        			<input type="text" class="form-control" ng-model="captura.FExpedicion" ng-change="validafecha()" id="datepickerExpedicion" required>
	        		</div>
				</div>

				<div class="row" ng-show="nuevoAjustador">
					<div class="col-md-9">
						<label for="">Nombre del Ajustador</label>
						<input type="text" class="form-control" ng-model="ajustador" id="ajustador" placeholder="Ajustador" ng-disabled="ocultaBotones" capitalize>
					</div>
					<div class="col-md-3" ng-hide="ocultaBotones">
						<br>
						<button type="button" class="btn btn-default" ng-click="guardaAjustador()"><i class="icon-checkmark-circle"></i></button>
						<button type="button" class="btn btn-danger" ng-click="nuevoAjustador = !nuevoAjustador"><i class="icon-cancel-circle"></i></button>
					</div>
				</div>
				<div class="row">
                    <div class="col-md-12">
						<label>Diagnostico</label>
						<textarea class="form-control" ng-model="captura.Dx" rows="3" required></textarea>
						<span ng-if="captura.Dx.length > 224" class="red">Largo de texto no permitido {{ captura.Dx.length }}</span>
                    </div>
				</div>
				<div ng-show="mensaje" class="alert alert-success animate-show">{{mensaje}}</div>
				<br>
				<div class="text-right">
			        <button type="button" class="btn btn-default" ng-click="vistaCaptura = !vistaCaptura">Cerrar</button>
			        <button type="submit" id="botonAct" class="btn btn-primary" ng-disabled="verificaDatos()" data-loading-text="Guardando...">Gaurdar Cambios</button>
			    </div>
			</div>
		</form>

	</div>
</div>-->

<!-- Captura de Expediente -->
<div class="panel panel-primary animate-show" id="derecha-pantalla" ng-show="vistaCaptura">

	<div class="panel-heading">Captura de Pase <button type="button" ng-click="vistaCaptura = !vistaCaptura" class="close" aria-label="Close"><span class="white-text" aria-hidden="true">&times;</span></button> </div>
	<div>

		<form ng-submit="capturaFE()" name="capturaForm">
			<div class="modal-body">
				<div class="row" ng-show="datos.cliente == 19">

					<div class="col-md-6">
						<div class="form-group">
						    <label for="cedula">Folio de Autorización</label>
						    <input type="text" class="form-control" ng-model="captura.cedulaElectronica" name="cedula" id="cedula" ng-required="datos.cliente == 19&&sinCedula==true" ng-keyup="validaFolioAutorizacion()" ng-minlength="13" ng-maxlength="13" placeholder="cedula" ng-disabled="datos.cliente == 19&&sinCedula==false" capitalize>
						    <input type="checkbox" name="sinCedula" id="sinCedula" ng-model="sinCedula" ng-true-value="false" ng-false-value="true" ng-click="validaSinCedula()">Sin Cédula
						    <div ng-messages="capturaForm.cedula.$error" class="text-danger">
								<div ng-message="required">Campo obligatorio.</div>
								<div ng-message="maxlength">El campo no puede ser mayor que 13 digitos.</div>
								<div ng-message="minlength">El campo no puede ser menor que 13 digitos.</div>
					        </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
						    <label for="RegCompania">Folio Electronico</label>
						    <input type="text" name="RegCompania" class="form-control" ng-model="captura.RegCompania" id="RegCompania" ng-minlength="FolioElecMin" ng-maxlength="FolioElecMax" ng-required="datos.cliente == 19&&sinCedula==true" placeholder="RegCompania" capitalize ng-disabled="datos.cliente == 19&&sinCedula==true">
						    <div ng-messages="capturaForm.RegCompania.$error" class="text-danger">

								<div ng-message="required">Campo obligatorio.</div>
								<div ng-message="maxlength">El campo no puede ser mayor que {{ FolioElecMax }} digitos.</div>
								<div ng-message="minlength">El campo no puede ser menor que {{ FolioElecMin }} digitos.</div>
					        </div>
						</div>
					</div>

				</div>
				<div class="row" ng-show="cargador">
					<div class="col-md-12">
						<div>
							<img src="images/cargador.gif" width="60">
						</div>
					</div>
				</div>
				<div class="row" ng-show="msjAlerta">
					<div class="col-md-12">
						<div class="alert alert-warning">
							{{msjAlerta}}
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-md-12">
						<div class="form-group">
						    <label for="reporte">Lesionado</label>
						    <input type="text" class="form-control" ng-model="captura.Nombre" id="Reporte" placeholder="Reporte">
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
						    <label for="siniestro">Siniestro</label>
						    <input type="text" class="form-control" name="siniestro" ng-model="captura.Siniestro" id="siniestro" ng-minlength="SiniestroMin" ng-maxlength="SiniestroMax" placeholder="Siniestro" ng-disabled="datos.cliente == 19&&sinCedula==true">
						    <div ng-messages="capturaForm.siniestro.$error" class="text-danger">
								<div ng-message="required">Campo obligatorio.</div>
								<div ng-message="maxlength">El campo no puede ser mayor que {{ SiniestroMax }} digitos.</div>
								<div ng-message="minlength">El campo no puede ser menor que {{ SiniestroMin }} digitos.</div>
					        </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
						    <label for="poliza">Poliza</label>
						    <input type="text" class="form-control" name="poliza" ng-model="captura.Poliza" id="poliza" ng-minlength="PolizaMin" ng-maxlength="PolizaMax" placeholder="Poliza" ng-disabled="datos.cliente == 19&&sinCedula==true">
						    <div ng-messages="capturaForm.poliza.$error" class="text-danger">
								<div ng-message="required">Campo obligatorio.</div>
								<div ng-message="maxlength">El campo no puede ser mayor que {{ PolizaMax }} digitos.</div>
								<div ng-message="minlength">El campo no puede ser menor que {{ PolizaMin }} digitos.</div>
					        </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
						    <label for="reporte">Reporte</label>
						    <input type="text" class="form-control" name="reporte" ng-model="captura.Reporte" id="Reporte" ng-minlength="ReporteMin" ng-maxlength="ReporteMax" ng-keyup="validaReporte()" placeholder="Reporte" ng-disabled="datos.cliente == 19&&sinCedula==true">
						    <div ng-messages="capturaForm.reporte.$error" class="text-danger">
								<div ng-message="required">Campo obligatorio.</div>
								<div ng-message="maxlength">El campo no puede ser mayor que {{ ReporteMax }} digitos.</div>
								<div ng-message="minlength">El campo no puede ser menor que {{ ReporteMin }} digitos.</div>
					        </div>
						</div>
					</div>
				</div>
				<div class="row" ng-show="cargador1">
					<div class="col-md-offset-8 col-md-4">
						<div>
							<img src="images/cargador.gif" width="60">
						</div>
					</div>
				</div>
				<div class="row" ng-show="msjReporte">
					<div class="col-md-offset-8 col-md-4">
						<div>
							<label style="color:red">*Reporte inválido.</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label for="">Tipo de Pase</label>
						<select class="form-control" ng-model="captura.Tipo" required>
							<option value="">Tipo de Pase</option>
							<option value="Ticket">Ticket</option>
							<option value="Formato">Formato</option>
							<option value="Autorizacion">Autorización</option>
						</select>
					</div>
					<div class="col-md-4">
						<label for="">Triage</label>
						<select class="form-control"  ng-model="captura.triage"  ng-options="triage.TRI_claveint as triage.TRI_nombre for triage in triages" required>
							<option value="">Triage</option>
						</select>
					</div>
					<div class="col-md-4 text-center">
						<label for="">Pago a Unidad</label>
						<br>
						<label class="radio-inline">
					  		<input type="radio" ng-model="captura.pagoUnidad" ng-value="1" name="pagoUnidad" id="inlineRadio1" value="1"> Si
						</label>
						<label class="radio-inline">
					  		<input type="radio" ng-model="captura.pagoUnidad" ng-value="0" name="pagoUnidad" id="inlineRadio2" value="0"> No
						</label>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
						    <label for="motivoNoPago">Motivo No Pago</label>
						    <input type="text" class="form-control" ng-model="captura.motivoNoPago" id="motivoNoPago" placeholder="motivoNoPago">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label for="">Tipo de Lesion</label>
						<select class="form-control"  ng-model="captura.tipoLes" ng-change="buscaLesiones(captura.tipoLes)" ng-options="tipoLes.TLEClave as tipoLes.Nombre for tipoLes in tipoLesiones" required ng-disabled="bloqueoLesion">
							<option value="">Tipo de Lesion</option>
						</select>
					</div>
					<div class="col-md-8">
						<label for="">Lesion</label>
						<select class="form-control"  ng-model="captura.Lesion" ng-change="verificaTabulador(captura.Lesion)" ng-options="lesion as lesion.LES_nombre for lesion in lesiones" required>
							<option value="">Lesion</option>
						</select>
					</div>

				</div>

				<div class="row">
					<div class="col-md-5">
						<label for="">Riesgo</label>
						<select class="form-control"  ng-model="captura.RIEClave" ng-change="validaCobertura(captura.RIEClave)" ng-options="riesgo.RIE_clave as riesgo.RIE_nombre for riesgo in riesgos" required>
							<option value="">Riesgo</option>
						</select>
					</div>

					<div class="col-md-5" ng-if="datos.cliente == 19">
						<label for="">Cobertura Qualitas</label>
						<select class="form-control"  ng-model="cobertura" disabled>
							<option value="">Sin Cobertura Qualitas Valida</option>
							<option value="4">04 GM</option>
							<option value="15">15 RC Pasajero</option>
							<option value="3">03 RC</option>
							<option value="18">18 RC Personas</option>
							<option value="13">13 Ext RC</option>
						</select>
					</div>

				</div>


				<div class="row" ng-hide="nuevoAjustador">
					<div class="col-md-9">
						<label for="">Ajustador</label>
						<select class="form-control"  ng-model="captura.Ajustador" ng-options="ajustador.AJU_claveint as ajustador.AJU_nombre for ajustador in ajustadores">
							<option value="">Ajustador</option>
						</select>
					</div>
					<div class="col-md-3">
						<label for=""></label>
						<button type="button" class="btn btn-primary" ng-click="nuevoAjustador = !nuevoAjustador">Nuevo Ajustador</button>
					</div>
				</div>
				<div class="row" ng-show="nuevoAjustador">
					<div class="col-md-9">
						<label for="">Nombre del Ajustador</label>
						<input type="text" class="form-control" ng-model="ajustador" id="ajustador" placeholder="Ajustador" ng-disabled="ocultaBotones" capitalize>
					</div>
					<div class="col-md-3" ng-hide="ocultaBotones">
						<br>
						<button type="button" class="btn btn-default" ng-click="guardaAjustador()"><i class="icon-checkmark-circle"></i></button>
						<button type="button" class="btn btn-danger" ng-click="nuevoAjustador = !nuevoAjustador"><i class="icon-cancel-circle"></i></button>
					</div>
				</div>
				<div class="row" ng-hide="nuevoMedico">
					<div class="col-md-9">
						<label for="">Médico</label>
						<select class="form-control"  ng-model="captura.MedicoMV" ng-options="medico.MED_claveint as medico.MED_nombre for medico in medicos" required>
							<option value="">Médico</option>
						</select>
					</div>
					<div class="col-md-3">
						<br>
						<button type="button" class="btn btn-primary" ng-click="nuevoMedico = !nuevoMedico">Nuevo Médico</button>
					</div>
				</div>
				<div class="row" ng-show="nuevoMedico">
					<div class="col-md-5">
						<label for="">Nombre del Médico</label>
						<input type="text" class="form-control" ng-model="medico" id="medico" placeholder="medico" ng-disabled="ocultaBotonesMed" capitalize>
					</div>
					<div class="col-md-4" ng-hide="ocultaBotonesMed">
						<label for="">Cédula</label>
						<input type="text" class="form-control" ng-model="cedula" id="cedula" placeholder="cedula"  capitalize>
					</div>
					<div class="col-md-3" ng-hide="ocultaBotonesMed">
						<br>
						<button type="button" class="btn btn-default" ng-click="guardaMedico()"><i class="icon-checkmark-circle"></i></button>
						<button type="button" class="btn btn-danger" ng-click="nuevoMedico = !nuevoMedico"><i class="icon-cancel-circle"></i></button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label for="">Posición</label>
						<select class="form-control"  ng-model="captura.POSClave" ng-options="posicion.POS_clave as posicion.POS_nombre for posicion in posiciones" required>
							<option value="">Posición</option>
						</select>
					</div>
					<div class="col-md-2">
						<div class="form-group">
						    <label for="sexo">Sexo</label>
						    <select class="form-control"  ng-model="captura.Sexo" required>
								<option value="M">M</option>
								<option value="F">F</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
						    <label for="edad">Edad</label>
						    <input type="text" class="form-control" ng-model="captura.Edad" id="edad" placeholder="edad">
						</div>
					</div>
					<div class="col-md-6">
	        			<label for="datepicker4">Fecha Expedición</label>
	        			<input type="text" class="form-control" ng-model="captura.FExpedicion" ng-change="validafecha()" id="datepickerExpedicion" required>
	        		</div>
				</div>
				<div class="row">
                    <div class="col-md-12">
						<label>Diagnostico</label>
						<textarea class="form-control" ng-model="captura.Dx" rows="3" required></textarea>
						<span ng-if="captura.Dx.length > 224" class="red">Largo de texto no permitido {{ captura.Dx.length }}</span>
                    </div>
				</div>
				<div ng-show="mensaje" class="alert alert-success animate-show">{{mensaje}}</div>
				<br>
				<div class="text-right">
			        <button type="button" class="btn btn-default" ng-click="vistaCaptura = !vistaCaptura">Cerrar</button>
			        <button type="submit" id="botonAct" class="btn btn-primary" ng-disabled="verificaDatos()" data-loading-text="Guardando...">Gaurdar Cambios</button>
			    </div>
			</div>
		</form>

	</div>
</div>




<script>
    $.datepicker.setDefaults($.datepicker.regional["es"]);
    // $( "#datepicker" ).datepicker({showButtonPanel: true});
    // $( "#datepicker2" ).datepicker({showButtonPanel: true});
    $( "#datepicker" ).datepicker({
      defaultDate: "+1w",
      showButtonPanel: true,
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#datepicker2" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#datepicker2" ).datepicker({
      defaultDate: "+1w",
      showButtonPanel: true,
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#datepicker" ).datepicker( "option", "maxDate", selectedDate );
      }
    });

    $( "#datepickerExpedicion" ).datepicker({showButtonPanel: true});

</script>
