<!-- Muestra Original-->
<div class="modal-dialog" ng-init="inicio()">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Registro seguimiento</h4>
        </div>
        <form name="formOriginalTodo" ng-submit="guardaDatosB()" novalidate>
        <div class="modal-body" id="cantidad">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a data-target="#tab-one"  data-toggle="tab">Registro</a>
                </li>
                <li>
                    <a data-target="#tab-two" data-toggle="tab">Ticket</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-one" class="tab-pane fade in active">
                    <br>
                	<div class="row">
                		<div class="col-md-5">
                			<label for="folioO">Folio</label>
                			<input type="text" id="folioO" class="form-control" folioex="validaOriginalB" ng-model="original.folio">
                		</div>
                		<div class="col-md-1">
                			<br>
                			<img ng-show="cargar" src="images/cargando.gif">
                		</div>
                		<div class="col-md-6">
                			<label for="datepicker4">fecha</label>
                			<input type="text" ng-change="validafecha()" class="form-control" ng-model="original.fecha" id="datepickerA" >
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<label for="fac">Fac. Unidad:</label>
                			<input type="text" id="fac" class="form-control" ng-maxlength="40"  ng-model="original.factura"  capitalize >
                		</div>
                		<div class="col-md-6">
                			<label for="datepicker4">Total:</label>
                			<input type="text" class="form-control" ng-model="original.totalfactura" money>
                		</div>
                	</div>
                	<div class="row">
    					<div class="col-md-8">
    						<label for="lesionado">Lesionado</label>
    						<input type="text" id="lesionado" class="form-control" ng-model="original.lesionado" capitalize required>
    					</div>
    					<div class="col-md-4">
                			<label for="tipodoc">Etapa</label>
    						<select class="form-control" id="tipodoc" ng-change="verificaatencion()" ng-model="original.tipoDoc" ng-options="tipodocumento.id as tipodocumento.nombre for tipodocumento in tipodocumentos" required>
    							<option value="">Tipo de Documento</option>
    						</select>

                		</div>
    				</div>
    				<div class="row">
    					<div class="col-md-6">
    						<label for="cliente">Cliente</label>
    						<select class="form-control" ng-disabled="bloqueo" id="cliente" ng-model="original.cliente" ng-options="cliente.id as cliente.nombre for cliente in clientes" ng-change="productoOriginal(original.cliente)" required>
    							<option value="">Cliente</option>
    						</select>
    					</div>
    					<div class="col-md-6">
                			<label for="unidad">Unidad</label>
                			<select class="form-control" id="unidad" ng-disabled="bloqueoUni" ng-change="referencia(unidadref)" ng-model="unidadref" ng-options="unidad.id as unidad.nombre for unidad in unidades">
    							<option value="">Unidad</option>
    						</select>
                		</div>
    				</div>
                	<div class="row">
                		<div class="col-md-6">
                				<label for="producto">Producto</label>
    							<select class="form-control" id="producto" ng-disabled="bloqueo"  ng-model="original.producto" ng-options="producto.id as producto.nombre for producto in productos" ng-change="verificaEscolaridad()" required>
    								<option value="">Producto</option>
    							</select>
                		</div>
                		<div class="col-md-6" ng-show="muestraEsc">
                			<label for="escolaridad">Escolaridad</label>
                			<select  id="escolaridad" class="form-control" ng-disabled="bloqueo"  ng-model="original.escolaridad" ng-options="escolaridad.id as escolaridad.nombre for escolaridad in escolaridades">
    							<option value="">Escolaridad</option>
    						</select>
                		</div>
                        <div class="col-md-6">
                            <br>
                            <div class="checkbox">
                                <label>
                                  <input ng-model="original.npc" ng-true-value="2" ng-false-value="0" type="checkbox"> Posible No Pago
                                </label>
                            </div>
                        </div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<label for="remesa">Remesa</label>
                			<input type="text" id="remesa" class="form-control" ng-model="remesa" remesa  required>
                		</div>
                		<div class="col-md-6">
                			<br>
                			<blockquote>
    						  <p>{{label1}}</p>
    						</blockquote>
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<h3 class="text-center">{{label2}}</h3>
                		</div>
                		<div class="col-md-6">
                			<h3 class="text-center">{{label3}}</h3>
                		</div>
                	</div>
                </div>

                <div id="tab-two" class="tab-pane fade">
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                                <label for="categoria">Categoria</label>
                                <select class="form-control" id="categoria" ng-change="altasubcategorias(ticket.categoria)" ng-model="ticket.categoria" ng-options="categoria.Clave as categoria.Nombre for categoria in categorias" required>
                                    <option value="">Categoria</option>
                                </select>
                        </div>
                        <div class="col-md-4">
                            <label for="subcategoria">Subcategoria</label>
                            <select id="subcategoria" class="form-control"  ng-model="ticket.subcategoria" ng-options="subcategoria.Clave as subcategoria.Nombre for subcategoria in subcategorias" required>
                                <option value="">Subcategoria</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="status">Status</label>
                            <select id="status" class="form-control"  ng-model="ticket.statusa" ng-options="statu.Clave as statu.Nombre for statu in status" required>
                                <option value="">Status</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" ng-show="ticket.statusa == 2">
                        <div class="col-md-6">
                          <label for="folio">Asignado A:</label>
                            <input type="text" id="asignado" class="form-control" ng-model="ticket.asignado"  capitalize >
                        </div>
                        <div class="col-md-6">
                        <label>Fecha Asignación</label>
                            <div class="input-group">
                                <input type="text" ng-model="ticket.fechaasignado" class="form-control" id="fechaasigna"/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                                  Observaciones iniciales
                                </a>
                              </h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse in">

                                <div class="panel-body">


                                    <div class="btn-group" data-toggle="buttons">

                                      <label class="btn btn-primary" ng-click="ticket.diagnostico = !ticket.diagnostico">
                                        <input type="checkbox" ng-model="ticket.diagnostico"><i ng-show="ticket.diagnostico" class="glyphicon glyphicon-ok"></i> Diagnóstico Inválido
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.firma = !ticket.firma">
                                        <input type="checkbox" ng-model="ticket.firma"><i ng-show="ticket.firma" class="glyphicon glyphicon-ok"></i> Firma de lesionado
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.notamedica = !ticket.notamedica">
                                        <input type="checkbox" ng-model="ticket.notamedica"><i ng-show="ticket.notamedica" class="glyphicon glyphicon-ok"></i> Falta nota médica
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.finiquito = !ticket.finiquito">
                                        <input type="checkbox" ng-model="ticket.finiquito" ><i ng-show="ticket.finiquito" class="glyphicon glyphicon-ok"></i> Sin finiquito
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.pase = !ticket.pase">
                                        <input type="checkbox" ng-model="ticket.pase"><i ng-show="ticket.pase" class="glyphicon glyphicon-ok"></i> Pase médico alterado
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.identificacion = !ticket.identificacion">
                                        <input type="checkbox" ng-model="ticket.identificacion" ><i ng-show="ticket.identificacion" class="glyphicon glyphicon-ok"></i> Identificación oficial
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.verificacion = !ticket.verificacion">
                                        <input type="checkbox" ng-model="ticket.verificacion" ><i ng-show="ticket.verificacion" class="glyphicon glyphicon-ok"></i> Verificación de firmas
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.notamedicain = !ticket.notamedicain">
                                        <input type="checkbox" ng-model="ticket.notamedicain"><i ng-show="ticket.notamedicain" class="glyphicon glyphicon-ok"></i> Incompleta
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.reverso = !ticket.reverso">
                                        <input type="checkbox" ng-model="ticket.reverso"><i ng-show="ticket.reverso" class="glyphicon glyphicon-ok"></i> Reverso de identificación
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.verificapar = !ticket.verificapar">
                                        <input type="checkbox" ng-model="ticket.verificapar" ><i ng-show="ticket.verificapar" class="glyphicon glyphicon-ok"></i> Verificación de parentesco
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.nocoincide = !ticket.nocoincide">
                                        <input type="checkbox" ng-model="ticket.nocoincide"><i ng-show="ticket.nocoincide" class="glyphicon glyphicon-ok"></i> No coincide con documentación
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.pasemedico = !ticket.pasemedico">
                                        <input type="checkbox" ng-model="ticket.pasemedico"><i ng-show="ticket.pasemedico" class="glyphicon glyphicon-ok"></i> Pase médico en copia
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.sinpase = !ticket.sinpase">
                                        <input type="checkbox" ng-model="ticket.sinpase"><i ng-show="ticket.sinpase" class="glyphicon glyphicon-ok"></i> Sin pase médico
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.fueravigencia = !ticket.fueravigencia">
                                        <input type="checkbox" ng-model="ticket.fueravigencia" ><i ng-show="ticket.fueravigencia" class="glyphicon glyphicon-ok"></i> Fuera de vigencia
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.sinpoliza = !ticket.sinpoliza">
                                        <input type="checkbox" ng-model="ticket.sinpoliza" ><i ng-show="ticket.sinpoliza" class="glyphicon glyphicon-ok"></i> Sin póliza
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.sindeducible = !ticket.sindeducible">
                                        <input type="checkbox" ng-model="ticket.sindeducible"><i ng-show="ticket.sindeducible" class="glyphicon glyphicon-ok"></i> Sin deducible
                                      </label>
                                      <!-- <label class="btn btn-primary" ng-click="ticket.sincuestionario = !ticket.sincuestionario">
                                        <input type="checkbox" ng-model="ticket.sincuestionario" ><i ng-show="ticket.sincuestionario" class="glyphicon glyphicon-ok"></i> Sin cuestionario
                                      </label> -->
                                      <label class="btn btn-primary" ng-click="ticket.firmamedico = !ticket.firmamedico">
                                        <input type="checkbox" ng-model="ticket.firmamedico"  ng-true-value="'FIRMA MÉDICO'" ng-false-value="" ><i ng-show="ticket.firmamedico" class="glyphicon glyphicon-ok"></i> Firma Médico
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.cruce = !ticket.cruce">
                                        <input type="checkbox" ng-model="ticket.cruce"><i ng-show="ticket.cruce" class="glyphicon glyphicon-ok"></i> Cruce Zima-MV
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.cadulaT = !ticket.cadulaT">
                                        <input type="checkbox" ng-model="ticket.cadulaT"><i ng-show="ticket.cadulaT" class="glyphicon glyphicon-ok"></i>Sin Cédula
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.cedulaI = !ticket.cedulaI">
                                        <input type="checkbox" ng-model="ticket.cedulaI"><i ng-show="ticket.cedulaI" class="glyphicon glyphicon-ok"></i> Cédula Invalida
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.paseT = !ticket.paseT">
                                        <input type="checkbox" ng-model="ticket.paseT"><i ng-show="ticket.paseT" class="glyphicon glyphicon-ok"></i> Pase Taller Mécanico
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.sDiagnostico = !ticket.sDiagnostico">
                                        <input type="checkbox" ng-model="ticket.sDiagnostico"><i ng-show="ticket.sDiagnostico" class="glyphicon glyphicon-ok"></i> Sin Diagnóstico
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.sNMedico = !ticket.sNMedico">
                                        <input type="checkbox" ng-model="ticket.sNMedico"><i ng-show="ticket.sNMedico" class="glyphicon glyphicon-ok"></i> Sin Nombre del Médico
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.sFecha = !ticket.sFecha">
                                        <input type="checkbox" ng-model="ticket.sFecha"><i ng-show="ticket.sFecha" class="glyphicon glyphicon-ok"></i> Sin Fecha
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.sNMedica = !ticket.sNMedica">
                                        <input type="checkbox" ng-model="ticket.sNMedica"><i ng-show="ticket.sNMedica" class="glyphicon glyphicon-ok"></i> Sin Nota Médica
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.nRequisitado = !ticket.nRequisitado">
                                        <input type="checkbox" ng-model="ticket.nRequisitado"><i ng-show="ticket.nRequisitado" class="glyphicon glyphicon-ok"></i> No Requisitado
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.sId = !ticket.sId">
                                        <input type="checkbox" ng-model="ticket.sId"><i ng-show="ticket.sId" class="glyphicon glyphicon-ok"></i> Sin ID
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.ilegible = !ticket.ilegible">
                                        <input type="checkbox" ng-model="ticket.ilegible"><i ng-show="ticket.ilegible" class="glyphicon glyphicon-ok"></i> Ilegible
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.nIncorrecto = !ticket.nIncorrecto">
                                        <input type="checkbox" ng-model="ticket.nIncorrecto"><i ng-show="ticket.nIncorrecto" class="glyphicon glyphicon-ok"></i> Nombre Incorrecto
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.sCartaLG = !ticket.sCartaLG">
                                        <input type="checkbox" ng-model="ticket.sCartaLG"><i ng-show="ticket.sCartaLG" class="glyphicon glyphicon-ok"></i> Sin Carta LG
                                      </label>
                                      <label class="btn btn-primary" ng-click="ticket.sCAvisoA = !ticket.sCAvisoA">
                                        <input type="checkbox" ng-model="ticket.sCAvisoA"><i ng-show="ticket.sCAvisoA" class="glyphicon glyphicon-ok"></i> Sin Carta Aviso de Accidente
                                      </label>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                          <label>Notas</label>
                          <textarea class="form-control" ng-model="ticket.notas" rows="3" capitalize></textarea>
                        </div>
                        <!-- <div class="col-md-4">
                          <label>Comunicación</label>
                          <textarea class="form-control" ng-model="ticket.comunicacion" rows="3" capitalize></textarea>
                        </div>
                        <div class="col-md-4">
                          <label>Fecha Comunicación</label>
                          <div class="input-group">
                            <input type="text" ng-model="tiket.fechacomunica" class="form-control" id="fechacomunica"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div ng-show="mensaje != '' " ng-class="tipoalerta" class="alert animate-show">{{mensaje}}</div>
        </div>
        <div class="modal-footer">
        	<button id="botonGuardaTodo" type="submit" ng-disabled="formOriginalTodo.$invalid" data-loading-text="Guardando..." class="btn btn-primary">Guardar</button>
        	<button type="button" class="btn btn-success" ng-click="inicio()">Limpiar</button>
          	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
        </form>
      </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


<script type="text/javascript">
	$.datepicker.setDefaults($.datepicker.regional["es"]);
	$( "#datepickerA" ).datepicker({showButtonPanel: true});
    $( "#fechacomunica" ).datepicker({showButtonPanel: true});
    $( "#fechaasigna" ).datepicker({showButtonPanel: true});
</script>
