<!-- Muestra Original-->
<div class="modal-dialog" ng-init="inicio()">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Recepcion de Original</h4>
        </div>
        <form name="formCapturaOriginal" id="formCapturaOriginal" ng-submit="guardaDatosA()" novalidate>
        <div class="modal-body" id="cantidad">
        	<div class="row">
        		<div class="col-md-5">
        			<label for="folioO">Folio</label>
        			<input type="text" id="folioO" class="form-control" folioex="validaOriginalA" ng-model="original.folio">
        		</div>
        		<div class="col-md-1">
        			<br>
        			<img ng-show="cargar" src="images/cargando.gif">
        		</div>
        		<div class="col-md-6">
        			<label for="datepicker4">fecha</label>
        			<input type="text" ng-change="validafecha()" class="form-control" ng-model="original.fecha" id="datepickerA" >
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">
        			<label for="fac">Fac. Unidad:</label>
        			<input type="text" id="fac" class="form-control" ng-maxlength="40"  ng-model="original.factura"  capitalize >
        		</div>
        		<div class="col-md-6">
        			<label for="datepicker4">Total:</label>
        			<input type="text" class="form-control" ng-model="original.totalfactura" money>
        		</div>
        	</div>
        	<div class="row">
				<div class="col-md-6">
					<label for="lesionado">Lesionado</label>
					<input type="text" id="lesionado" class="form-control" ng-model="original.lesionado" capitalize required>
				</div>
				<div class="col-md-4">
        			<label for="tipodoc">Etapa</label>
					<select class="form-control" id="tipodoc" ng-change="verificaatencion()" ng-model="original.tipoDoc" ng-options="tipodocumento.id as tipodocumento.nombre for tipodocumento in tipodocumentos" required>
						<option value="">Tipo de Documento</option>
					</select>
        		</div>
                <div class="col-md-2" ng-if="muestraEntrega">
                    <label for="numeroEntrega">Entrega</label>
                    <input type="text" id="numeroEntrega" class="form-control" ng-model="original.numentrega" numero required ng-change="validaAtencion()">
                </div>
			</div>
            <label ng-if="consultaSub">Verificando Información</label>
			<div class="row">
				<div class="col-md-6">
					<label for="cliente">Cliente</label>
					<select class="form-control" ng-disabled="bloqueo" id="cliente" ng-model="original.cliente" ng-options="cliente.id as cliente.nombre for cliente in clientes" ng-change="productoOriginal(original.cliente)" required>
						<option value="">Cliente</option>
					</select>
				</div>
				<div class="col-md-6">
        			<label for="unidad">Unidad</label>
        			<select class="form-control" id="unidad" ng-disabled="bloqueoUni" ng-change="referencia(unidadref)" ng-model="unidadref" ng-options="unidad.id as unidad.nombre for unidad in unidades">
						<option value="">Unidad</option>
					</select>
        		</div>
			</div>
        	<div class="row">
        		<div class="col-md-6">
        				<label for="producto">Producto</label>
						<select class="form-control" id="producto" ng-disabled="bloqueo"  ng-model="original.producto" ng-options="producto.id as producto.nombre for producto in productos" ng-change="verificaEscolaridad()" required>
							<option value="">Producto</option>
						</select>
        		</div>
        		<div class="col-md-6" ng-show="muestraEsc">
        			<label for="escolaridad">Escolaridad</label>
        			<select  id="escolaridad" class="form-control" ng-disabled="bloqueo"  ng-model="original.escolaridad" ng-options="escolaridad.id as escolaridad.nombre for escolaridad in escolaridades">
						<option value="">Escolaridad</option>
					</select>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-6">
        			<label for="remesa">Remesa</label>
        			<input type="text" id="remesa" class="form-control" ng-model="remesa" remesa  required>
        		</div>
        		<div class="col-md-6">	
        			<br>
        			<blockquote>
					  <p>{{label1}}</p>
					</blockquote>
        		</div>
        	</div>
            <div class="row" ng-show="penalizacionesData&&original.tipoDoc==1">                
                <div class="col-md-12">
                    <label for="" radio-inline c-radio>Penalización</label>    
                </div>               
                <div class="col-md-4" >
                    <label for="datepicker4">fecha de pase</label>
                    <input type="text" ng-change="validafechaAtencion()" class="form-control" ng-model="original.fechaAtencion" id="datepickerB" >
                </div>
                <div class="col-md-8" style="padding-top: 1em">                
                    <div class="col-md-3" ng-repeat="penalizacion in penalizacionesData">
                        <label class="radio-inline c-radio" style="font-size: 12px">
                        <input id="inlineradio1" type="radio" name="i-radio" value="{{penalizacion.PEN_cveint}}" ng-model="original.penalizacion">
                        <span class="glyphicon glyphicon-ok"></span>{{penalizacion.PEN_iniRango}} - {{penalizacion.PEN_diasRango}}</label>
                    </div>
                </div>
            </div>     
            <div class="row" ng-show="original.penalizacion>5">
                <div class="col-md-12">
                    <label>Correo</label>
                    <input type="mail"  class="form-control" ng-model="original.correoPenalizacion" ng-required="original.penalizacion>5">                    
                </div>
                
            </div>       

        	<div class="row">
        		<div class="col-md-6">
        			<h3 class="text-center">{{label2}}</h3>
        		</div>
        		<div class="col-md-6">
        			<h3 class="text-center" ng-class="label3Class">{{label3}}</h3>
        		</div>
        	</div>
        	<div ng-show="mensaje != '' " ng-class="tipoalerta" class="alert animate-show">{{mensaje}}</div>
        </div>
        </form>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-4" ng-show="veFolZima">                     
                        <input type="text" class="form-control" capitalize placeholder="Folio Zima" name="folioZima" ng-model="folioZima" >                                
                </div>            
                <div class="col-md-2" ng-show="veFolZima">
                    <div ng-hide='cargadorZ'>
                    <button class="btn btn-success" ng-click="validaFolioZima(folioZima)">Enviar</button>
                    </div>
                    <div ng-show="cargadorZ">
                        <img src="images/cargador.gif" width="60">
                    </div>
                </div>
                <div class="col-md-6" ng-hide='veFolZima'></div>
                <div class="col-md-6">
                	<button id="botonGuardaDatos" type="submit" form="formCapturaOriginal" ng-disabled="formCapturaOriginal.$invalid || esFeSinCaptura" data-loading-text="Guardando..." class="btn btn-primary">Guardar</button>
                	<button type="button" class="btn btn-success" ng-click="inicio()">Limpiar</button>
                  	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <div class="row" ng-show="mensajeRes">
                <div class="col-md-12 text-center" >
                    <div class="alert alert-warning">{{mensajeRes}}</div>
                </div>
            </div>
        </div>
      </div><!-- /.modal-content -->
      
</div><!-- /.modal-dialog -->


<script type="text/javascript">
	$.datepicker.setDefaults($.datepicker.regional["es"]);
	$( "#datepickerA" ).datepicker({showButtonPanel: true});
</script>

<script type="text/javascript">
    $.datepicker.setDefaults($.datepicker.regional["es"]);
    $( "#datepickerB" ).datepicker({showButtonPanel: true});
</script>