<div id="contenedor"  ng-init="inicio()">
    <div class="titulos">
        <a href="#/pagos" class="icon-arrow-left"></a>
        <h1>{{titulo}}</h1>
    </div>

    <legend></legend>

    	<ul id="rb-grid-small" class="rb-grid-small clearfix">

		    <li class="rb-span-1" id="color1">
		        <h3> REP </h3>
		        <a href="#/listadoComplementos">
		            <span class="glyphicon glyphicon-align-justify"></span>
		        </a>
		    </li>

		</ul><br>

    <div class="panel panel-primary">

	      <div class="panel-heading">  <!-- Heading panel -->
	          <h4> FACTURA DE RECEPCIÓN DEC PAGOS </h4>   
	        
	      </div> <!-- Fin Heading panel -->  <!--inicia el formulario, se declara nuestra funcion de el submit para realizar busqueda-->
		  <div class="row" >
				<div class="col-md-4">
					<br>

                <input class="btn btn-primary" type="file" webkitdirectory directory ng-file-select="subeXML($files)" multiple />

					<!-- <input type="file" file-input="files" multiple /> -->
				</div>

				<div class="col-md-2" id="btnvalidar">
					<br>
					<button class="btn btn-warning btn-lg btn-block glyphicon glyphicon-ok" ng-click="valida()"> 	Procesar </button>
				</div>

		  </div><br>

		  <div class="row">

		  	<div class="col-md-2">
		  	</div>

  		     <div class="col-md-2">
		        <!-- START widget-->
	           <div class="panel-body bg-warning text-center">
	            
	            <a href="" class="text-white">
	              <em class="glyphicon glyphicon-ok-sign"></em></a>
	            <p><strong> Pagos </strong></p>
	            <p>{{ conteoPago }}</p>

	           </div>

		     </div>

		     <div class="col-md-2">
		        <!-- START widget-->
	           <div class="panel-body bg-primary text-center">
	            
	            <a href="" class="text-white">
	              <em class="glyphicon glyphicon-remove-sign"></em></a>
	            <p><strong> Ingresos </strong></p>
	            <p>{{ conteoIngreso }}</p>

	           </div>

		     </div>

		  </div><br>
		  <div class="row">
		  	<div class="col-md-4"></div>
		  	<div class="col-md-4">   
		  		<div class="progress">
			      <div id="bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
			        <span class="sr-only">0% Complete</span>
			      </div>
			    </div>
			    <div class="progress">
			      <div id="bar1" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
			        <span class="sr-only">0% Complete</span>
			      </div>
			    </div>
            </div>

			<div class="col-md-4"></div>
		  </div><br>
		  <div class="row">
              <div class="col-md-2"></div>
	          <div class="col-md-8">

	                <table  class="table table-primary table-hover table-condensed table-responsive" >

	                    <tr>          
	                        <td colspan='3' class='text-center text-danger'><h3><b>Encontrados en sitema</b></h3></td>         
	                    </tr>
	                    <tr>          
	                        <th><b></b></th>
	                        <th class='text-primary'><b>Folio Fiscal TC: Pago</b></th>         
	                    </tr>

	                    <tr ng-repeat="foliopago in foliopagos">                            

	                        <td> </td>
	                        <td> </td>
	                        <td >{{ foliopago }} </td>

	                    </tr>
	                    <tr>          
	                        <th><b></b></th>
	                        <th class='text-primary'><b>Folio Fiscal TC: Ingreso</b></th>         
	                    </tr>
	                    <tr ng-repeat="folioingreso in folioingresos">                            

	                        <td> </td>
	                        <td> </td>
	                        <td class='text-warning'>{{ folioingreso }} </td>

	                    </tr>

	                </table>

	        </div>
	        <div class="col-md-2"></div>

		    </div><br><br>
					  

		  <legend class="text-primary"></legend>



    </div>

   
</div>