<div ng-init="inicio()">
	<div class="titulos">
		<a href="#/" class="icon-arrow-left"></a>
		<h1>{{tituloCD}}</h1>
	</div>
	<ul id="rb-grid-small" class="rb-grid-small clearfix">

	    <li class="rb-span-1" id="color3" ng-if="Captura == 1">

	        <h3>Original</h3>
	        <a data-target="#myModal3" ng-click="muestraOriginal()" href="">
	            <span class="icon-book"></span>
	        </a>
	    </li>

	    <li class="rb-span-1" id="color3">

	        <h3>Cap. Tramite</h3>
	        <a data-target="#capturaTramite" ng-click="capturaTramite()" href="">
	            <span class="glyphicon glyphicon-file"></span>
	        </a>
	    </li>
	    <li class="rb-span-1" id="color3">

	        <h3>Carta Qualitas</h3>
	        <a data-toggle="modal" data-target="#cedulaQualitas" ng-click="reseteVariables()" href="">
	            <span class="glyphicon glyphicon-file"></span>
	        </a>
	    </li>
		
	</ul>
	<div class="row">
		<div class="col-md-4">
			<fieldset>
				<legend>Fechas</legend>
				<div class="row">
					<div class="col-md-6">
						<input type="text" ng-model="fechaini" class="form-control" id="datepicker" placeholder="inicial" />
					</div>
					<div class="col-md-6">
						<div class="input-group">
							<input type="text" ng-model="fechafin" class="form-control" id="datepicker2" placeholder="Final" />
							<span class="input-group-btn">
						        <button class="btn btn-default" type="button" ng-click="foliosxfecha()"><i class="glyphicon glyphicon-search"></i></button>
						    </span>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="col-md-3">
			<fieldset>
				<legend>Folio</legend>
				<div class="input-group">
					<input type="text" ng-model="folio" class="form-control" ng-change="filtra()" folioex="foliosxfolio" />
					<span class="input-group-btn">
				        <button class="btn btn-default" type="button" ng-click="verificaFolio()"><i class="glyphicon glyphicon-search"></i></button>
				    </span>
				</div>
			</fieldset>
		</div>
		<div class="col-md-5">
			<fieldset>
				<legend>Lesionado</legend>
				<form ng-submit="foliosxlesionado()">
				<div class="input-group">
					<input type="text" ng-model="lesionado" class="form-control" ng-change="filtra()" capitalize />
					<span class="input-group-btn">
				        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
				    </span>
				</div>
				</form>
				
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>Filtros</legend>
				<div class="row">
					<div class="col-md-2">
						<select class="form-control"  ng-model="cliente" ng-options="cliente as cliente.nombre for cliente in clientes" ng-change="filtra()">
							<option value="">Cliente</option>
						</select>
					</div>
					<div class="col-md-2">
						<select class="form-control"  ng-model="unidad" ng-options="unidad as unidad.nombre for unidad in unidades" ng-change="filtra()">
							<option value="">Unidad</option>
						</select>
					</div>
					<div class="col-md-2">
						<select class="form-control"  ng-model="tipo" ng-change="filtra()">
							<option value="">Fax Y Original</option>
							<option value="fax">Fax</option>
							<option value="original">Original</option>
						</select>
					</div>
					<div class="col-md-2">
						<select class="form-control" id="producto" ng-model="producto" ng-change="filtra()" ng-options="producto as producto.nombre for producto in productosini" required>
							<option value="">Producto</option>
						</select>
					</div>
					<div class="col-md-2">
						<select class="form-control" id="tipodoc" ng-change="filtra()" ng-model="etapa">
							<option value="">Etapa</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
					<div class="col-md-2">
						<select class="form-control" id="tipodoc" ng-change="filtra()" ng-model="situacion">
							<option value="">Situacion</option>
							<option value="SIN CAPTURAR">SIN CAPTURAR</option>
							<option value="CAPTURADO">CAPTURADO</option>
						</select>
					</div>
					<div class="col-md-2">
						<button class="btn btn-danger btn-block icon-close" ng-click="quitafiltro()"> Quitar Filtros</button>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<br>
	<div id="copiar" class="gridStyle" ng-grid="gridOptions"></div>
	<br>	
	<br>
	<!-- directiva para exportar a excel ver app.js mas nfo -->
	<button ng-click="exporta()" data-loading-text="Generando..." id="boton" class="btn btn-success glyphicon glyphicon-download-alt"> Exportar</button>
	<!-- <excel info="listado"></excel> -->
</div>


<div class="modal fade" id="cedulaQualitas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Verifica Cédula</h5>        
      </div>
      <div class="modal-body">
      	<form ng-submit="verificaCedula()" id="forma" name="forma">
	        <div class="row">
	    		<div class="col-md-5">
	    			<label for="folioO">Folio</label>
	    			<input type="text" id="folioO" class="form-control" folioex="validaOriginalA" ng-model="folioCedula">
	    		</div>
	    		<div class="col-md-1">
	    			<br>
	    			<img ng-show="cargador" src="images/cargando.gif">
	    		</div>
	    		
	    	</div>
	    	<div class="row" ng-show="datosCedula">
	    		<div class="col-md-12">
	    			<table class="table" id="formatoCedula">
	    				<tr>
	    					<td>
	    						<small><b>FOLIO MV: </b></small> <br>{{datosCedula.Exp_folioRelacion}}
	    					</td>	    					
	    					<td colspan="3">
	    						<small><b>Lesionado: </b></small> <br>{{datosCedula.QWS_lesionado}}
	    					</td>	    					
	    					<td>
	    						 <small><b>Poliza: </b></small> <br>{{datosCedula.QWS_poliza}}
	    					</td>
	    				</tr>
	    				<tr>
	    					<td>
	    						<small><b>Siniestro: </b></small> <br>{{datosCedula.QWS_siniestro}}
	    					</td>
	    					<td>
	    						<small><b>Reporte: </b> </small> <br>{{datosCedula.QWS_reporte}}
	    					</td>
	    					<td>
	    						<small><b>Folio Electrónico: </b> </small> <br>{{datosCedula.QWS_folioElectronico}}
	    					</td>
	    					<td>
	    						<small><b>Folio Autorización: </b> </small> <br>{{datosCedula.QWS_folioAutorizacion}}
	    					</td>
	    					<td>
	    						<small><b>Riesgo: </b> </small> <br>{{datosCedula.QWS_riesgo}}
	    					</td>
						</tr>
						<tr>
							<td colspan="5"><small>	<b>fecha Cédula</b></small><br>{{datosCedula.QWS_fechaActualizacion}}</td>
						</tr>
	    			</table>	    			
	    		</div>
	    	</div>
	    	</form>
	    	<div class="row" ng-show="datosCedula">
	    		<div class="col-md-12 text-center">
	    			<button class="btn btn-success" ng-click="ImprimirPDF(datosCedula.QWS_folioAutorizacion)">Imprimir PDF</button>
	    			<button class="btn btn-success" ng-click="resetVars()">limpiar</button>
	    		</div>


	    	</div>
	    	<div class="row" ng-show="mensaje">
	    		<div class="col-md-12">
	    			<div class="alert alert-warning">No existe cédula para este folio</div>
	    		</div>
	    	</div>
    	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> 
        <!-- <button type="hidden" form="forma"></button>        -->
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	$.datepicker.setDefaults($.datepicker.regional["es"]);
	$( "#datepicker" ).datepicker({showButtonPanel: true});
	$( "#datepicker2" ).datepicker({showButtonPanel: true});
</script>