<div id="contenedor" class="main" ng-init="inicio()">
	<div class="titulos">
		<a href="#/" class="icon-arrow-left"></a>
		<h1>Búsqueda de Folios</h1>
	</div>

	<div class="row">
		<div class="col-md-4 col-xs-4" >
			<input type="text" ng-model="folio" class="form-control" placeholder="Folio" folio>
		</div>

		<div class="col-md-4 col-xs-4">
			<button ng-click="ShowForm()" ng-hide="formVisible" type="submit" id="boton" class="btn btn-primary"  data-loading-text="Consultando...">Consultar
			</button>
		</div>

		<div class="col-md-2">
			<img ng-show="cargar" class="animate-show" src="images/cargando.gif">
		</div>
	</div>

	<br>

	<div class="loading-container" ng-show="cargando">
	    <div class="loading"></div>
	    <div id="loading-text">Cargando</div>
	</div>
	
	<form role="form" ng-show="formVisible">

		<div class="row" >
			<div class="col-md-4 col-xs-4">
				<input type="text" ng-model="nombre" class="form-control" placeholder="Nombre">
			</div>

			<div class="col-md-4 col-xs-4">
				<input type="text" ng-model="apellidoP" class="form-control" placeholder="Apellido Paterno">
			</div>

			<div class="col-md-4 col-xs-4" >
				<input type="text" ng-model="apellidoM" class="form-control" placeholder="Apellido Materno">
			</div>
		</div>

		<br>

		<div class="row" >
			<div class="col-md-4 col-xs-4">
				<input type="text" ng-model="reporte" class="form-control" placeholder="Reporte">
			</div>

			<div class="col-md-4 col-xs-4">
				<input type="text" ng-model="poliza" class="form-control" placeholder="Póliza">
			</div>

			<div class="col-md-4 col-xs-4" >
				<input type="text" ng-model="cliente" class="form-control" placeholder="Cliente">
			</div>
		</div>

		<br>

		<div class="row" >
			<div class="col-md-4 col-xs-4">
				<input type="text" ng-model="producto" class="form-control" placeholder="Producto">
			</div>

			<div class="col-md-4 col-xs-4">
				<input type="text" ng-model="costoEmp" class="form-control" placeholder="Costo Empresa">
			</div>

			<div class="col-md-4 col-xs-4" >
				<input type="text" ng-model="fechNacim" class="form-control" placeholder="Fecha Nacimiento">
			</div>
		</div>

		<br>

		<div class="row" >
			<div class="col-md-4 col-xs-4">
				<input type="text" ng-model="riesgo" class="form-control" placeholder="Riesgo">
			</div>

			<div class="col-md-4 col-xs-4">
				<input type="text" ng-model="posicion" class="form-control" placeholder="Posición">
			</div>
		</div>

		<br>

		<div class="col-md-12" "col-xs-6" align="center">
			<button ng-click="Actualiza()" type="submit" id="boton" class="btn btn-success btn-lg" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Actualizando..." >Actualizar</button>
		</div>	
	</form>
</div>	