<div id="contenedor" class="main">
	<div class="titulos">
		<a href="#/" class="icon-arrow-left"></a>
		<h1>Edición de Datos</h1>
	</div>

	<label>Busqueda por Folio</label>
	<div class="row">
		<div class="col-md-4 col-xs-4" >
			<input type="text" ng-model="folio" class="form-control" placeholder="Folio" capitalize>
		</div>

		<div class="col-md-4 col-xs-4">
			<button ng-disabled="folio.length == 0" ng-click="consultaDatos()" type="submit" id="boton" class="btn 
			btn-primary" data-loading-text="Consultando...">Consultar
			</button>
		</div>

		<div class="col-md-2">
			<img ng-show="cargar" class="animate-show" src="images/cargando.gif">
		</div>
	</div>

	<br>

	<div class="loading-container" ng-show="cargando">
	    <div class="loading"></div>
	    <div id="loading-text">Cargando</div>
	</div>
	
	<form role="form" ng-show="formVisible">
		<fieldset>
			<legend></legend>
			<!-- <div class="row">
				<div class="col-md-4 col-xs-4" >
					<input type="text" ng-model="folio" class="form-control" placeholder="Folio">
				</div>
			</div> -->
			<div class="row" >
				<div class="col-md-4 col-xs-4">
					<label>Nombre Completo</label>
					<input type="text" ng-model="datos.lesionado" class="form-control" required capitalize>
				</div>

				<div class="col-md-4 col-xs-4" >
					<label>Fecha de Nacimiento</label>
					<input type="text" ng-model="datos.fechaNacimiento" class="form-control">
				</div>

				<div class="col-md-4 col-xs-4">
					<label>Póliza</label>
					<input type="text" ng-model="datos.poliza" class="form-control" required>
				</div>
			</div>

			<br>

			<div class="row" >
				<div class="col-md-4 col-xs-4">
					<label>Cliente</label>
					<select class="form-control"  ng-model="datos.cliente" ng-options="cliente as cliente.nombre for	cliente in clientes" ng-change="filtra()">
						<option value="" disabled selected></option>
					</select>
				</div>

				<div class="col-md-4 col-xs-4">
					<label>Reporte</label>
					<input type="text" ng-model="datos.reporte" class="form-control" required>
				</div>

				<div class="col-md-4 col-xs-4">
					<label>Producto</label>
					<select class="form-control" id="producto" ng-model="datos.producto" ng-change="filtra()" ng-options="producto as producto.nombre for producto in productosini">
						<option value="" disabled selected></option>
					</select>
				</div>
			</div>

			<br>

			<div class="row" >
				<div class="col-md-4 col-xs-4">
					<label>Riesgo</label>
					<select class="form-control" id="riesgo" ng-model="datos.riesgo" ng-change="filtra()" ng-
					options="">
						<option value="" disabled selected></option>
					</select>
				</div>
			</div>

			<div class="row" align="center">
				<div class="footer" role="group" aria-label="...">
					<button ng-disabled="!folio" ng-click="Actualiza()" type="submit" id="boton" class="btn btn-success" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Actualizando...">Actualizar</button>

					<button ng-disabled="!folio" type="Reset" ng-click="Actualiza() " id="btnlimpia" class="btn btn-info">Editar Nuevo</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>	
