<div ng-init="inicio()" id="contenedor">
	
	<div class="titulos">
		<a ng-if="!edicion" href="#/" class="icon-arrow-left"></a>
		<a ng-if="edicion" href="" class="icon-arrow-left" ng-click="regresar()"></a>
		<h1>{{tituloFE}}</h1>
	</div>
	
	<ul id="rb-grid-small" class="rb-grid-small clearfix">

	    <li class="rb-span-1" id="color3">

	        <h3>Solicitados <span ng-show=" solicitados > 0 " class="push">{{solicitados}}</span></h3>
	        <a href="#/facturacionEx/solicitados">
	            <span class="icon-box-add"></span>
	        </a>

	    </li>

	    <li class="rb-span-1" id="color3">

	        <h3>Rechazos<span ng-show=" rechazados > 0 " class="push">{{rechazados}}</span></h3>
	        <a href="#/facturacionEx/rechazados">
	            <span class=" icon-cancel-circle"></span>
	        </a>
	        
	    </li>

	    <li class="rb-span-1" id="color3">

	        <h3>Autorizados<span ng-show=" autorizados > 0 " class="push">{{autorizados}}</span></h3>
	        <a href="#/facturacionEx/autorizados">
	            <span class=" icon-folder-open"></span>
	        </a>

	    </li>

	</ul>
	

	<section ng-hide="edicion">
		
		<h2>Folios a Autorizar</h2>
		
		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Selecciona Parametros</legend>
					<form ng-submit="consultaPendientes()">
						<div class="row">
							<div class="col-md-2">
								<select class="form-control"  ng-model="datos.cliente" ng-options="cliente.Clave as cliente.Nombre for cliente in clientes" required>
									<option value="">Cliente</option>
								</select>
							</div>
							<div class="col-md-10">
								<div class="row">
							        <div class="col-sm-4 col-md-4">
							            <input type="text" ng-model="datos.fechaini" class="form-control" id="datepicker" placeholder="inicial" required/>
							        </div>
							        <div class="col-sm-4 col-md-4">
							            <div class="input-group">
							                <input type="text" ng-model="datos.fechafin" class="form-control" id="datepicker2" placeholder="Final" required/>
							                <span class="input-group-btn">
							                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
							                </span>
							            </div>
							        </div>
							    </div>
							</div>
						</div>
					</form>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<fieldset>
					<legend>Filtros</legend>
					<div class="row">
						<div class="col-md-2">
							<select class="form-control"  ng-model="unidad" ng-change="filtra()">
								<option value=""> Tipo Unidad</option>
								<option value="S"> Propia</option>
								<option value="N"> Red</option>
							</select>
						</div>
						<div class="col-md-2">
							<select class="form-control"  ng-model="digital" ng-change="filtra()">
								<option value=""> Documentos</option>
								<option value="SIN DIGITALIZAR"> Sin Digitalizar</option>
								<option value="DIGITALIZADO"> Digitalizado</option>
							</select>
						</div>
						<div class="col-md-8">
							<div class="input-group">
								<div class="input-group-addon">
							        <i class="glyphicon glyphicon-search"></i>
							    </div>
								<input type="text" ng-model="criterio" class="form-control" capitalize ng-change="filtra()" placeholder="Otro"/>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="gridStyle" ng-grid="gridOptions"></div>
		<br>


		<br>
		<!-- <div ng-show="mensaje != '' " ng-class="tipoalerta" class="alert alert-success animate-show">{{mensaje}}</div> -->
		<br>
		<br>
		
	</section>


	<section ng-show="edicion" class="slide">
		
		<h2>Folio: {{ detalle.expediente.folio }}</h2>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Documentos Digitalizados</div>
					<div class="panel-body">
						
						<div class="btn-group btn-group-justified" role="group" aria-label="Documentos">
						  <div class="btn-group" role="group">
						    <button type="button" class="btn btn-default" ng-click="muestraArchivos(detalle.archivos.todos)" ng-disabled="detalle.archivos.todos.length == 0"><i class="glyphicon glyphicon-th"></i> Ver todos</button>
						  </div>
						  <div class="btn-group" role="group">
						    <button type="button" class="btn btn-default" ng-click="muestraArchivos(detalle.archivos.pase)" ng-disabled="detalle.archivos.pase.length == 0"><i class="glyphicon glyphicon-file"></i> Pase</button>
						  </div>
						</div>

						<div class="btn-group btn-group-justified" role="group" aria-label="Documentos">
						  <div class="btn-group" role="group">
						    <button type="button" class="btn btn-default" ng-click="muestraArchivos(detalle.archivos.notaMedica)" ng-disabled="detalle.archivos.notaMedica.length == 0"><i class="glyphicon glyphicon-list-alt"></i> Nota Médica</button>
						  </div>
						  <div class="btn-group" role="group">
						    <button type="button" class="btn btn-default" ng-click="muestraArchivos(detalle.archivos.identificacion)" ng-disabled="detalle.archivos.identificacion.length == 0"><i class="glyphicon glyphicon-user"></i> Identificación</button>
						  </div>
						</div>
						<div class="btn-group btn-group-justified" role="group" aria-label="Documentos">
						  <div class="btn-group" role="group">
						    <button type="button" class="btn btn-default" ng-click="muestraArchivos(detalle.archivos.cuestionario)" ng-disabled="detalle.archivos.cuestionario.length == 0"><i class="glyphicon glyphicon-book"></i> Cuestionario</button>
						  </div>
						  <div class="btn-group" role="group">
						    <button type="button" class="btn btn-default" ng-click="muestraArchivos(detalle.archivos.hisotriaClinica)" ng-disabled="detalle.archivos.hisotriaClinica.length == 0"><i class="glyphicon glyphicon-list-alt"></i> Historia Clinica</button>
						  </div>
						  
						</div>

						<div class="btn-group btn-group-justified" role="group" aria-label="Documentos">
						  <div class="btn-group" role="group">
						    <button type="button" class="btn btn-default" ng-click="muestraArchivos(detalle.archivos.otros)" ng-disabled="detalle.archivos.otros.length == 0"><i class="glyphicon glyphicon-duplicate"></i> Otros</button>
						  </div>
						  
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Operaciones</div>
					<div class="panel-body">
						
						<div class="btn-group btn-group-justified" role="group" aria-label="Documentos">

						  <div class="btn-group" role="group">
						    <button type="button" class="btn btn-default" ng-click="vistaCaptura = !vistaCaptura" ng-disabled="!sinCaptura"><i class="glyphicon glyphicon-pencil"></i> Capturar Datos</button>
						  </div>
						  <div class="btn-group" role="group">
						    <button type="button" class="btn btn-default" ng-click="vistaCuestionario = !vistaCuestionario" ng-disabled="sinCuestionario"><i class="glyphicon glyphicon-pencil"></i> Captura Cuestionario</button>
						  </div>

						</div>
						<div class="btn-group btn-group-justified" role="group" aria-label="Documentos">

						  <div class="btn-group" role="group">
						    <button type="button" class="btn btn-default" ng-click="vistaTicket = !vistaTicket; nuevoTicket()" ng-disabled="!sinCaptura"><i class="icon-ticket"></i> Generar Ticket</button>
						  </div>

						</div>

						<div class="btn-group btn-group-justified" role="group" aria-label="Documentos">

						<div class="btn-group" role="group">
						    <button type="button" class="btn btn-success" id="botonAut" ng-click="solicitaAut()" data-loading-text="Autorizando..." ng-disabled="sinCaptura || procesado"><i class="glyphicon glyphicon-ok"></i> 
						    	{{ textoAutorizacion }}
						    </button>
						</div>

						</div>

					</div>
				</div>

				<div ng-show="mensajeAut" class="alert alert-success animate-show">{{mensajeAut}}</div>

			</div>
		</div>

		<div class="panel panel-primary" ng-show="vistaCuestionario">

			<div class="panel-heading">Captura Cuestionario</div>
			<div class="panel-body">
				
				<div ng-include="'vistas/capturaCuestionario.html'"></div>

			</div>
		</div>
		
	</section>

</div>

<!-- <div class="modal fade" id="DatosModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Captura de datos</h4>
			</div>
			<form ng-submit="capturaFE()" name="capturaForm">
				<div class="modal-body">
					<div class="row">

						<div class="col-md-12">
							<div class="form-group">
							    <label for="reporte">Lesionado</label>
							    <input type="text" class="form-control" ng-model="captura.Nombre" id="Reporte" placeholder="Reporte">
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
							    <label for="siniestro">Siniestro</label>
							    <input type="text" class="form-control" ng-model="captura.Siniestro" id="siniestro" placeholder="Siniestro">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
							    <label for="poliza">Poliza</label>
							    <input type="text" class="form-control" ng-model="captura.Poliza" id="poliza" placeholder="Poliza">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
							    <label for="reporte">Reporte</label>
							    <input type="text" class="form-control" ng-model="captura.Reporte" id="Reporte" placeholder="Reporte">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label for="">Tipo de Pase</label>
							<select class="form-control" ng-model="captura.Tipo" required>
								<option value="">Tipo de Pase</option>
								<option value="Ticket">Ticket</option>
								<option value="Formato">Formato</option>
							</select>
						</div>
						<div class="col-md-4">
							<label for="">Triage</label>
							<select class="form-control"  ng-model="captura.triage"  ng-options="triage.TRI_claveint as triage.TRI_nombre for triage in triages" required>
								<option value="">Triage</option>
							</select>
						</div>
						<div class="col-md-4 text-center">
							<label for="">Pago a Unidad</label>
							<br>
							<label class="radio-inline">
						  		<input type="radio" ng-model="captura.pagoUnidad" ng-value="1" name="pagoUnidad" id="inlineRadio1" value="1"> Si
							</label>
							<label class="radio-inline">
						  		<input type="radio" ng-model="captura.pagoUnidad" ng-value="0" name="pagoUnidad" id="inlineRadio2" value="0"> No
							</label>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
							    <label for="motivoNoPago">Motivo No Pago</label>
							    <input type="text" class="form-control" ng-model="captura.motivoNoPago" id="motivoNoPago" placeholder="motivoNoPago">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label for="">Tipo de Lesion</label>
							<select class="form-control"  ng-model="captura.tipoLes" ng-change="buscaLesiones(captura.tipoLes)" ng-options="tipoLes.TLEClave as tipoLes.Nombre for tipoLes in tipoLesiones" required>
								<option value="">Tipo de Lesion</option>
							</select>
						</div>
						<div class="col-md-8">
							<label for="">Lesion</label>
							<select class="form-control"  ng-model="captura.Lesion" ng-change="verificaTabulador(captura.Lesion)" ng-options="lesion as lesion.LES_nombre for lesion in lesiones" required>
								<option value="">Lesion</option>
							</select>
						</div>
					</div>
					<div class="row" ng-hide="nuevoAjustador">
						<div class="col-md-9">
							<label for="">Ajustador</label>
							<select class="form-control"  ng-model="captura.Ajustador" ng-options="ajustador.AJU_claveint as ajustador.AJU_nombre for ajustador in ajustadores">
								<option value="">Ajustador</option>
							</select>
						</div>
						<div class="col-md-3">
							<label for=""></label>
							<button type="button" class="btn btn-primary" ng-click="nuevoAjustador = !nuevoAjustador">Nuevo Ajustador</button>
						</div>
					</div>
					<div class="row" ng-show="nuevoAjustador">
						<div class="col-md-9">
							<label for="">Nombre del Ajustador</label>
							<input type="text" class="form-control" ng-model="ajustador" id="ajustador" placeholder="Ajustador" ng-disabled="ocultaBotones" capitalize>
						</div>
						<div class="col-md-3" ng-hide="ocultaBotones">
							<br>
							<button type="button" class="btn btn-default" ng-click="guardaAjustador()"><i class="icon-checkmark-circle"></i></button>
							<button type="button" class="btn btn-danger" ng-click="nuevoAjustador = !nuevoAjustador"><i class="icon-cancel-circle"></i></button>
						</div>
					</div>
				</div>
				<div ng-show="mensaje" class="alert alert-success animate-show">{{mensaje}}</div>
				<div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			        <button type="submit" id="botonAct" class="btn btn-primary" ng-disabled="verificaDatos()" data-loading-text="Guardando...">Gaurdar Cambios</button>
			    </div>
			</form>
		</div>
	</div>
</div> -->

<div class="panel panel-primary animate-show" id="izquierda-pantalla" ng-show="vistaArchivos">

	<div class="panel-heading">Vista Previa <button type="button" ng-click="vistaArchivos = !vistaArchivos" class="close" aria-label="Close"><span class="white-text" aria-hidden="true">&times;</span></button> </div>
	<div class="panel-body">
		
		<div class="frame-container" ng-repeat="archivo in archivos">
	        <a class="btn btn-info" ng-href="{{ obtenerFrame(archivo) }}" target="_blank">Abrir otra ventana</a>
	        <button class="btn btn-primary" ng-click=" rotar = !rotar ">Girar</button>
	        <embed ng-if="file(archivo)" ng-src="{{ obtenerFrame(archivo) }}" width="100%" id="files">
	        <img ng-if="imagen(archivo)" ng-class="{'rotado': rotar}" ng-src="{{ obtenerFrame(archivo) }}" 
		        ng-init="zoomWidth = 800;imgStyle = {width:'100%'}" 
		        ng-style="imgStyle" 
				ng-mouse-wheel-up="zoomWidth = zoomWidth + 20; imgStyle.width = zoomWidth +'px'; "  
				ng-mouse-wheel-down="zoomWidth = zoomWidth - 20;imgStyle.width = zoomWidth  +'px'; "
			/>
	    </div>

	</div>
</div>

<!-- Captura de Expediente -->
<div class="panel panel-primary animate-show" id="derecha-pantalla" ng-show="vistaCaptura">

	<div class="panel-heading">Captura de Pase <button type="button" ng-click="vistaCaptura = !vistaCaptura" class="close" aria-label="Close"><span class="white-text" aria-hidden="true">&times;</span></button> </div>
	<div>
		
		<form ng-submit="capturaFE()" name="capturaForm">
			<div class="modal-body">
				<div class="row">

					<div class="col-md-12">
						<div class="form-group">
						    <label for="reporte">Lesionado</label>
						    <input type="text" class="form-control" ng-model="captura.Nombre" id="Reporte" placeholder="Reporte">
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
						    <label for="siniestro">Siniestro</label>
						    <input type="text" class="form-control" name="siniestro" ng-model="captura.Siniestro" id="siniestro" ng-minlength="SiniestroMin" ng-maxlength="SiniestroMax" placeholder="Siniestro">
						    <div ng-messages="capturaForm.siniestro.$error" class="text-danger">
								<div ng-message="required">Campo obligatorio.</div>
								<div ng-message="maxlength">El campo no puede ser mayor que {{ SiniestroMax }} digitos.</div>
								<div ng-message="minlength">El campo no puede ser menor que {{ SiniestroMin }} digitos.</div>
					        </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
						    <label for="poliza">Poliza</label>
						    <input type="text" class="form-control" name="poliza" ng-model="captura.Poliza" id="poliza" ng-minlength="PolizaMin" ng-maxlength="PolizaMax" placeholder="Poliza">
						    <div ng-messages="capturaForm.poliza.$error" class="text-danger">
								<div ng-message="required">Campo obligatorio.</div>
								<div ng-message="maxlength">El campo no puede ser mayor que {{ PolizaMax }} digitos.</div>
								<div ng-message="minlength">El campo no puede ser menor que {{ PolizaMin }} digitos.</div>
					        </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
						    <label for="reporte">Reporte</label>
						    <input type="text" class="form-control" name="reporte" ng-model="captura.Reporte" id="Reporte" ng-minlength="ReporteMin" ng-maxlength="ReporteMax" placeholder="Reporte">
						    <div ng-messages="capturaForm.reporte.$error" class="text-danger">
								<div ng-message="required">Campo obligatorio.</div>
								<div ng-message="maxlength">El campo no puede ser mayor que {{ ReporteMax }} digitos.</div>
								<div ng-message="minlength">El campo no puede ser menor que {{ ReporteMin }} digitos.</div>
					        </div>
						</div>
					</div>
				</div>
				<div class="row" ng-show="datos.cliente == 19">

					<div class="col-md-6">
						<div class="form-group">
						    <label for="cedula">Folio de Autorización</label>
						    <input type="text" class="form-control" ng-model="captura.cedulaElectronica" name="cedula" id="cedula" ng-required="datos.cliente == 19" ng-minlength="13" ng-maxlength="13" placeholder="cedula" capitalize>
						    <div ng-messages="capturaForm.cedula.$error" class="text-danger">
								<div ng-message="required">Campo obligatorio.</div>
								<div ng-message="maxlength">El campo no puede ser mayor que 13 digitos.</div>
								<div ng-message="minlength">El campo no puede ser menor que 13 digitos.</div>
					        </div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
						    <label for="RegCompania">Folio Electronico</label>
						    <input type="text" name="RegCompania" class="form-control" ng-model="captura.RegCompania" id="RegCompania" ng-minlength="FolioElecMin" ng-maxlength="FolioElecMax" ng-required="datos.cliente == 19" placeholder="RegCompania">
						    <div ng-messages="capturaForm.RegCompania.$error" class="text-danger">
								<div ng-message="required">Campo obligatorio.</div>
								<div ng-message="maxlength">El campo no puede ser mayor que {{ FolioElecMax }} digitos.</div>
								<div ng-message="minlength">El campo no puede ser menor que {{ FolioElecMin }} digitos.</div>
					        </div>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-4">
						<label for="">Tipo de Pase</label>
						<select class="form-control" ng-model="captura.Tipo" required>
							<option value="">Tipo de Pase</option>
							<option value="Ticket">Ticket</option>
							<option value="Formato">Formato</option>
						</select>
					</div>
					<div class="col-md-4">
						<label for="">Triage</label>
						<select class="form-control"  ng-model="captura.triage"  ng-options="triage.TRI_claveint as triage.TRI_nombre for triage in triages" required>
							<option value="">Triage</option>
						</select>
					</div>
					<div class="col-md-4 text-center">
						<label for="">Pago a Unidad</label>
						<br>
						<label class="radio-inline">
					  		<input type="radio" ng-model="captura.pagoUnidad" ng-value="1" name="pagoUnidad" id="inlineRadio1" value="1"> Si
						</label>
						<label class="radio-inline">
					  		<input type="radio" ng-model="captura.pagoUnidad" ng-value="0" name="pagoUnidad" id="inlineRadio2" value="0"> No
						</label>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
						    <label for="motivoNoPago">Motivo No Pago</label>
						    <input type="text" class="form-control" ng-model="captura.motivoNoPago" id="motivoNoPago" placeholder="motivoNoPago">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label for="">Tipo de Lesion</label>
						<select class="form-control"  ng-model="captura.tipoLes" ng-change="buscaLesiones(captura.tipoLes)" ng-options="tipoLes.TLEClave as tipoLes.Nombre for tipoLes in tipoLesiones" required ng-disabled="bloqueoLesion">
							<option value="">Tipo de Lesion</option>
						</select>
					</div>
					<div class="col-md-8">
						<label for="">Lesion</label>
						<select class="form-control"  ng-model="captura.Lesion" ng-change="verificaTabulador(captura.Lesion)" ng-options="lesion as lesion.LES_nombre for lesion in lesiones" required>
							<option value="">Lesion</option>
						</select>
					</div>
					
				</div>

				<div class="row">
					<div class="col-md-5">
						<label for="">Riesgo</label>
						<select class="form-control"  ng-model="captura.RIEClave" ng-change="validaCobertura(captura.RIEClave)" ng-options="riesgo.RIE_clave as riesgo.RIE_nombre for riesgo in riesgos" required>
							<option value="">Riesgo</option>
						</select>
					</div>

					<div class="col-md-5" ng-if="datos.cliente == 19">
						<label for="">Cobertura Qualitas</label>
						<select class="form-control"  ng-model="cobertura" disabled>
							<option value="4">04 GM</option>
							<option value="15">15 RC Pasajero</option>
							<option value="3">03 RC</option>
							<option value="18">18 RC Personas</option>
							<option value="13">13 Ext RC</option>
						</select>
					</div>
					
				</div>

					
				<div class="row" ng-hide="nuevoAjustador">
					<div class="col-md-9">
						<label for="">Ajustador</label>
						<select class="form-control"  ng-model="captura.Ajustador" ng-options="ajustador.AJU_claveint as ajustador.AJU_nombre for ajustador in ajustadores">
							<option value="">Ajustador</option>
						</select>
					</div>
					<div class="col-md-3">
						<label for=""></label>
						<button type="button" class="btn btn-primary" ng-click="nuevoAjustador = !nuevoAjustador">Nuevo Ajustador</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label for="">Médico</label>
						<select class="form-control"  ng-model="captura.MedicoMV" ng-options="medico.MED_claveint as medico.MED_nombre for medico in medicos" required>
							<option value="">Médico</option>
						</select>
					</div>
					<div class="col-md-4">
						<label for="">Posición</label>
						<select class="form-control"  ng-model="captura.POSClave" ng-options="posicion.POS_clave as posicion.POS_nombre for posicion in posiciones" required>
							<option value="">Posición</option>
						</select>
					</div>
					<div class="col-md-2">
						<div class="form-group">
						    <label for="sexo">Sexo</label>
						    <select class="form-control"  ng-model="captura.Sexo" required>
								<option value="M">M</option>
								<option value="F">F</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
						    <label for="edad">Edad</label>
						    <input type="text" class="form-control" ng-model="captura.Edad" id="edad" placeholder="edad">
						</div>
					</div>
					<div class="col-md-6">
	        			<label for="datepicker4">Fecha Expedición</label>
	        			<input type="text" class="form-control" ng-model="captura.FExpedicion" ng-change="validafecha()" id="datepickerExpedicion" required>
	        		</div>
				</div>

				<div class="row" ng-show="nuevoAjustador">
					<div class="col-md-9">
						<label for="">Nombre del Ajustador</label>
						<input type="text" class="form-control" ng-model="ajustador" id="ajustador" placeholder="Ajustador" ng-disabled="ocultaBotones" capitalize>
					</div>
					<div class="col-md-3" ng-hide="ocultaBotones">
						<br>
						<button type="button" class="btn btn-default" ng-click="guardaAjustador()"><i class="icon-checkmark-circle"></i></button>
						<button type="button" class="btn btn-danger" ng-click="nuevoAjustador = !nuevoAjustador"><i class="icon-cancel-circle"></i></button>
					</div>
				</div>
				<div class="row">
                    <div class="col-md-12">
						<label>Diagnostico</label>
						<textarea class="form-control" ng-model="captura.Dx" rows="3" required></textarea>
						<span ng-if="captura.Dx.length > 224" class="red">Largo de texto no permitido {{ captura.Dx.length }}</span>  
                    </div>
				</div>
				<div ng-show="mensaje" class="alert alert-success animate-show">{{mensaje}}</div>
				<br>
				<div class="text-right">
			        <button type="button" class="btn btn-default" ng-click="vistaCaptura = !vistaCaptura">Cerrar</button>
			        <button type="submit" id="botonAct" class="btn btn-primary" ng-disabled="verificaDatos()" data-loading-text="Guardando...">Gaurdar Cambios</button>
			    </div>
			</div>
		</form>

	</div>
</div>


<!-- Registro de Ticket -->
<div class="panel panel-primary animate-show" id="derecha-pantalla" ng-show="vistaTicket" ng-init="nuevoTicket()">

	<div class="panel-heading">Registro de Ticket <button type="button" ng-click="vistaTicket = !vistaTicket" class="close" aria-label="Close"><span class="white-text" aria-hidden="true">&times;</span></button> </div>
	<div>
		
		<form name="ticketFE" ng-submit="guardaTicket()" novalidate>
        <div class="modal-body" id="cantidad">
            <br>
            <div class="row">
                <div class="col-md-4">
                        <label for="categoria">Categoria</label>
                        <select class="form-control" id="categoria" ng-change="altasubcategorias(ticket.categoria)" ng-model="ticket.categoria" ng-options="categoria.Clave as categoria.Nombre for categoria in categorias" required>
                            <option value="">Categoria</option>
                        </select>
                </div>
                <div class="col-md-4">
                    <label for="subcategoria">Subcategoria</label>
                    <select id="subcategoria" class="form-control"  ng-model="ticket.subcategoria" ng-options="subcategoria.Clave as subcategoria.Nombre for subcategoria in subcategorias" required>
                        <option value="">Subcategoria</option>
                    </select>
                </div> 
                
                <div class="col-md-4">
                    <label for="status">Status</label>
                    <select id="status" class="form-control"  ng-model="ticket.statusa" ng-options="statu.Clave as statu.Nombre for statu in status" required>
                        <option value="">Status</option>
                    </select>
                </div> 
            </div> 
            <div class="row" ng-show="ticket.statusa == 2">
                <div class="col-md-6">
                  <label for="folio">Asignado A:</label>
                    <input type="text" id="asignado" class="form-control" ng-model="ticket.asignado"  capitalize >
                </div>
                <div class="col-md-6">
                <label>Fecha Asignación</label>
                    <div class="input-group">
                        <input type="text" ng-model="ticket.fechaasignado" class="form-control" id="fechaasigna"/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <br>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">

                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                          Observaciones iniciales
                        </a>
                      </h4>
                    </div>

                    <div id="collapseOne" class="panel-collapse collapse in">
                        
                        <div class="panel-body">
                        
                        
                            <div class="btn-group" data-toggle="buttons">

                                <label class="btn btn-primary" ng-click="ticket.diagnostico = !ticket.diagnostico">
                                <input type="checkbox" ng-model="ticket.diagnostico"><i ng-show="ticket.diagnostico" class="glyphicon glyphicon-ok"></i> Diagnóstico
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.firma = !ticket.firma">
                                <input type="checkbox" ng-model="ticket.firma"><i ng-show="ticket.firma" class="glyphicon glyphicon-ok"></i> Firma de lesionado
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.notamedica = !ticket.notamedica">
                                <input type="checkbox" ng-model="ticket.notamedica"><i ng-show="ticket.notamedica" class="glyphicon glyphicon-ok"></i> Falta nota médica
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.finiquito = !ticket.finiquito">
                                <input type="checkbox" ng-model="ticket.finiquito" ><i ng-show="ticket.finiquito" class="glyphicon glyphicon-ok"></i> Sin finiquito
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.refactura = !ticket.refactura">
                                <input type="checkbox" ng-model="ticket.refactura" ><i ng-show="ticket.refactura" class="glyphicon glyphicon-ok"></i> Refacturación
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.pase = !ticket.pase">
                                <input type="checkbox" ng-model="ticket.pase"><i ng-show="ticket.pase" class="glyphicon glyphicon-ok"></i> Pase médico alterado
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.suministro = !ticket.suministro">
                                <input type="checkbox" ng-model="ticket.suministro"><i ng-show="ticket.suministro" class="glyphicon glyphicon-ok"></i> Suministros (Medicamento/ Órtesis)
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.identificacion = !ticket.identificacion">
                                <input type="checkbox" ng-model="ticket.identificacion" ><i ng-show="ticket.identificacion" class="glyphicon glyphicon-ok"></i> Identificación oficial
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.verificacion = !ticket.verificacion">
                                <input type="checkbox" ng-model="ticket.verificacion" ><i ng-show="ticket.verificacion" class="glyphicon glyphicon-ok"></i> Verificación de firmas
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.notamedicain = !ticket.notamedicain">
                                <input type="checkbox" ng-model="ticket.notamedicain"><i ng-show="ticket.notamedicain" class="glyphicon glyphicon-ok"></i> Nota médica incompleta
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.informe = !ticket.informe">
                                <input type="checkbox" ng-model="ticket.informe"><i ng-show="ticket.informe" class="glyphicon glyphicon-ok"></i> Informe AIG/CHARTIS
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.reverso = !ticket.reverso">
                                <input type="checkbox" ng-model="ticket.reverso"><i ng-show="ticket.reverso" class="glyphicon glyphicon-ok"></i> Reverso de identificación
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.verificapar = !ticket.verificapar">
                                <input type="checkbox" ng-model="ticket.verificapar" ><i ng-show="ticket.verificapar" class="glyphicon glyphicon-ok"></i> Verificación de parentesco
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.nocoincide = !ticket.nocoincide">
                                <input type="checkbox" ng-model="ticket.nocoincide"><i ng-show="ticket.nocoincide" class="glyphicon glyphicon-ok"></i> No coincide con documentación
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.pasemedico = !ticket.pasemedico">
                                <input type="checkbox" ng-model="ticket.pasemedico"><i ng-show="ticket.pasemedico" class="glyphicon glyphicon-ok"></i> Pase médico en copia
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.nombrein = !ticket.nombrein">
                                <input type="checkbox" ng-model="ticket.nombrein"><i ng-show="ticket.nombrein" class="glyphicon glyphicon-ok"></i> Nombre incorrecto
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.folioseg = !ticket.folioseg">
                                <input type="checkbox" ng-model="ticket.folioseg"><i ng-show="ticket.folioseg" class="glyphicon glyphicon-ok"></i> Folio de segmentación
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.sinpase = !ticket.sinpase">
                                <input type="checkbox" ng-model="ticket.sinpase"><i ng-show="ticket.sinpase" class="glyphicon glyphicon-ok"></i> Sin pase médico
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.fueravigencia = !ticket.fueravigencia">
                                <input type="checkbox" ng-model="ticket.fueravigencia" ><i ng-show="ticket.fueravigencia" class="glyphicon glyphicon-ok"></i> Fuera de vigencia
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.sinpoliza = !ticket.sinpoliza">
                                <input type="checkbox" ng-model="ticket.sinpoliza" ><i ng-show="ticket.sinpoliza" class="glyphicon glyphicon-ok"></i> Sin póliza
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.sindeducible = !ticket.sindeducible">
                                <input type="checkbox" ng-model="ticket.sindeducible"><i ng-show="ticket.sindeducible" class="glyphicon glyphicon-ok"></i> Sin deducible
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.sincuestionario = !ticket.sincuestionario">
                                <input type="checkbox" ng-model="ticket.sincuestionario" ><i ng-show="ticket.sincuestionario" class="glyphicon glyphicon-ok"></i> Sin cuestionario
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.firmamedico = !ticket.firmamedico">
                                <input type="checkbox" ng-model="ticket.firmamedico"  ng-true-value="'FIRMA MÉDICO'" ng-false-value="" ><i ng-show="ticket.firmamedico" class="glyphicon glyphicon-ok"></i> Firma Médico
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.cruce = !ticket.cruce">
                                <input type="checkbox" ng-model="ticket.cruce"><i ng-show="ticket.cruce" class="glyphicon glyphicon-ok"></i> Cruce Zima-MV
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.cadulaT = !ticket.cadulaT">
                                <input type="checkbox" ng-model="ticket.cadulaT"><i ng-show="ticket.cadulaT" class="glyphicon glyphicon-ok"></i> Cédula en Tramite
                                </label>
                                <label class="btn btn-primary" ng-click="ticket.cedulaI = !ticket.cedulaI">
                                <input type="checkbox" ng-model="ticket.cedulaI"><i ng-show="ticket.cedulaI" class="glyphicon glyphicon-ok"></i> Cédula Invalida
                                </label>

                            </div>

                        </div>

                    </div>

                </div>
              
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                  <label>Notas</label>
                  <textarea class="form-control" ng-model="ticket.notas" rows="3" capitalize></textarea>
                </div>
                <!-- <div class="col-md-4">
                  <label>Comunicación</label>
                  <textarea class="form-control" ng-model="ticket.comunicacion" rows="3" capitalize></textarea>
                </div>
                <div class="col-md-4">
                  <label>Fecha Comunicación</label>
                  <div class="input-group">
                    <input type="text" ng-model="tiket.fechacomunica" class="form-control" id="fechacomunica"/>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
                </div> -->
            </div>
                
            <div ng-show="mensajeTicket != '' " ng-class="tipoalerta" class="alert animate-show">{{mensajeTicket}}</div>

            <div class="text-right">
	        	<button id="botonGuardaTodo" type="submit" ng-disabled="ticketFE.$invalid" data-loading-text="Guardando..." class="btn btn-primary">Guardar</button>
	        	<button type="button" class="btn btn-success" ng-click="nuevoTicket()">Limpiar</button>
	          	<button type="button" class="btn btn-default" ng-click="vistaTicket = !vistaTicket">Cerrar</button>
	        </div>

        </div>
        
        </form>


	</div>
</div>






<script>
    $.datepicker.setDefaults($.datepicker.regional["es"]);
    // $( "#datepicker" ).datepicker({showButtonPanel: true});
    // $( "#datepicker2" ).datepicker({showButtonPanel: true});
    $( "#datepicker" ).datepicker({
      defaultDate: "+1w",
      showButtonPanel: true,
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#datepicker2" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#datepicker2" ).datepicker({
      defaultDate: "+1w",
      showButtonPanel: true,
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#datepicker" ).datepicker( "option", "maxDate", selectedDate );
      }
    });

    $( "#datepickerExpedicion" ).datepicker({showButtonPanel: true});

</script>
