<div id="contenedor" class="main" ng-init="inicio()">
	<div class="titulos">
		<a href="#/" class="icon-arrow-left"></a>
		<h1>{{tituloIP}}</h1>
	</div>
	<div class="row" ng-hide="buscar">
		<div class="col-md-6">
			<h4>Folio {{folio}}</h4>
		</div>
	</div>
	<div class="row" ng-show="buscar">
		<div class="col-md-5">
			<input type="text" ng-model="criterio" class="form-control" placeholder="Busqueda" ng-keydown="presionaFolio" capitalize>
		</div>
		<div class="col-md-2">
			<button type="submit" ng-click="buscar()" id="boton" class="btn btn-primary"  data-loading-text="Consultando...">Consultar</button>
		</div>
		<div class="col-md-2">
            <img ng-show="cargar" class="animate-show" src="images/cargando.gif">
        </div>
	</div>
	<br>
  	<div class="panel panel-info" ng-repeat="folio in informacion">
  		<div class="panel-heading">
  			<h4 class="panel-title">Datos Generles</h4>
  		</div>
  		<div class="panel-body">
  			<div class="row">
  				<div class="col-md-9">	
				</div>
				<div class="col-md-2">
					<h5>Etapas Captura:</h5>
				</div>
				<div class="col-md-1">
					<h4><span class="green">1</span></h4>
					<h4><span class="green">2</span></h4>
					<h4><span class="green">3</span></h4>
				</div>
  			</div>
  			<div class="row">
				<div ng-show="mensaje" class="alert alert-danger animate-show">{{mensaje}}</div>
			</div>
  			<br>
		  	<div class="row"  >
				<div class="col-md-1">
					<h5>Folio:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.pas_folio}}</h5>
				</div>
				<div class="col-md-1">
					<h5>Producto:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.PRO_nombre}}</h5>
				</div>
				<div class="col-md-3">
					<h5><label class="checkbox-inline">
						<input type="checkbox">ROC</label></h5>
				</div>
				<div class="col-md-2">
					<h5><label class="checkbox-inline">
						<input type="checkbox">Hospitalario</label></h5>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-1">
					<h5>Cliente:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.Emp_nombrecorto}}</h5>
				</div>
				<div class="col-md-1">
					<h5>Unidad:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.Uni_nombre}}</h5>
				</div>
				<div class="col-md-3">
					<h5><label class="checkbox-inline">
						<input type="checkbox">Cancelado</label></h5>
				</div>
				<div class="col-md-2">
					<h5><label class="checkbox-inline">
						<input type="checkbox">Infacturable</label></h5>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-1">
					<h5>Lesionado:</h5>
				</div>
				<div class="col-md-8">
					<h5>{{folio.Afe_nombre}}</h5>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-1">
					<h5>Edad:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.AFE_edad}} años</h5>
				</div>
				<div class="col-md-1">
					<h5>Teléfono:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.Tel}}</h5>
				</div>
				<div class="col-md-1">
					<h5>Póliza:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.das_poliza}}</h5>
				</div>
				<div class="col-md-1">
					<h5>Triage:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.Triage}}</h5>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-1">
					<h5>Inciso:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.das_inciso}}</h5>
				</div>
				<div class="col-md-1">
					<h5>Aut:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.Atencion}}</h5>
				</div>
				<div class="col-md-1">
					<h5>Siniestro:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.das_siniestro}}</h5>
				</div>
				<div class="col-md-1">
					<h5>No. Orden:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.NoOrden}}</h5>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-1">
					<h5>Reporte:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.das_reporte}}</h5>
				</div>
				<div class="col-md-1">
					<h5>Fol. Elect.:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.FolioElect}}</h5>
				</div>
				<div class="col-md-1">
					<h5>Riesgo:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.rie_nombre}}</h5>
				</div>
				<div class="col-md-1">
					<h5>Fecha Atn:</h5>
				</div>
				<div class="col-md-2">
					<h5>{{folio.rep_fechaconsulta}}</h5>
					
				</div>
			</div> 
			<div class="row">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12">
								<br>
								<div class="col-md-2">
									<h5>Lesión:</h5>
								</div>
								<div class="col-md-4">
									<h5>{{folio.les_primaria}}</h5>
								</div>
								<div class="col-md-2">
									<h5>Fech. Exp:</h5>
								</div>
								<div class="col-md-4">
									<h5>{{folio.pas_fechaexpedicion}}</h5>								
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<br>
								<div class="col-md-2">
									<h5>Deducible:</h5>
								</div>
								<div class="col-md-4">
									<h5>{{folio.fac_deducible}}</h5>									
								</div>
								<div class="col-md-2">
									<h5>Fecha Cap:</h5>
								</div>
								<div class="col-md-4">
									<h5>{{folio.pas_fechacaptura}}</h5>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="col-md-6 form-group">
						<textarea class="form-control" id="notas" placeholder="Notas" disabled>{{folio.Not_notas}}</textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="panel panel-info" ng-repeat="folio in informacion">
	<div class="panel-heading">
		<h4 class="panel-title">Movimientos</h4>
	</div>
	<div class="panel-body">
		<ul class="nav nav-tabs" id="myTab">
			<li ng-class="{active: i==1}" ng-click="i=1"><a data-target="#facActiva" data-toggle="tab">Factura Activa</a></li>
			<li ng-class="{active: i==2}" ng-click="i=2"><a data-target="#hisFactura" data-toggle="tab">Histórico Facturación</a></li>
			<li ng-class="{active: i==3}" ng-click="i=3"><a data-target="#pagos" data-toggle="tab">Pagos</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade" ng-class="{in: i==1, active: i==1}" id="facActiva">
				<div class="row">
					<div ng-show="mensaje" class="alert alert-danger animate-show">{{mensaje}}</div>
			</div>
				<div class="row">
					<div class="col-md-1">
						<h5>Lesión:</h5>
					</div>
					<div class="col-md-2">
						<h5>{{folio.les_empresa}}</h5>
					</div>
					<div class="col-md-1">
						<h5>Sustituye:</h5>
					</div>
					<div class="col-md-3">
						<h5>{{folio.Sustituye}}</h5>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-1">
						<h5>Paquete:</h5>
					</div>
					<div class="col-md-8">
						<h5>{{folio.Paquete}}</h5>
					</div>
				</div>	
				<br>
				<div class="row">
					<div class="col-md-1">
						<h5>D.Médica:</h5>
					</div>
					<div class="col-md-8">
						<h5>{{folio.Rep_DescMedica}}</h5>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-1">
						<h5>PreFactura:</h5>
					</div>
					<div class="col-md-2">
						<h5>{{folio.Prefactura}}</h5>
					</div>
					<div class="col-md-1">
						<h5>Fecha Prefactura:</h5>
					</div>
					<div class="col-md-2">
						<h5>{{folio.FechaPrefactura}}</h5>
					</div>
					<div class="col-md-1">
						<h5>Factura:</h5>
					</div>
					<div class="col-md-2">
						<h5>{{folio.fac_serie}} {{folio.fac_folio}}</h5>
					</div>
					<div class="col-md-1">
						<h5>Fecha Factura:</h5>
					</div>
					<div class="col-md-2">
						<h5>{{folio.fac_fechafactura}}</h5>						
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-1">
						<h5>I.V.A:</h5>
					</div>
					<div class="col-md-2">
						<h5>{{folio.fac_iva}}</h5>						
					</div>
					<div class="col-md-1">
						<h5>Deducible:</h5>
					</div>
					<div class="col-md-2">
						<h5>{{folio.fac_deducible}}</h5>						
					</div>
					<div class="col-md-1">
						<h5>Importe:</h5>
					</div>
					<div class="col-md-2">
						<h5>{{folio.fac_subtotal}}</h5>						
					</div>
					<div class="col-md-1">
						<h5>Descuento:</h5>
					</div>
					<div class="col-md-2">
						<h5>{{folio.fac_descuento}}</h5>						
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-1">
						<h5>Total:</h5>
					</div>
					<div class="col-md-2">
						<h5>{{folio.fac_total}}</h5>						
					</div>
					<div class="col-md-1">
						<h5>Saldo:</h5>
					</div>
					<div class="col-md-2">
						<h5>{{folio.fac_saldo}}</h5>						
					</div>
					<div class="col-md-1">
						<h5>FechaPago:</h5>
					</div>
					<div class="col-md-2">
						<h5>{{folio.fac_fechapagofactura}}</h5>						
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-2">
			  			<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-appAjustes-modal-lg">Aplicaciones y Ajustes</button>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" ng-class="{in: i==2, active: i==2}" id="hisFactura">
				<div class="row">
					<br>
					<div class="col-md-1">
						<button type="button" class="btn btn-info" disabled>Canceladas</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-info" disabled>Notas Crédito</button>
					</div>
	  				<div class="col-md-1">
	  					<button type="button" class="btn btn-info" disabled>Incobrables</button>
	  				</div>
					<div class="col-md-3">
						<button type="button" class="btn btn-info" disabled>Manuales  </button>
					</div>
	  			</div>
	  		</div>
	  		<div class="tab-pane fade" ng-class="{in: i==3, active: i==3}" id="pagos">
	  			<div id="pagos" class="tab-pane">
	  				<table class="table table-bordered">
	  					<thead>
	  						<tr>
	  							<th></th>
								<th>TABULADOR</th>
								<th>PAGADO</th>
								<th>CHEQUE</th>
								<th>FECHA</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Pago Etapa 1</td>
								<td>{{pagoTab1}}</td>								
								<td>{{pagoET1}}</td>								
								<td>{{pagoChE1}}</td>
								<td>{{pagofechaET1 }}</td>
							</tr>
							<tr>
								<td>Pago Etapa 2</td>
								<td>{{pagoTab2}}</td>								
								<td>{{pagoET2}}</td>								
								<td>{{pagoChE2}}</td>
								<td>{{pagofechaET2}}</td>
							</tr>
							<tr>
								<td>Pago Etapa 3</td>
								<td>{{pagoTab3 }}</td>								
								<td>{{pagoET3 }}</td>								
								<td>{{pagoChE3}}</td>
								<td>{{pagofechaET3}}</td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-md-2">
							<h5><label class="checkbox-inline">
								<input type="checkbox">No Pagar a Unidad</label></h5>
						</div>
						<div class="col-md-4">
							<button type="button" class="btn btn-info" data-toggle="modal" data-target=".bs-detalle-modal-lg"><i class="glyphicon glyphicon-search" ></i> Detalle Pagos</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 form-group">
							<h4>Motivo:</h4>
							<textarea class="form-control" id="comment"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-md-8 form-group" role="group">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-controldoc-modal-lg" ng-model="CtrlDoc" ng-click="modalCtrlDocumentos()">Control de Documentos</button>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-cuestionario-modal-lg" ng-model="cuestion" ng-click="observaCuestionario()">Cuestionario Atención</button>
			</div>
		</div>
	</div>
</div>
<br>
<br>

<!-- <div class="panel panel-info">
	<div class="panel-heading">
		<h4 class="panel-title">Búsqueda</h4>
	</div>
	<div class="panel-body">
		<div class="tab-content">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-1">
						<h5>Nombre:</h5>
					</div>
					<div class="col-md-3">
						<input type="text" id="" class="form-control">
					</div>
					<div class="col-md-1">
						<button type="button" class="btn btn-default">Buscar</button>
					</div>
			  		<div class="col-md-1">
						<h5>Siniestro:</h5>
					</div>
					<div class="col-md-3">
						<input type="text" id="" class="form-control">
					</div>
					<div class="col-md-1">
						<button type="button" class="btn btn-default">Buscar</button>
					</div>
				</div>
				<div class="row">
			  		<div class="col-md-1">
						<h5>Factura:</h5>
					</div>
					<div class="col-md-3">
						<input type="text" id="" class="form-control">
					</div>
					<div class="col-md-1">
						<button type="button" class="btn btn-default">Buscar</button>
					</div>
			  		<div class="col-md-1">
						<h5>Póliza:</h5>
					</div>
					<div class="col-md-3">
						<input type="text" id="" class="form-control">
					</div>
					<div class="col-md-1">
						<button type="button" class="btn btn-default">Buscar</button>
					</div>
				</div>
				<div class="row">
			  		<div class="col-md-1">
						<h5>Reporte:</h5>
					</div>
					<div class="col-md-3">
						<input type="text" id="" class="form-control">
					</div>
					<div class="col-md-1">
						<button type="button" class="btn btn-default">Buscar</button>
					</div>
			  		<div class="col-md-1">
						<h5>Folder:</h5>
					</div>
					<div class="col-md-3">
						<input type="text" id="" class="form-control">
					</div>
					<div class="col-md-1">
						<button type="button" class="btn btn-default">Buscar</button>
					</div>
				</div>
				<br>
				<div class="row">
					<table class="table table-bordered">
						<br>
						<thead>
							<tr>
								<th>Folio</th>
								<th>Póliza</th>
								<th>Siniestro</th>
								<th>Reporte</th>
								<th>Lesionado</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div> -->
					

<!--Modal Aplicaciones y Ajustes-->
<div class="modal fade bs-appAjustes-modal-lg" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
	    	<div class="modal-header">
	    		<button id="modalAppsAjuste" ng-click="" type="button" class="close" data-dismiss="modal" aria-label="Close">
	          		<span aria-hidden="true">&times;</span>
	        	</button>
	        	<h4 class="modal-title" id="myModalLabel">Aplicaciones y Ajustes</h4>
	      	</div>
	      	<div class="modal-body">
				<table class="table table-bordered">
					<br>
					<thead>
						<tr>
							<th>Tipo</th>
							<th>Clave/Folio</th>
							<th>Fecha Banco/Emisión</th>
							<th>Total</th>
							<th>Fecha Aplicación</th>
							<th>Usuario Aplicación</th>
							<th>Fecha Relación</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="folio in informacion">
							<td></td>
							<td></td>
							<td>{{folio.fac_fechapagofactura}}</td>
							<td>{{folio.fac_total}}</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<h3 class="modal-title" id="gridSystemModalLabel">Ajustes</h3>
				<fieldset>
					<legend align=""></legend>
					<div class="row">
						<div class="col-md-1">
							<h5>Total:</h5>
						</div>
						<div class="col-md-2">
							<h5></h5>
						</div>
						<div class="col-md-1">
							<h5>Nota:</h5>
						</div>
						<div class="col-md-2">
							<textarea class="form-control" id="notaApp"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-md-1">
							<h5>Fecha:</h5>
						</div>
						<div class="col-md-3">
							<h5></h5>
						</div>
					</div>
				</fieldset>
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	      	</div>
    	</div>
  	</div>
</div>

<!-- Modal Control de Documentos -->
<div class="modal fade bs-controldoc-modal-lg" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
    	<div class="modal-content">
    		<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		<h4 class="modal-title" id="myModalLabel">Registro en Control de Documentos</h4>
      		</div>
      		<div class="modal-body">
      		<div class="row">
				<div ng-show="mensaje" class="alert alert-danger animate-show">{{mensaje}}</div>
			</div>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
					          <th>Usuario</th>
					          <th>Tipo</th>
					          <th>Area</th>
					          <th>Etapa</th>
					          <th>Entrega</th>
					          <th>Status</th>
					        </tr>
					    </thead>
					    <tbody>
					    	<tr ng-repeat="flujo in listado" >
								<td>{{flujo.Usuario}}</td>
								<td>{{flujo.tipo}}</td>
								<td>{{flujo.ARO_nombre}}</td>
								<td>{{flujo.FLD_etapa}}</td>
								<td>{{flujo.FLD_numeroentrega}}</td>
								<td>{{flujo.Status}}</td>
					        </tr> 
					    </tbody>
		    		</table>
				</div>
			<h3 class="modal-title" id="gridSystemModalLabel">Estatus en Flujo de Documentos</h3>
				<fieldset>
					<legend align="center">ACTIVO</legend>
					<div class="row">
						<div class="col-md-1">
							<h5>Usuario:</h5>
						</div>
						<div class="col-md-3">
							<h5>{{usuario}}</h5>
						</div>
						<div class="col-md-1">
							<h5>Area:</h5>
						</div>
						<div class="col-md-2">
							<h5>{{area}}</h5>
						</div>
						<div class="col-md-1">
							<h5>Fecha:</h5>
						</div>
						<div class="col-md-3">
							<h5>{{fecha}}</h5>
						</div>
					</div>
				</fieldset>
				<br>
				<fieldset>
					<legend align="center">PENDIENTE DE RECIBIR POR</legend>
					<div class="row">
						<div class="col-md-1">
							<h5>Usuario:</h5>
						</div>
						<div class="col-md-3">
							<h5></h5>
						</div>
						<div class="col-md-1">
							<h5>Area:</h5>
						</div>
						<div class="col-md-2">
							<h5></h5>
						</div>
						<div class="col-md-1">
							<h5>Fecha:</h5>
						</div>
						<div class="col-md-3">
							<h5>{{fecha}}</h5>
						</div>
					</div>	
				</fieldset>	
     		</div>
     		<div class="modal-footer">
     			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
     		</div>
    	</div>
  	</div>
</div>

<!--Modal Cuestionario de Atención -->
<div class="modal fade bs-cuestionario-modal-lg" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
    	<div class="modal-content">
    		<div class="modal-header">
    			<button id="modalCuestAt" ng-click="" type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		<h4 class="modal-title" id="myModalLabel">Cuestionario de Atención Médica</h4>
      		</div>
      		<div class="row">
				<div ng-show="mensaje" class="alert alert-danger animate-show">{{mensaje}}</div>
			</div>
      		<div class="modal-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>PREGUNTA</th>
								<th>RESPUESTA</th>
					        </tr>
					    </thead>
					    <tbody>
					    	<tr ng-repeat="folio in respuestas" >
								<td>{{folio.PEG_texto}}</td>
								<td>{{folio.ResTexto}}</td>
					        </tr> 
					    </tbody>
		    		</table>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h5>Fecha en que se respondió el cuestionario:</h5>
					</div>
					<div class="col-md-4">
						<h5>{{fech_resp}}</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<h5>Teléfono Contacto:</h5>
					</div>
					<div class="col-md-2">
						<h5>{{tel}}</h5>
					</div>
				</div>
     		</div>
     		<div class="modal-footer">
     			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
     		</div>
    	</div>
  	</div>
</div>

<!--Modal Detalle de Pagos-->
<div class="modal fade bs-detalle-modal-lg" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
    		<button id="modalDetalleP" ng-click="muestraModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          		<span aria-hidden="true">&times;</span>
        	</button>
        	<h4 class="modal-title" id="myModalLabel">Detalle de Pago a Unidades Por Etapa</h4>
      	</div>
      	<div class="modal-body">
			<table class="table table-bordered">
    				<br>
    				<thead>
    					<tr>
    						<th>Etapa</th>
    						<th>Unidad</th>
    						<th>Pagado</th>
    						<th>Cheque</th>
    						<th>Fecha</th>
    						<th>Relación</th>
    						<th>Fecha Relación</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td>{{unidad}}</td>
							<td>{{pagoET1}}</td>
							<td>{{pagoChE1}}</td>
							<td>{{pagofechaET1}}</td>
							<td>{{}}</td>
							<td>{{}}</td>
						</tr>
					</tbody>
				</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>