<div id="contenedor" class="main" ng-init="inicio()">
	<div class="titulos">
		<a href="#/" class="icon-arrow-left"></a>
		<h1>{{tituloIP}}</h1>
	</div>
	<div class="row" ng-hide="buscar">
		<div class="col-md-6">
			<h4>Folio {{folio}}</h4>
		</div>
	</div>
	
	<div class="row" ng-show="buscar">
		<div class="col-md-5">
			<input type="text" ng-model="criterio" class="form-control" placeholder="Busqueda" ng-keydown="presionaFolio" capitalize>
		</div>
		<div class="col-md-2">
			<button type="submit" ng-click="buscar()" id="boton" class="btn btn-primary"  data-loading-text="Consultando...">Consultar</button>
		</div>
		<div class="col-md-2">
            <img ng-show="cargar" class="animate-show" src="images/cargando.gif">
        </div>
	</div>
	<br>
  	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">Datos Generles</h3>
	  </div>
	  <div class="panel-body">
	  	<div class="row">
			<div class="col-md-4">
				
			</div>
			<div class="col-md-4">
				
			</div>
			<div class="col-md-4">
				
			</div>
		</div>
	  </div>
	</div>
	<br>
    <ul class="nav nav-tabs" id="myTab">
	  <li ng-class="{active: i==1}" ng-click="i=1"><a data-target="#general" data-toggle="tab">Control de Documentos</a></li>
	  <li ng-class="{active: i==2}" ng-click="i=2"><a data-target="#facturacion" data-toggle="tab">Facturacion</a></li>
	  <li ng-class="{active: i==3}" ng-click="i=3"><a data-target="#pagos" data-toggle="tab">Pagos</a></li>
	  <li ng-class="{active: i==4}" ng-click="i=4"><a data-target="#otros" data-toggle="tab">Notas</a></li>
	</ul>

	<div class="tab-content">
	  <div class="tab-pane fade" ng-class="{in: i==1, active: i==1}" id="general">
			
	  </div>
	  <div class="tab-pane fade" ng-class="{in: i==2, active: i==2}" id="facturacion">
	  		
	  </div>
	  <div class="tab-pane fade" ng-class="{in: i==3, active: i==3}" id="pagos">
	  		
	  </div>
	  <div class="tab-pane fade" ng-class="{in: i==4, active: i==4}" id="otros">
	  		
	  </div>
	</div>
</div>