<div ng-init="inicio()" id="contenedor">
	<div ng-show="recibe">

	<div class="titulos">
		<a href="#/pagos" class="icon-arrow-left"></a>
		<h1>{{tituloR}}</h1>
	</div>

  <div class="row">
    <h5 class="text-danger"><strong>*** PARA PODER SUBIR UNA FACTURA, DEBES SELECCIONAR PRIMERO LA UNIDAD ***</strong></h5>
  </div>

	<div class="row">
		
		<div class="col-md-6">

				<label>Fecha Registro</label>
				<div class="row">
					<div class="col-md-6">
						<input type="text" ng-model="datosRegistro.fechainiReg" class="form-control" id="fechainiReg" placeholder="inicial">
					</div>
					<div class="col-md-6">
						<div class="input-group">
							<input type="text" ng-model="datosRegistro.fechafinReg" class="form-control" id="fechafinReg" placeholder="Final">
							<span class="input-group-btn">
					        	<button class="btn btn-default" ng-disabled="datosRegistro.fechainiReg == ''|| datosRegistro.fechafinReg == '' " ng-click="fRegistro()" type="button"><i class="icon-search"></i></button>
					      	</span>
					    </div>
					</div>
				</div>

		</div>
		
	</div>
	<div class="row">
		<div class="col-md-2">
				<label>Folio</label>
				<input type="text" ng-model="folio" class="form-control" folio>
		</div>
		<div class="col-md-4">

				<label>Lesionado</label>
				<input type="text" ng-model="lesionado" ng-keydown="presionaLesionado" class="form-control" ng-change="filtra()" capitalize>

		</div>

	</div>
	<br>
	
	<div class="row">
<!-- 		<div class="col-md-2">
				<select class="form-control"  ng-model="unidad" ng-change="filtra()" ng-options="unidad.id as unidad.nombre for unidad in unidades">
					<option value="">Unidad</option>
				</select>
		</div> -->
		<div class="col-md-2">
			<select class="form-control"  ng-model="unidad" ng-options="unidad as unidad.nombre for unidad in unidades" ng-change="filtra()">
				<option value="">Unidad</option>
			</select>
		</div>
		<div class="col-md-2">
			<select class="form-control" id="tipodoc" ng-change="filtra()" ng-model="etapa">
				<option value="">Etapa</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
		</div>

		<div class="col-md-2">
			<button class="btn btn-danger btn-block icon-close" ng-click="quitafiltro()"> Quitar Filtros</button>
		</div>

	</div>
	<br>
	<div class="gridStyle" ng-grid="gridOptions"></div>
	
	<br><br><br>

	<div class="col-md-3">
		<button type="button" id="boton2" data-loading-text="Procesando..." ng-disabled="selectos.length == 0" ng-click="IngresaFacturaGlo()" class="btn btn-success icon-cancel-circle"> Factura Global
		</button>
	</div>

	<div class="col-md-3">
		<button type="button" id="boton2" data-loading-text="Procesando..." ng-disabled="selectos.length == 0" ng-click="IngresaFacturaInd()" class="btn btn-info icon-cancel-circle"> Factura Individual
	</div>

  <div class="col-md-3">
        <button type="button" id="boton2" data-loading-text="Procesando..." ng-disabled="selectos.length == 0" ng-click="FoliosinFactura()"  class="btn btn-warning  glyphicon glyphicon-arrow-right"> Sin Factura </button>
  </div>


    <div ng-show="mensaje" ng-class="tipoalerta" class="alert animate-show">{{mensaje}}</div>

</div>
<div ng-show="subeFactGlo">

<div class="titulos">
	<a href="#/{{area}}" class="icon-arrow-left"></a>
	<h1>Ingresa tu Facturas</h1>
</div>
<div class="row">
  <h5 class="text-danger"><strong>*** Selecciona un tipo de Tramite para generar una Orden de Págo ***</strong></h5>
</div>
<legend></legend>

<div class="row">

  <div class="col-md-4">
    <label>Tipo de Trámite</label>
          <select  class="form-control"  ng-model="PagoG.tipotramite" ng-options="tipotramite.id as tipotramite.tipo for tipotramite in tipostramites" ng-disabled="editafactura"  ng-change="subtipotramite($index, PagoG.tipotramite)" required>
                  <option value=""> Tipo Tramite </option>
          </select>
  </div>
  <div class="col-md-4">
    <label>Tipo de Concepto</label>
          <select class="form-control"  ng-model="PagoG.concepto" ng-options="concepto.id as concepto.nombre for concepto in conceptost" ng-disabled="editafactura" required>
            <option value=""> Subtipo Tramite </option>
          </select>
  </div>
</div><br><br>

 <div class="col-lg-12">

     <div class="table-responsive">
      <table id="datatable2"  class="table table-striped table-hover"
                style="
          max-height: auto;
          overflow-y: auto;
          overflow-x: auto;
          width: 100%; background: #edebeb ">
         <thead>
            <tr>

               <th>Folio</th>
               <th>Etapa</th>
               <th>Entrega</th>
               <th>Subtotal</th>
               <th>Total</th>
               <th>Empresa</th>
               <th>Unidad</th>
               <th>Triage</th>

            </tr>
         </thead>
         <tbody>

            <tr ng-repeat="detalle in detalles">

              <td>{{detalle.DOC_folio}}</td>
              <td>{{detalle.FLD_etapa}}</td>
              <td>{{detalle.FLD_numeroEntrega}}</td>
              <td><input type="text" ng-model="detalle.Subtotal" class="form-control" ng-blur="calculaSubtotal()"></td>
              <td><input type="text" ng-model="detalle.Total" class="form-control" ng-blur="calculaSubtotal()"></td>
              <td>{{detalle.EMP_nombrecorto}}</td>
              <td>{{detalle.UNI_nombrecorto}}</td>
              <td>{{detalle.Triage}}</td>
            </tr>
            <tr>

              <td></td>
              <td></td>
              <td><h3>Total:</h3></td>
              <td><h3><STRONG>{{ PagoG.SubtotalS | currency }}</STRONG></h3></td>
              <td><h3><STRONG>{{ PagoG.TotalS | currency }}</STRONG></h3></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

         </tbody>
      </table>

    </div>

  </div>

<legend>XML</legend>

    <div class="row">
          <div class="col-md-12">
            <table style="max-height: auto;
                  overflow-y: auto;
                  overflow-x: auto;
                  width: 100%; background: #edebeb ">
              <tr style="background-color:#E9E9E9;">
                <th colspan="12" class="text-center"><strong><h4>Datos de la Factura</strong></h4></th>
              </tr>
              <tr style="background-color:#F0FFFF">
                <th></th>
                <th>Folio</th>
                <th>Serie</th>
                <th>Folio Fiscal</th>
                <th>Emisor</th>
                <th>RFC Emisor</th>
                <th>Subtotal</th>
                <th>Total</th>
                <th></th>
              </tr>
              <tr>
                <td>
                  <label class="btn btn-primary">Sube Factura <input type="file" style="display: none;" ng-file-select="subeXML($files)">
                      </label>
                    </td>
                <td>{{ PagoG.foliointerno }}</td>
                <td>{{ PagoG.serie }}</td>
                <td>{{ PagoG.foliofiscal }}</td>
                <td>{{ PagoG.emisor }}</td>
                <td>{{ PagoG.rfcemisor }}</td>
                <td>{{ PagoG.subtotal }}</td>
                <td>{{ PagoG.total }}</td>
                <td ng-show="btndelete"><button ng-click="eliminaxmlGlo()" class="btn btn-small btn-danger" type="button">Eliminar</button></td>
              </tr>
            </table>
            </div>



</div>       <br><br>

<legend></legend>

      <div class="row-center">
          <div class="col-md-3">

            <button type="button" ng-disabled="btnOG == 1" ng-click="enviaOrdenPagoGlo()"  class="btn btn-warning btn-lg btn-block glyphicon glyphicon-arrow-right"> Genera Orden </button>
          </div>
      </div>

</div>


</div>






<script type="text/javascript">
	$.datepicker.setDefaults($.datepicker.regional["es"]);
	$( "#fechainiReg" ).datepicker({showButtonPanel: true});
	$( "#fechafinReg" ).datepicker({showButtonPanel: true});

</script>