<div ng-init="inicio()">
	<div class="titulos">
		<a href="#/{{area}}" class="icon-arrow-left"></a>
		<h1>{{tituloLE}}</h1>
	</div>
	<fieldset>
		<legend>Filtro</legend>
		<div class="row">
			<div class="col-md-3">
				<input type="text" ng-model="folio" class="form-control" ng-change="filtra()" folio>
			</div>
			<div class="col-md-3">
				<select class="form-control"  ng-change="filtra()"  ng-model="cliente" ng-options="cliente as cliente.nombre for cliente in clientes">
					<option value="">Cliente</option>
				</select>
			</div>
			<div class="col-md-3">
				<select class="form-control"  ng-change="filtra()" ng-model="unidad" ng-options="unidad as unidad.nombre for unidad in unidades">
					<option value="">Unidad</option>
				</select>
			</div>
			<div class="col-md-2">
				<button type="button"  class="btn btn-danger icon-close"> Quitar Filtro</button>
			</div>
		</div>
	</fieldset>
		
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>

	<div class="gridStyle" ng-grid="gridOptions"></div>

	<br>
	<button ng-json-export-excel data="listado" 
		report-fields="{
			PAS_folio:'Folio',
            FLD_etapa:'Etapa',
            FLD_numeroEntrega:'Cantidad',
            EMP_nombrecorto:'Empresa',
            UNI_nombrecorto:'Unidad',
            FLD_formaRecep:'FaxOrigianl',
            FLD_fechaRecep:'FechaRecepcion',
            EnvFac:'EnvFac',
            factura:'Factura',
            Fac_fechapagofactura:'Fecha Factura',
            Fac_ultimaAplicacion:'Fecha Aplicacion',
            pagada:'Pagada',
            FLD_observaciones:'Observaciones'
		}" 
		filename =" 'ListadoNPC' " 
		class="btn btn-success">Exportar</button>

	<div ng-show="mensaje" ng-class="tipoalerta" class="alert animate-show">{{mensaje}}</div>
	<div class="row">
		<div class="col-md-3">
			<button type="button" id="boton" data-loading-text="Procesando..." ng-show="selectos.length > 0" ng-click="eliminaNPC()" class="btn btn-warning icon-close"> Quitar Folios Seleccionados</button>
		</div>
		<div class="col-md-3">
		</div>
	</div>
	<br>

</div>
