<div  id="contenedor"  ng-init="inicio()">
    <div class="titulos">
        <a href="#/pagos" class="icon-arrow-left"></a>
        <h1>{{tituloPM}}</h1>
    </div>

	<ul id="rb-grid-small" class="rb-grid-small clearfix">

	    <li class="rb-span-1" id="color3">
	        <h3> Recibe Prefact </h3>
	        <a href="#/recibePrefacturas">
	            <span class="glyphicon glyphicon-ok"></span>
	        </a>
	    </li>

	</ul>

	<legend></legend>

    <div class="row">
        <div class="form-group">
           <label class="col-sm-4 control-label">Selecciona el tipo de O.P que Ingresaras</label>
           <div class="col-sm-6">
              <label class="radio-inline c-radio">
                 <input id="inlineradio1" type="radio" name="i-radio" ng-model="tipo" value="1">
                 <span class="icon-cancel-circle"></span> O.P Individual </label>
              <label class="radio-inline c-radio">
                 <input id="inlineradio2" type="radio" name="i-radio" ng-model="tipo" value="2">
                 <span class="icon-cancel-circle"></span> O.P Global </label>

           </div>
        </div>
    </div>

    <legend></legend>

<div ng-if="tipo == 1">

	    <div class="row">

			<div class="col-md-3">
				<label></label>
				<select class="form-control"  ng-model="PagoI.unidad" ng-options="unidad.id as unidad.nombre for unidad in unidades" ng-change="filtra()">
					<option value="">Unidad</option>
				</select>
			</div>

			<div class="col-md-3">
				<label></label>
				<select class="form-control"  ng-model="PagoI.proveedor" ng-options="proveedor.id as proveedor.nombre for proveedor in proveedores" ng-change="filtra()">
					<option value="">Proveedores</option>
				</select>
			</div>

	    </div><br>

	    <div class="row">

	    	<div class="col-md-4">

				<input type="text" ng-model="PagoI.folio" class="form-control"  ng-blur="listadoPre(PagoI.folio)" placeholder = "FolioMV" folio>

			</div>

			<div class="col-md-8">

				<h4 class="text-success" ng-class="tipoalerta1"><strong>*** Nombre del Lesionado:  {{ nombreLesionado }}  </strong></h4>

			</div>

		</div><br><br>
        <div class="row">

		<div class="col-md-9">
	           <div ng-show="mensaje" ng-class="tipoalerta" class="alert animate-show">{{mensaje}}</div>
	    </div>
        	
        </div>

        <div class="row">

        	<div class="col-md-12">

        	   <div class="row gridStyle2" ng-grid="gridOptions"></div><br><br>

            </div>
        	
        </div>

<!-- 		<div class="row">
            <h4 class="text-success"><strong>*** Nombre del Lesionado:  {{ nombreLesionado }}  </strong></h4>

		</div> -->

	    <div class="row">

<!-- 	    	<div class="col-md-2">
					<label>Folio</label>
					<input type="text" ng-model="PagoI.folio" class="form-control" folio ng-change="verificaLesionado()" >
			</div> -->

			<div class="col-md-2">
				<label></label>
				<select class="form-control"  ng-model="PagoI.tipotramite" ng-options="tipotramite.id as tipotramite.tipo for tipotramite in tipostramites" ng-change="subtipotramite(PagoI.tipotramite)">
					<option value="">Tipo de Tramite</option>
				</select>
			</div>

			<div class="col-md-2">
				<label></label>
				<select class="form-control"  ng-model="PagoI.concepto" ng-options="concepto.id as concepto.nombre for concepto in conceptost" ng-change="filtra()">
					<option value="">Subtipo</option>
				</select>
			</div>

			<div class="col-md-2">
				<label></label>
				<select class="form-control"  ng-model="PagoI.etapa"  ng-change="filtra()">
					<option value="">Etapa</option>
					<option value="1">Etapa 1</option>
					<option value="2">Etapa 2</option>
					<option value="3">Etapa 3</option>
				</select>
			</div>

			<div class="col-md-2">
					<label>Entrega</label>
					<input type="text" ng-model="PagoI.entrega" class="form-control">
			</div>
	    </div>
	    <br>

<!-- 	    <div class="row">

		    <div class="form-group">
               <div class="col-sm-12">
                  <label class="radio-inline c-radio">
                     <input id="deducible1" type="radio" name="i-radio1" ng-model="PagoI.tipoDeducible" value="1" checked>
                     <span class="icon-cancel-circle"></span> Descuento del Total </label>
               </div>
	        </div>
	    </div> -->
	    <br><br><br>

		<div class="row">
		    <div class="col-md-2">
					<label>Subtotal</label>
					<input type="text" ng-model="PagoI.SubtotalF" class="form-control" ng-change="calculaTotalInd()">
			</div>

			<div class="col-md-2">
					<label>IVA</label>
					<input type="text" ng-model="PagoI.IVAF" class="form-control" ng-change="calculaTotalInd()">
			</div>

			<div class="col-md-2">
					<label>Deducible</label>
					<input type="text" ng-model="PagoI.deducibleF" class="form-control" ng-change="calculaTotalInd()">
			</div>


			<div class="col-md-2">
					<label>Descuento</label>
					<input type="text" ng-model="PagoI.descuentoF" class="form-control" ng-change="calculaTotalInd()">
			</div>


		    <div class="col-md-2">
					<label>Retención</label>
					<input type="text" ng-model="PagoI.retencionF" class="form-control" ng-change="calculaTotalInd()">
			</div>

		    <div class="col-md-2">
					<label>Total</label>
					<input type="text" ng-model="PagoI.TotalF" class="form-control" disabled>
			</div>

		</div>
		<br>
		<div class="row">

<!-- 			<div class="col-md-2">
				<label>  </label>
					<button type="button" ng-click="calculaTotalInd()"  class="btn btn-success btn-blockglyphicon glyphicon-equalizer"> Calcular </button>
			</div> -->

			<div class="col-md-6">
					<label class="text-danger"><H2><strong>Total a Pagar:{{PagoI.TotalF | currency}}</strong></H2></label>
			</div>

		    <div class="col-md-6">
					<label class="text-danger"><H2><strong>Nota Credito:{{PagoI.TotalFV | currency}}</strong></H2></label>
			</div>

	    </div>

	    <br><br>
	    	
		<div class="row">
			    <div class="col-md-12">
			      <table style="max-height: auto;
							    overflow-y: auto; 
							    overflow-x: auto;
							    width: 100%; background: #edebeb ">
			        <tr style="background-color:#E9E9E9;">
			          <th colspan="12" class="text-center"><h4>Datos de la Factura</h4></th>
			        </tr>
			        <tr style="background-color:#F0FFFF">
			          <th></th>
			          <th>Folio</th>
			          <th>Serie</th>
			          <th>Folio Fiscal</th>
			          <th>Emisor</th>
			          <th>RFC Emisor</th>
			          <th>Subtotal</th>
			          <th>IVA</th>
			          <th>Total</th>
			          <th>Fecha Emisión</th>
			          <th></th>
			        </tr>
			        <tr>
			          <td>
			          	<label class="btn btn-primary">Sube Factura <input type="file" style="display: none;" ng-file-select="subeXMLInd($files)">
	                    </label>
	                  </td>
			          <td>{{ PagoI.foliointerno }}</td>
			          <td>{{ PagoI.serie }}</td>
			          <td>{{ PagoI.foliofiscal }}</td>
			          <td>{{ PagoI.emisor }}</td>
			          <td>{{ PagoI.rfcemisor }}</td>
			          <td>{{ PagoI.subtotal }}</td>
			          <td>{{ PagoI.tasa }}</td>
			          <td>{{ PagoI.total }}</td>
			          <td>{{ PagoI.fechaemision }}</td>
			          <td ng-show="btndelete"><button ng-click="eliminaxml()" class="btn btn-small btn-danger" type="button">Eliminar</button></td>
			        </tr>
			      </table>
			      </div>
	    </div><br><br><br>

	    <div class="row">
	    	<div class="col-md-12">
	    	<a href="" ><h3>¿Quieres Ingresar otro Documento?</h3></a>
                <label class="radio-inline c-radio">
	    	    <input id="inlineradio1" type="radio" name="i-radio" ng-model="doc"  value="1">
                <span class="icon-cancel-circle"></span> Si </label>

                <label class="radio-inline c-radio">
                <input id="inlineradio1" type="radio" name="i-radio" ng-model="doc"  value="0">
                <span class="icon-cancel-circle"></span> No </label>
            </div>
	    </div>

	    <div class="row" ng-if="doc == '1'">
			<div class="col-md-12">

                <a href="" ><h3>Tipo de Documento</h3><H5><strong class="text-danger">Nota: Es importante especificar el tipo de documento para hacer un tramite exitoso</strong></H5></a>
                <label class="radio-inline c-radio">
                <input id="inlineradio2" type="radio" name="i-radio1" ng-model="PagoI.NC"  value="1" checked="checked" >
                <span class="icon-cancel-circle"></span> Nota Credito </label>

                <label class="radio-inline c-radio">
                <input id="inlineradio2" type="radio" name="i-radio1" ng-model="PagoI.NC"  value="2">
                <span class="icon-cancel-circle"></span> Deducible </label>
			
			</div>
		</div><br><br>

	    <div class="row" ng-if="doc == '1'">
			<div class="col-md-12">

				<div class="panel panel-info">
				  <div class="panel-heading">Nota de Crédito</div>
				  <div class="panel-body">

					  	<table style="max-height: auto;
								    overflow-y: auto; 
								    overflow-x: auto;
								    width: 100%; background: #edebeb ">
				        <tr style="background-color:#E9E9E9;">
				          <th colspan="12" class="text-center"><h4>Datos de la Nota de Credito</h4></th>
				        </tr>
				        <tr style="background-color:#F0FFFF">
				          <th></th>
				          <th>Serie</th>
				          <th>Folio Fiscal</th>
				          <th>Emisor</th>
				          <th>RFC Emisor</th>
				          <th>Subtotal</th>
				          <th>IVA</th>
				          <th>Total</th>
				          <th>Fecha Emisión</th>
				          <th></th>
				        </tr>
				        <tr>
				          <td>
				          	<label class="btn btn-primary">Sube Factura <input type="file" style="display: none;" ng-file-select="subeNCI($files)">
		                    </label>
		                  </td>
				          <td>{{ NCI.serie }}</td>
				          <td>{{ NCI.foliofiscal }}</td>
				          <td>{{ NCI.emisor }}</td>
				          <td>{{ NCI.rfcemisor }}</td>
				          <td>{{ NCI.subtotal }}</td>
				          <td>{{ NCI.tasa }}</td>
				          <td>{{ NCI.total }}</td>
				          <td>{{ NCI.fechaemision }}</td>
				          <td ng-show="btndelete"><button ng-click="eliminaxmlNC()" class="btn btn-small btn-danger" type="button">Eliminar</button></td>
				        </tr>
				      </table>


				  </div>
				</div>

			</div>
		</div><br><br>

 
		<div class="row-center">

		   <div class="col-md-3">

				<button type="button"  ng-click="enviaOrdenPagoInd()"  class="btn btn-warning btn-lg btn-block glyphicon glyphicon-arrow-right"> Enviar </button>
			</div>
			
		</div>





</div>

	<div ng-if="tipo == 2">

		<div class="row">

			<div class="col-md-3">
				<select class="form-control"  ng-model="PagoM.unidad" ng-options="unidad.id as unidad.nombre for unidad in unidades" ng-change="filtra()">
					<option value="">Unidad</option>
				</select>
			</div>

			<div class="col-md-3">
				<select class="form-control"  ng-model="PagoM.proveedor" ng-options="proveedor.id as proveedor.nombre for proveedor in proveedores" ng-change="filtra()">
					<option value="">Proveedores</option>
				</select>
			</div>

			
	    </div><br>

	    <div class="row">

	    	<div class="col-md-4">

					<input type="text" ng-model="PagoM.folio" class="form-control" folio ng-blur="listadoPre(PagoM.folio)" placeholder = "FolioMV">
			</div>

			<div class="col-md-8">

				    <h4 class="text-success" ng-class="tipoalerta1"><strong>*** Nombre del Lesionado:  {{ nombreLesionado }}  </strong></h4>

			</div>

		</div><br><br>


        <div class="row">

        	<div class="col-md-12">

        	   <div class="row gridStyle2" ng-grid="gridOptions"></div><br><br>

            </div>
        	
        </div>
	    

	    <div class="row">

			<div class="col-md-2">
				<label></label>
				<select class="form-control"  ng-model="PagoM.tipotramite" ng-options="tipotramite.id as tipotramite.tipo for tipotramite in tipostramites" ng-change="subtipotramite(PagoM.tipotramite)">
					<option value="">Tipo de Tramite</option>
				</select>
			</div>

			<div class="col-md-2">
				<label></label>
				<select class="form-control"  ng-model="PagoM.concepto" ng-options="concepto.id as concepto.nombre for concepto in conceptost" ng-change="filtra()">
					<option value="">Subtipo</option>
				</select>
			</div>

			<div class="col-md-2">
				<label></label>
				<select class="form-control"  ng-model="PagoM.etapa"  ng-change="filtra()">
					<option value="">Etapa</option>
					<option value="1">Etapa 1</option>
					<option value="2">Etapa 2</option>
					<option value="3">Etapa 3</option>
				</select>
			</div>

			<div class="col-md-2">
					<label>Entrega</label>
					<input type="text" ng-model="PagoM.entrega" class="form-control">
			</div>
	    </div>

	    <div class="row">
	    	<div class="col-md-2">
					<label>Subtotal</label>
					<input type="text" ng-model="PagoM.SubtotalF" class="form-control" ng-blur="calculaTotal()">
			</div>

			<div class="col-md-2">
					<label>Deducible</label>
					<input type="text" ng-model="PagoM.deducibleF" class="form-control" ng-blur="calculaTotal()">
			</div>

			<div class="col-md-2">
					<label>Descuento</label>
					<input type="text" ng-model="PagoM.descuentoF" class="form-control" ng-blur="calculaTotal()">
			</div>

		    <div class="col-md-2">
					<label>IVA</label>
					<input type="text" ng-model="PagoM.IVAF" class="form-control" ng-blur="calculaTotal()">
			</div>

			<div class="col-md-2">
					<label>Retención</label>
					<input type="text" ng-model="PagoM.retencionF" class="form-control" ng-blur="calculaTotal()">
			</div>

		    <div class="col-md-2">
					<label>Total</label>
					<input type="text" ng-model="PagoM.TotalF" class="form-control" disabled>
			</div>
	    </div>
        <br>

        <div class="row">
            <div class="col-md-3">
				<button type="button" ng-click="addRow()"  class="btn btn-warning btn-lg btn-block glyphicon glyphicon-plus"> Agrega O.P </button>
			</div>
        </div>

	    <div class="row">

			<div class="col-md-5">
				<label class="text-danger"><H2><strong>Total Nota Credito:{{ NCG.total  | currency}}</strong></H2></label>
			</div>


			<div class="col-md-4">
			    <label class="text-danger"><H2><strong>Total a Pagar:{{ PagoM.acumuladoT  | currency}}</strong></H2></label>
			</div>


		</div>

		<br>

	    <div class="col-md-12">

			   <div  class="table table-editable table-bordered table condensed table-hover table-responsive ">

					<table class="table" >
					    <thead>
					        <tr>
					            <th>FolioMv</th>
					            <th>Etapa</th>
					            <th>Entrega</th>
					            <th>Subtotal</th>
					            <th>IVA</th>
					            <th>Total</th>
					            <th>Acción</th>
					        </tr>
					    </thead>
					    <tbody>
        					<tr ng-repeat="Pago in Pagos">
					            <td>{{ Pago.folio }}</td>
					            <td>{{ Pago.etapa }}</td>
					            <td>{{ Pago.entrega }}</td>
					            <td>{{ Pago.SubtotalF }}</td>
					            <td>{{ Pago.IVAF }}</td>
					            <td>{{ Pago.TotalF }}</td>
					            <td><button class="btn btn-danger" ng-click="delete($index)"> Eliminar </button></td>

					        </tr>

					    </tbody>
					</table>
				</div>
			
		</div>
		<br>
	    	
		<div class="row">
			    <div class="col-md-12">
			      <table style="max-height: auto;
							    overflow-y: auto; 
							    overflow-x: auto;
							    width: 100%; background: #edebeb ">
			        <tr style="background-color:#E9E9E9;">
			          <th colspan="12" class="text-center"><h4>Datos de la Factura</h4></th>
			        </tr>
			        <tr style="background-color:#F0FFFF">
			          <th></th>
			          <th>Folio</th>
			          <th>Serie</th>
			          <th>Folio Fiscal</th>
			          <th>Emisor</th>
			          <th>RFC Emisor</th>
			          <th>Subtotal</th>
			          <th>IVA</th>
			          <th>Total</th>
			          <th>Fecha Emisión</th>
			          <th></th>
			        </tr>
			        <tr>
			          <td>
			          	<label class="btn btn-primary">Sube Factura <input type="file" style="display: none;" ng-file-select="subeXML($files)">
	                    </label>
	                  </td>
			          <td>{{ PagoM.foliointerno }}</td>
			          <td>{{ PagoM.serie }}</td>
			          <td>{{ PagoM.foliofiscal }}</td>
			          <td>{{ PagoM.emisor }}</td>
			          <td>{{ PagoM.rfcemisor }}</td>
			          <td>{{ PagoM.subtotal }}</td>
			          <td>{{ PagoM.tasa }}</td>
			          <td>{{ PagoM.total }}</td>
			          <td>{{ PagoM.fechaemision }}</td>
			          <td ng-show="btndelete"><button ng-click="eliminaxml()" class="btn btn-small btn-danger" type="button">Eliminar</button></td>
			        </tr>
			      </table>
			      </div>
	    </div><br><br>

	    <div class="row">
	    	<div class="col-md-12">
	    	<a href="" ><h3>¿Quieres Ingresar otro Documento?</h3></a>
                <label class="radio-inline c-radio">
	    	    <input id="inlineradio1" type="radio" name="i-radio" ng-model="doc"  value="1">
                <span class="icon-cancel-circle"></span> Si </label>

                <label class="radio-inline c-radio">
                <input id="inlineradio1" type="radio" name="i-radio" ng-model="doc"  value="0" checked>
                <span class="icon-cancel-circle"></span> No </label>
            </div>
	    </div>

	    <div class="row" ng-if="doc == '1'">
			<div class="col-md-12">

                <a href="" ><h3>Tipo de Documento</h3><H5><strong class="text-danger">Nota: Es importante especificar el tipo de documento para hacer un tramite exitoso</strong></H5></a>
                <label class="radio-inline c-radio">
                <input id="inlineradio2" type="radio" name="i-radio1" ng-model="PagoM.NC"  value="1" checked="checked" >
                <span class="icon-cancel-circle"></span> Nota Credito </label>

                <label class="radio-inline c-radio">
                <input id="inlineradio2" type="radio" name="i-radio1" ng-model="PagoM.NC"  value="2">
                <span class="icon-cancel-circle"></span> Deducible </label>
			
			</div>
		</div><br><br>

	    <div class="row" ng-if="doc == '1'">
			<div class="col-md-12">

				<div class="panel panel-info">
				  <div class="panel-heading">Nota de Crédito</div>
				  <div class="panel-body">

					  	<table style="max-height: auto;
								    overflow-y: auto; 
								    overflow-x: auto;
								    width: 100%; background: #edebeb ">
				        <tr style="background-color:#E9E9E9;">
				          <th colspan="12" class="text-center"><h4>Datos de la Nota de Credito</h4></th>
				        </tr>
				        <tr style="background-color:#F0FFFF">
				          <th></th>
				          <th>Serie</th>
				          <th>Folio Fiscal</th>
				          <th>Emisor</th>
				          <th>RFC Emisor</th>
				          <th>Subtotal</th>
				          <th>IVA</th>
				          <th>Total</th>
				          <th>Fecha Emisión</th>
				          <th></th>
				        </tr>
				        <tr>
				          <td>
				          	<label class="btn btn-primary">Sube Factura <input type="file" style="display: none;" ng-file-select="subeNCG($files)">
		                    </label>
		                  </td>
				          <td>{{ NCG.serie }}</td>
				          <td>{{ NCG.foliofiscal }}</td>
				          <td>{{ NCG.emisor }}</td>
				          <td>{{ NCG.rfcemisor }}</td>
				          <td>{{ NCG.subtotal }}</td>
				          <td>{{ NCG.tasa }}</td>
				          <td>{{ NCG.total }}</td>
				          <td>{{ NCG.fechaemision }}</td>
				          <td ng-show="btndelete"><button ng-click="eliminaxmlNC()" class="btn btn-small btn-danger" type="button">Eliminar</button></td>
				        </tr>
				      </table>


				  </div>
				</div>

			</div>
		</div><br><br>
	    <div class="row">

	    	<div class="col-md-3">

				<button type="button" ng-click="enviaOrdenPago()"  class="btn btn-success btn-lg btn-block glyphicon glyphicon-plus"> Genera O.Pago </button>
			</div>

	    </div>

	 
	</div>



</div>

