<div id="contenedor" class="main" ng-init="inicio()">
    <div class="titulos">
        <a href="#/pagos" class="icon-arrow-left"></a>
        <h1>{{tituloPM}}</h1>
    </div>

	<ul id="rb-grid-small" class="rb-grid-small clearfix">

	    <li class="rb-span-1" id="color3">
	        <h3> Proveedores </h3>
	        <a href="#/altaproveedor">
	            <span class="icon-user"></span>
	        </a>
	    </li>

	    <li class="rb-span-1" id="color3">
	        <h3> Listado Manuales </h3>
	        <a href="#/listadoManual">
	            <span class="icon-list"></span>
	        </a>
	    </li>
	</ul>

	<legend></legend>

    <div class="row">
        <div class="form-group">
           <label class="col-sm-4 control-label">Selecciona el tipo de Factura que Ingresaras</label>
           <div class="col-sm-6">
              <label class="radio-inline c-radio">
                 <input id="inlineradio1" type="radio" name="i-radio" ng-model="tipo" value="1">
                 <span class="icon-cancel-circle"></span> Factura Individual </label>
              <label class="radio-inline c-radio">
                 <input id="inlineradio2" type="radio" name="i-radio" ng-model="tipo" value="2">
                 <span class="icon-cancel-circle"></span> Factura Global </label>

           </div>
        </div>
    </div>

    <legend></legend>

	<div ng-show="tipo == 1">

	    <div class="row">

			<div class="col-md-3">
				<label></label>
				<select class="form-control"  ng-model="PagoI.unidad" ng-options="unidad.id as unidad.nombre for unidad in unidades" ng-change="filtra()">
					<option value="">Unidad</option>
				</select>
			</div>

			<div class="col-md-3">
				<label></label>
				<select class="form-control"  ng-model="PagoI.proveedor" ng-options="proveedor.id as proveedor.nombre for proveedor in proveedores" ng-change="filtra()">
					<option value="">Proveedores</option>
				</select>
			</div>

	    </div>
	    <br>
	    <div class="row">

	    	<div class="col-md-2">
					<label>Folio</label>
					<input type="text" ng-model="PagoI.folio" class="form-control" folio>
			</div>

			<div class="col-md-2">
				<label></label>
				<select class="form-control"  ng-model="PagoI.tipotramite" ng-options="tipotramite.id as tipotramite.tipo for tipotramite in tipostramites" ng-change="subtipotramite(PagoI.tipotramite)">
					<option value="">Tipo de Tramite</option>
				</select>
			</div>

			<div class="col-md-2">
				<label></label>
				<select class="form-control"  ng-model="PagoI.concepto" ng-options="concepto.id as concepto.nombre for concepto in conceptost" ng-change="filtra()">
					<option value="">Subtipo</option>
				</select>
			</div>

			<div class="col-md-2">
				<label></label>
				<select class="form-control"  ng-model="PagoI.etapa"  ng-change="filtra()">
					<option value="">Etapa</option>
					<option value="1">Etapa 1</option>
					<option value="2">Etapa 2</option>
					<option value="3">Etapa 3</option>
				</select>
			</div>

			<div class="col-md-2">
					<label>Entrega</label>
					<input type="text" ng-model="PagoI.entrega" class="form-control">
			</div>
	    </div>

	    <div class="row">
	    	<div class="col-md-2">
					<label>Subtotal</label>
					<input type="text" ng-model="PagoI.SubtotalF" class="form-control" ng-blur="calculaTotalInd()">
			</div>

		    <div class="col-md-2">
					<label>IVA</label>
					<input type="text" ng-model="PagoI.IVAF" class="form-control" ng-blur="calculaTotalInd()">
			</div>

		    <div class="col-md-2">
					<label>Retención</label>
					<input type="text" ng-model="PagoI.retencion" class="form-control" ng-blur="calculaTotalInd()">
			</div>

		    <div class="col-md-2">
					<label>Total</label>
					<input type="text" ng-model="PagoI.TotalF" class="form-control" disabled>
			</div>

			<div class="col-md-2">
					<label><H2><strong>Total:{{PagoI.TotalF | currency}}</strong></H2></label>
			</div>
	    </div>
	    <br><br>
	    	
		<div class="row">
			    <div class="col-md-12">
			      <table style="max-height: auto;
							    overflow-y: auto; 
							    overflow-x: auto;
							    width: 100%; background: #edebeb ">
			        <tr style="background-color:#E9E9E9;">
			          <th colspan="12" class="text-center"><h4>Datos de la Factura</h4></th>
			        </tr>
			        <tr style="background-color:#F0FFFF">
			          <th></th>
			          <th>Folio</th>
			          <th>Serie</th>
			          <th>Folio Fiscal</th>
			          <th>Emisor</th>
			          <th>RFC Emisor</th>
			          <th>Subtotal</th>
			          <th>IVA</th>
			          <th>Total</th>
			          <th>Fecha Emisión</th>
			          <th></th>
			        </tr>
			        <tr>
			          <td>
			          	<label class="btn btn-primary">Sube Factura <input type="file" style="display: none;" ng-file-select="subeXMLInd($files)">
	                    </label>
	                  </td>
			          <td>{{ PagoI.foliointerno }}</td>
			          <td>{{ PagoI.serie }}</td>
			          <td>{{ PagoI.foliofiscal }}</td>
			          <td>{{ PagoI.emisor }}</td>
			          <td>{{ PagoI.rfcemisor }}</td>
			          <td>{{ PagoI.subtotal }}</td>
			          <td>{{ PagoI.tasa }}</td>
			          <td>{{ PagoI.total }}</td>
			          <td>{{ PagoI.fechaemision }}</td>
			          <td ng-show="btndelete"><button ng-click="eliminaxml()" class="btn btn-small btn-danger" type="button">Eliminar</button></td>
			        </tr>
			      </table>
			      </div>
	    </div>

		<div class="row">
			<div class="col-md-12">
			
				<label for="descripcion">Observación</label>
				<textarea name="descripcion" id="observacion" class="form-control " ng-model="PagoI.observacion" rows="5" ng-disabled="editafactura" mayusculas required></textarea>
				
			</div>
		</div><br><br>

		<div class="row-center">

		   <div class="col-md-3">

				<button type="button" ng-hide="edicion" ng-click="enviaOrdenPagoInd()"  class="btn btn-warning btn-lg btn-block glyphicon glyphicon-arrow-right"> Enviar </button>
			</div>
			
		</div>
	</div>

	<div ng-show="tipo == 2">

		<div class="row">

			<div class="col-md-3">
				<select class="form-control"  ng-model="PagoM.unidad" ng-options="unidad.id as unidad.nombre for unidad in unidades" ng-change="filtra()">
					<option value="">Unidad</option>
				</select>
			</div>

			<div class="col-md-3">
				<select class="form-control"  ng-model="PagoM.proveedor" ng-options="proveedor.id as proveedor.nombre for proveedor in proveedores" ng-change="filtra()">
					<option value="">Proveedores</option>
				</select>
			</div>

		   <div class="col-md-3">

				<button type="button" ng-hide="edicion" ng-click="addRow()"  class="btn btn-warning btn-lg btn-block glyphicon glyphicon-plus"> Agrega Pago </button>
			</div>
			
	    </div>
	    <br>
	    <div class="row">
	    	<div class="col-md-2">
					<label>Folio</label>
					<input type="text" ng-model="PagoM.folio" class="form-control" folio>
			</div>

			<div class="col-md-2">
				<label></label>
				<select class="form-control"  ng-model="PagoM.tipotramite" ng-options="tipotramite.id as tipotramite.tipo for tipotramite in tipostramites" ng-change="subtipotramite(PagoM.tipotramite)">
					<option value="">Tipo de Tramite</option>
				</select>
			</div>

			<div class="col-md-2">
				<label></label>
				<select class="form-control"  ng-model="PagoM.concepto" ng-options="concepto.id as concepto.nombre for concepto in conceptost" ng-change="filtra()">
					<option value="">Subtipo</option>
				</select>
			</div>

			<div class="col-md-2">
				<label></label>
				<select class="form-control"  ng-model="PagoM.etapa"  ng-change="filtra()">
					<option value="">Etapa</option>
					<option value="1">Etapa 1</option>
					<option value="2">Etapa 2</option>
					<option value="3">Etapa 3</option>
				</select>
			</div>

			<div class="col-md-2">
					<label>Entrega</label>
					<input type="text" ng-model="PagoM.entrega" class="form-control">
			</div>
	    </div>

	    <div class="row">
	    	<div class="col-md-2">
					<label>Subtotal</label>
					<input type="text" ng-model="PagoM.SubtotalF" class="form-control" ng-blur="calculaTotal()">
			</div>

		    <div class="col-md-2">
					<label>IVA</label>
					<input type="text" ng-model="PagoM.IVAF" class="form-control" ng-blur="calculaTotal()">
			</div>

			<div class="col-md-2">
					<label>Retención</label>
					<input type="text" ng-model="PagoM.retencion" class="form-control" ng-blur="calculaTotal()">
			</div>

		    <div class="col-md-2">
					<label>Total</label>
					<input type="text" ng-model="PagoM.TotalF" class="form-control" disabled>
			</div>
	    </div>

	    <div class="row">
			<div class="col-md-12">
			
				<label for="descripcion">Observación</label>
				<textarea name="descripcion" id="observacion" class="form-control " ng-model="PagoM.observacion" rows="5" ng-disabled="editafactura" mayusculas required></textarea>
				
			</div>
		</div><br><br>
        <div class="row">
        	<div class="col-md-2">

	        	<button type="button" ng-hide="edicion" ng-click="limpiaTabla()"  class="btn btn-danger btn-lg btn-block glyphicon glyphicon-trash"> Limpiar 
	        	</button>

            </div>

        </div>

	    <div class="col-md-12">

			   <div class="table-responsive">

					<table class="table">
					    <thead>
					        <tr>
					            <th>Unidad</th>
					            <th>Folio</th>
					            <th>Etapa</th>
					            <th>Entrega</th>
					            <th>Subtotal</th>
					            <th>IVA</th>
					            <th>Total</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr ng-repeat="Pago in Pagos">

					            <td>{{ Pago.unidad}}</td>
					            <td>{{ Pago.folio}}</td>
					            <td>{{ Pago.etapa}}</td>
					            <td>{{ Pago.entrega}}</td>
					            <td>{{ Pago.SubtotalF}}</td>
					            <td>{{ Pago.IVAF}}</td>
					            <td>{{ Pago.TotalF}}</td>

					        </tr>
					        <tr>

					            <td></td>
					            <td></td>
					            <td></td>
					            <td><STRONG>TOTAL:</STRONG></td>
					            <td>{{subtotalPago}}</td>
					            <td>{{ivaPago}}</td>
					            <td><STRONG>{{totalPago}}</STRONG></td>

					        </tr>
					    </tbody>
					</table>
				</div>
			
		</div>
	    	
		<div class="row">
			    <div class="col-md-12">
			      <table style="max-height: auto;
							    overflow-y: auto; 
							    overflow-x: auto;
							    width: 100%; background: #edebeb ">
			        <tr style="background-color:#E9E9E9;">
			          <th colspan="12" class="text-center"><h4>Datos de la Factura</h4></th>
			        </tr>
			        <tr style="background-color:#F0FFFF">
			          <th></th>
			          <th>Folio</th>
			          <th>Serie</th>
			          <th>Folio Fiscal</th>
			          <th>Emisor</th>
			          <th>RFC Emisor</th>
			          <th>Subtotal</th>
			          <th>IVA</th>
			          <th>Total</th>
			          <th>Fecha Emisión</th>
			          <th></th>
			        </tr>
			        <tr>
			          <td>
			          	<label class="btn btn-primary">Sube Factura <input type="file" style="display: none;" ng-file-select="subeXML($files)">
	                    </label>
	                  </td>
			          <td>{{ PagoM.foliointerno }}</td>
			          <td>{{ PagoM.serie }}</td>
			          <td>{{ PagoM.foliofiscal }}</td>
			          <td>{{ PagoM.emisor }}</td>
			          <td>{{ PagoM.rfcemisor }}</td>
			          <td>{{ PagoM.subtotal }}</td>
			          <td>{{ PagoM.tasa }}</td>
			          <td>{{ PagoM.total }}</td>
			          <td>{{ PagoM.fechaemision }}</td>
			          <td ng-show="btndelete"><button ng-click="eliminaxml()" class="btn btn-small btn-danger" type="button">Eliminar</button></td>
			        </tr>
			      </table>
			      </div>
	    </div><br><br>

	    <div class="row">

	    	<div class="col-md-3">

				<button type="button" ng-hide="edicion" ng-click="enviaOrdenPago()"  class="btn btn-success btn-lg btn-block glyphicon glyphicon-plus"> Genera O.Pago </button>
			</div>

	    </div>

	 
	</div>



</div>

