<div ng-init="inicio()" id="contenedor">
	<div class="titulos">
		<a href="#/" class="icon-arrow-left"></a>
		<h1>{{tituloR}}</h1>
	</div>
	<ul id="rb-grid-small" class="rb-grid-small clearfix">
	    <!-- <li class="rb-span-1" id="color1">
	        <h3>Fax</h3>
	        <a data-target="#myModal" ng-click="muestraFax()" href="">
	            <span class="icon-pencil"></span>
	        </a>
	    </li> -->
	    <li class="rb-span-1" id="color3">

	        <h3>Por Recibir<span ng-show=" recibidos > 0 " class="push">{{recibidos}}</span></h3>
	        <a href="#/listadoRecepcion/Recepcion">
	            <span class="icon-box-add"></span>
	        </a>
	        
	    </li>

	    <li class="rb-span-1" id="color3">

	        <h3>Original</h3>
	        <a data-target="#myModal2" ng-click="muestraOriginal()" href="">
	            <span class="icon-book"></span>
	        </a>
	        
	    </li>
		
		<!-- <li class="rb-span-1" id="color3">

	        <h3>Traspasos</h3>
	        <a href="#/traspasos/Recepcion">
	            <span class="icon-enter"></span>
	        </a>
	    </li> -->

	    <li class="rb-span-1" id="color3">

	        <h3>Rechazos<span ng-show=" rechazados > 0 " class="push">{{rechazados}}</span></h3>
	        <a href="#/Rechazos/Recepcion">
	            <span class=" icon-cancel-circle"></span>
	        </a>
	    </li>
	    <li class="rb-span-1" id="color3">

	        <h3>Entregas</h3>
	        <a href="#/listadoEntregas/Recepcion">
	            <span class=" icon-list"></span>
	        </a>
	    </li>
	</ul>
	<h2>Tus Folios Activos</h2>
	<div class="row">
		<div class="col-md-3">
			<fieldset>
				<legend>Folio</legend>
				<input type="text" ng-model="folio" class="form-control"  ng-change="filtra()" folio >
			</fieldset>
		</div>
		<div class="col-md-5">
			<fieldset>
				<legend>Lesionado</legend>
				<input type="text" ng-model="lesionado" class="form-control" ng-change="filtra()" capitalize>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<fieldset>
				<legend>Filtros</legend>
				<div class="row">
					<div class="col-md-2">
						<select class="form-control"  ng-model="cliente" ng-options="cliente as cliente.nombre for cliente in clientes" ng-change="filtra()">
							<option value="">Cliente</option>
						</select>
					</div>
					<div class="col-md-2">
						<select class="form-control"  ng-model="unidad" ng-options="unidad as unidad.nombre for unidad in unidades" ng-change="filtra()">
							<option value="">Unidad</option>
						</select>
					</div>
					<div class="col-md-2">
						<select class="form-control"  ng-model="tipo" ng-change="filtra()">
							<option value="">Fax Y Original</option>
							<option value="fax">Fax</option>
							<option value="original">Original</option>
						</select>
					</div>
					<div class="col-md-2">
						<select class="form-control" id="producto" ng-model="producto" ng-change="filtra()" ng-options="producto as producto.nombre for producto in productosini" required>
							<option value="">Producto</option>
						</select>
					</div>
					<div class="col-md-2">
						<select class="form-control" id="tipodoc" ng-change="filtra()" ng-model="etapa">
							<option value="">Etapa</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
					<div class="col-md-2">
						<button class="btn btn-danger btn-block icon-close" ng-click="quitafiltro()"> Quitar Filtros</button>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="gridStyle" ng-grid="gridOptions"></div>
	<br>	
	<!-- directiva para exportar a excel ver app.js mas nfo -->
	<excel info="listado"></excel>
	<br>
	<fieldset>
		<legend>Datos de Entrega</legend>
	</fieldset>
	<div class="row">
		<form name="formEntrega"  novalidate>

			<div class="col-md-3">
				<select class="form-control" id="area" ng-model="areaOp" ng-options="area.calve as area.nombre for area in areas" ng-change="altausuariosarea(areaOp)" required>
					<option value="">Area Operativa</option>
				</select>
			</div>
			
			<div class="col-md-3">
				<select class="form-control" ng-show="areaOp > 0" id="area" ng-model="user" ng-options="usuario.id as usuario.nombre for usuario in usuarios" required>
					<option value="">Usuario</option>
				</select>
			</div>
			<div class="col-md-2">
				<button type="button" id="boton" ng-disabled="formEntrega.$invalid" ng-click="entrega()" class="btn btn-primary btn-block icon-drawer2" data-loading-text="Entregando..."> Preparar Entrega</button>
			</div>
			<div class="col-md-2" id="estatus">
				<!-- <input type="text" x-webkit-speech=""> -->
				<button type="button" ng-disabled="selectos.length == 0" class="btn btn-warning btn-block icon-close" ng-click="quitaselectos()"> Quitar Selección</button>
			</div>

			<div class="col-md-2">
			</div>

		</form>
	</div>
	<br>
	<div ng-show="mensaje != '' " ng-class="tipoalerta" class="alert alert-success animate-show">{{mensaje}}</div>
	<br>
	<br>
</div>

<!-- Muestra Fax-->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Recepcion de Fax</h4>
            </div>
            <form name="formFax"  novalidate>
            <div class="modal-body" id="cantidad">
                	<div class="row">
                		<div class="col-md-5">
                			<label for="folioF">Folio</label>
                			<input type="text" id="folioF" class="form-control" ng-keydown="presionaFolioFax" ng-maxlength="10" ng-model="fax.folio"  capitalize required>
                		</div>
                		<div class="col-md-1">
                			<br>
                			<img ng-show="cargar" src="images/cargando.gif">
                		</div>
                		<div class="col-md-6">
                			<label for="datepicker3">Fecha</label>
                			<input type="text" ng-change="validafecha('Fax')" class="form-control" ng-model="fax.fecha" id="datepicker3">
                		</div>
                	</div>
					<div class="row">
						<div class="col-md-12">
							<label for="lesionado">Lesionado</label>
							<input type="text" id="lesionado" class="form-control" ng-model="fax.lesionado" capitalize required>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label for="cliente">Cliente</label>
							<select class="form-control" id="cliente" ng-model="fax.cliente" ng-options="cliente.id as cliente.nombre for cliente in clientes" ng-change="productoFax(fax.cliente)" required>
								<option value="">Cliente</option>
							</select>
						</div>
						<div class="col-md-6">
                			<label for="unidad">Unidad</label>
                			<select class="form-control" id="unidad"  ng-model="fax.unidad" ng-options="unidad.id as unidad.nombre for unidad in unidades" required>
								<option value="">Unidad</option>
							</select>
                		</div>
					</div>
                	<div class="row">
                		<div class="col-md-6">
                				<label for="producto">Producto</label>
								<select class="form-control" id="producto" ng-model="fax.producto" ng-options="producto.id as producto.nombre for producto in productos" required>
									<option value="">Producto</option>
								</select>
                		</div>
                		<div class="col-md-6" ng-show="fax.cliente == 20; fax.producto == 2">
                			<label for="escolaridad">Escolaridad</label>
                			<select id="escolaridad" class="form-control"  ng-model="fax.escolaridad" ng-options="escolaridad.id as escolaridad.nombre for escolaridad in escolaridades">
								<option value="">Escolaridad</option>
							</select>
                		</div> 
            		</div>
                	<div ng-show="mensaje != '' " ng-class="tipoalerta" class="alert animate-show">{{mensaje}}</div>
            </div>
            <div class="modal-footer">
            	<button id="otro" class="btn btn-primary" type="submit"  ng-disabled="formFax.$invalid" data-loading-text="Guardando..." ng-click="mandadatos('Fax')">Guardar</button>
              	<button type="button" class="btn btn-success" ng-click="muestraFax()">Limpiar</button>
              	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
        </form>
    </div>
</div> -->
<!-- /.modal -->

<!-- Muestra Original-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Recepcion de Original</h4>
            </div>
            <form name="formOriginal" ng-submit="guardaDatos()" novalidate>
            <div class="modal-body" id="cantidad">
                	<div class="row">
                		<div class="col-md-5">
                			<label for="folioO">Folio</label>
                			<input type="text" id="folioO" class="form-control" folioex="validaOriginal" ng-model="original.folio">
                		</div>
                		<div class="col-md-1">
                			<br>
                			<img ng-show="cargar" src="images/cargando.gif">
                		</div>
                		<div class="col-md-6">
                			<label for="datepicker4">fecha</label>
                			<input type="text" ng-change="validafecha()" class="form-control" ng-model="original.fecha" id="datepicker4" >
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<label for="fac">Fac. Unidad:</label>
                			<input type="text" id="fac" class="form-control" ng-maxlength="40"  ng-model="original.factura"  capitalize >
                		</div>
                		<div class="col-md-6">
                			<label for="datepicker4">Total:</label>
                			<input type="text" class="form-control" ng-model="original.totalfactura" money>
                		</div>
                	</div>
                	<div class="row">
						<div class="col-md-8">
							<label for="lesionado">Lesionado</label>
							<input type="text" id="lesionado" class="form-control" ng-model="original.lesionado" capitalize required>
						</div>
						<div class="col-md-4">
                			<label for="tipodoc">Etapa</label>
							<select class="form-control" id="tipodoc" ng-change="verificaatencion()" ng-model="original.tipoDoc" ng-options="tipodocumento.id as tipodocumento.nombre for tipodocumento in tipodocumentos" required>
								<option value="">Tipo de Documento</option>
							</select>

                		</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label for="cliente">Cliente</label>
							<select class="form-control" ng-disabled="bloqueo" id="cliente" ng-model="original.cliente" ng-options="cliente.id as cliente.nombre for cliente in clientes" ng-change="productoOriginal(original.cliente)" required>
								<option value="">Cliente</option>
							</select>
						</div>
						<div class="col-md-6">
                			<label for="unidad">Unidad</label>
                			<select class="form-control" id="unidad" ng-disabled="bloqueoUni" ng-change="referencia(unidadref)" ng-model="unidadref" ng-options="unidad.id as unidad.nombre for unidad in unidades">
								<option value="">Unidad</option>
							</select>
                		</div>
					</div>
                	<div class="row">
                		<div class="col-md-6">
                				<label for="producto">Producto</label>
								<select class="form-control" id="producto" ng-disabled="bloqueo"  ng-model="original.producto" ng-options="producto.id as producto.nombre for producto in productos" ng-change="verificaEscolaridad()" required>
									<option value="">Producto</option>
								</select>
                		</div>
                		<div class="col-md-6" ng-show="muestraEsc">
                			<label for="escolaridad">Escolaridad</label>
                			<select  id="escolaridad" class="form-control" ng-disabled="bloqueo"  ng-model="original.escolaridad" ng-options="escolaridad.id as escolaridad.nombre for escolaridad in escolaridades">
								<option value="">Escolaridad</option>
							</select>
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<label for="remesa">Remesa</label>
                			<input type="text" id="remesa" class="form-control" ng-model="remesa" remesa  required>
                		</div>
                		<div class="col-md-6">	
                			<br>
                			<blockquote>
							  <p>{{label1}}</p>
							</blockquote>
                		</div>
                	</div>
                	<div class="row">
                		<div class="col-md-6">
                			<h3 class="text-center">{{label2}}</h3>
                		</div>
                		<div class="col-md-6">
                			<h3 class="text-center">{{label3}}</h3>
                		</div>
                	</div>
                	<div ng-show="mensaje != '' " ng-class="tipoalerta" class="alert animate-show">{{mensaje}}</div>
            </div>
            <div class="modal-footer">
            	<button id="boton2" type="submit" ng-disabled="formOriginal.$invalid" data-loading-text="Guardando..." class="btn btn-primary">Guardar</button>
            	<button type="button" class="btn btn-success" ng-click="muestraOriginal()">Limpiar</button>
              	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div><!-- /.modal-content -->
          </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
	$.datepicker.setDefaults($.datepicker.regional["es"]);
	$( "#datepicker" ).datepicker({showButtonPanel: true});
	$( "#datepicker2" ).datepicker({showButtonPanel: true});
	$( "#datepicker3" ).datepicker({showButtonPanel: true});
	$( "#datepicker4" ).datepicker({showButtonPanel: true});
</script>