<div id="contenedor" ng-init="inicio()">
    <div class="titulos">
    <a href="#/ticket" class="icon-arrow-left"></a>
    <h1>{{tituloT}}</h1>
  </div>

    <div class="row" ng-show="edicion">
      <div class="col-md-12">
      
        <fieldset>
          <legend>Datos del Expediente</legend>
        </fieldset>
        <div class="row">
            <div class="col-md-4">
                Nombre:<span style="margin-left:0.5em;">{{nombre}}</span>
            </div>
            <div class="col-md-4">
              Compañia:<span style="margin-left:0.5em;">{{compania}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Siniestro:<span style="margin-left:0.5em;">{{siniestro}}</span>
            </div>
            <div class="col-md-3">
                Reporte:<span style="margin-left:0.5em;">{{reporte}}</span>
            </div>
            <div class="col-md-3">
                Póliza:<span style="margin-left:0.5em;">{{poliza}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                Telefono:<span style="margin-left:0.5em;">{{telefono}}</span>
            </div>
            <div class="col-md-3">
                Mail:<span style="margin-left:0.5em;">{{mail}}</span>
            </div>
            <div class="col-md-3">
                F. Nacimiento:<span style="margin-left:0.5em;">{{fechana}}</span>
            </div>
            <div class="col-md-3">
                Sexo:<span style="margin-left:0.5em;">{{sexo}}</span>
            </div>
        </div>

      </div>

    </div>
  
    <br>
  <form name="formTicket" novalidate>
    <div class="row">
        <div class="col-md-2">
            <label for="folio">Folio Interno</label>
            <input type="text" id="folio" class="form-control" ng-disabled="edicion" ng-model="datos.folioIn"  capitalize >
        </div>
        <div class="col-md-3">
            <label for="folio">Folio</label>
            <input type="text" id="folio" class="form-control" ng-disabled="edicion" ng-maxlength="10" ng-model="datos.folioweb" folioex="foliosxfolio">
        </div>
        <div class="col-md-1">
            <br>
            <img ng-show="cargar" class="animate-show" src="images/cargando.gif">
        </div>
    </div>

    <br>
    <div ng-show="mensaje != '' " class="alert animate-show alert-warning text-center">{{mensaje}}</div>

    <div class="row" ng-hide="edicion">
        <div class="col-md-3">
          <label for="cliente">Cliente</label>
          <select class="form-control"  ng-model="datos.cliente" ng-options="cliente.Clave as cliente.Nombre for cliente in clientes" ng-change="filtra()">
            <option value="">Cliente</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="unidad">Unidad</label>
          <select class="form-control"  ng-model="datos.unidad" ng-options="unidad.UnidadClave as unidad.Nombre for unidad in unidades" ng-change="filtra()">
            <option value="">Unidad</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="unidad">Etapa</label>
          <select class="form-control" id="tipodoc" ng-model="datos.etapa">
            <option value="">Etapa</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
                <label for="categoria">Categoria</label>
                <select class="form-control" id="categoria" ng-change="altasubcategorias(datos.categoria)" ng-model="datos.categoria" ng-options="categoria.Clave as categoria.Nombre for categoria in categorias" required>
                    <option value="">Categoria</option>
                </select>
        </div>
        <div class="col-md-3">
            <label for="subcategoria">Subcategoria</label>
            <select id="subcategoria" class="form-control"  ng-model="datos.subcategoria" ng-options="subcategoria.Clave as subcategoria.Nombre for subcategoria in subcategorias" required>
                <option value="">Subcategoria</option>
            </select>
        </div>         
        <div class="col-md-3">
            <label for="status">Status</label>
            <select id="status" class="form-control"  ng-model="datos.statusa" ng-options="statu.Clave as statu.Nombre for statu in status" required>
                <option value="">Status</option>
            </select>
        </div> 
    </div> 
    <div class="row" ng-show="datos.statusa == 2">
      <div class="col-md-6">
          <label for="folio">Asignado A:</label>
            <input type="text" id="asignado" class="form-control" ng-model="datos.asignado"  capitalize >
      </div>
      <div class="col-md-3">
        <label>Fecha Asignación</label>
          <div class="input-group">
            <input type="text" ng-model="datos.fechaasignado" class="form-control" id="fechaasigna"/>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="panel-group" id="accordion" ng-hide="edicion">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
              Observaciones iniciales
            </a>
          </h4>
        </div>

        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            

            <div class="btn-group" data-toggle="buttons">

              <label class="btn btn-primary" ng-click="datos.diagnostico = !datos.diagnostico">
                <input type="checkbox" ng-model="datos.diagnostico"><i ng-show="datos.diagnostico" class="glyphicon glyphicon-ok"></i> Diagnóstico
              </label>
              <label class="btn btn-primary" ng-click="datos.firma = !datos.firma">
                <input type="checkbox" ng-model="datos.firma"><i ng-show="datos.firma" class="glyphicon glyphicon-ok"></i> Firma de lesionado
              </label>
              <label class="btn btn-primary" ng-click="datos.notamedica = !datos.notamedica">
                <input type="checkbox" ng-model="datos.notamedica"><i ng-show="datos.notamedica" class="glyphicon glyphicon-ok"></i> Falta nota médica
              </label>
              <label class="btn btn-primary" ng-click="datos.finiquito = !datos.finiquito">
                <input type="checkbox" ng-model="datos.finiquito" ><i ng-show="datos.finiquito" class="glyphicon glyphicon-ok"></i> Sin finiquito
              </label>
              <label class="btn btn-primary" ng-click="datos.refactura = !datos.refactura">
                <input type="checkbox" ng-model="datos.refactura" ><i ng-show="datos.refactura" class="glyphicon glyphicon-ok"></i> Refacturación
              </label>
              <label class="btn btn-primary" ng-click="datos.pase = !datos.pase">
                <input type="checkbox" ng-model="datos.pase"><i ng-show="datos.pase" class="glyphicon glyphicon-ok"></i> Pase médico alterado
              </label>
              <label class="btn btn-primary" ng-click="datos.suministro = !datos.suministro">
                <input type="checkbox" ng-model="datos.suministro"><i ng-show="datos.suministro" class="glyphicon glyphicon-ok"></i> Suministros (Medicamento/ Órtesis)
              </label>
              <label class="btn btn-primary" ng-click="datos.identificacion = !datos.identificacion">
                <input type="checkbox" ng-model="datos.identificacion" ><i ng-show="datos.identificacion" class="glyphicon glyphicon-ok"></i> Identificación oficial
              </label>
              <label class="btn btn-primary" ng-click="datos.verificacion = !datos.verificacion">
                <input type="checkbox" ng-model="datos.verificacion" ><i ng-show="datos.verificacion" class="glyphicon glyphicon-ok"></i> Verificación de firmas
              </label>
              <label class="btn btn-primary" ng-click="datos.notamedicain = !datos.notamedicain">
                <input type="checkbox" ng-model="datos.notamedicain"><i ng-show="datos.notamedicain" class="glyphicon glyphicon-ok"></i> Nota médica incompleta
              </label>
              <label class="btn btn-primary" ng-click="datos.informe = !datos.informe">
                <input type="checkbox" ng-model="datos.informe"><i ng-show="datos.informe" class="glyphicon glyphicon-ok"></i> Informe AIG/CHARTIS
              </label>
              <label class="btn btn-primary" ng-click="datos.reverso = !datos.reverso">
                <input type="checkbox" ng-model="datos.reverso"><i ng-show="datos.reverso" class="glyphicon glyphicon-ok"></i> Reverso de identificación
              </label>
              <label class="btn btn-primary" ng-click="datos.verificapar = !datos.verificapar">
                <input type="checkbox" ng-model="datos.verificapar" ><i ng-show="datos.verificapar" class="glyphicon glyphicon-ok"></i> Verificación de parentesco
              </label>
              <label class="btn btn-primary" ng-click="datos.nocoincide = !datos.nocoincide">
                <input type="checkbox" ng-model="datos.nocoincide"><i ng-show="datos.nocoincide" class="glyphicon glyphicon-ok"></i> No coincide con documentación
              </label>
              <label class="btn btn-primary" ng-click="datos.pasemedico = !datos.pasemedico">
                <input type="checkbox" ng-model="datos.pasemedico"><i ng-show="datos.pasemedico" class="glyphicon glyphicon-ok"></i> Pase médico en copia
              </label>
              <label class="btn btn-primary" ng-click="datos.nombrein = !datos.nombrein">
                <input type="checkbox" ng-model="datos.nombrein"><i ng-show="datos.nombrein" class="glyphicon glyphicon-ok"></i> Nombre incorrecto
              </label>
              <label class="btn btn-primary" ng-click="datos.folioseg = !datos.folioseg">
                <input type="checkbox" ng-model="datos.folioseg"><i ng-show="datos.folioseg" class="glyphicon glyphicon-ok"></i> Folio de segmentación
              </label>
              <label class="btn btn-primary" ng-click="datos.sinpase = !datos.sinpase">
                <input type="checkbox" ng-model="datos.sinpase"><i ng-show="datos.sinpase" class="glyphicon glyphicon-ok"></i> Sin pase médico
              </label>
              <label class="btn btn-primary" ng-click="datos.fueravigencia = !datos.fueravigencia">
                <input type="checkbox" ng-model="datos.fueravigencia" ><i ng-show="datos.fueravigencia" class="glyphicon glyphicon-ok"></i> Fuera de vigencia
              </label>
              <label class="btn btn-primary" ng-click="datos.sinpoliza = !datos.sinpoliza">
                <input type="checkbox" ng-model="datos.sinpoliza" ><i ng-show="datos.sinpoliza" class="glyphicon glyphicon-ok"></i> Sin póliza
              </label>
              <label class="btn btn-primary" ng-click="datos.sindeducible = !datos.sindeducible">
                <input type="checkbox" ng-model="datos.sindeducible"><i ng-show="datos.sindeducible" class="glyphicon glyphicon-ok"></i> Sin deducible
              </label>
              <label class="btn btn-primary" ng-click="datos.sincuestionario = !datos.sincuestionario">
                <input type="checkbox" ng-model="datos.sincuestionario" ><i ng-show="datos.sincuestionario" class="glyphicon glyphicon-ok"></i> Sin cuestionario
              </label>
              <label class="btn btn-primary" ng-click="datos.firmamedico = !datos.firmamedico">
                <input type="checkbox" ng-model="datos.firmamedico"  ng-true-value="'FIRMA MÉDICO'" ng-false-value="" ><i ng-show="datos.firmamedico" class="glyphicon glyphicon-ok"></i> Firma Médico
              </label>
              <label class="btn btn-primary" ng-click="datos.cruce = !datos.cruce">
                <input type="checkbox" ng-model="datos.cruce"><i ng-show="datos.cruce" class="glyphicon glyphicon-ok"></i> Cruce Zima-MV
              </label>
              <label class="btn btn-primary" ng-click="datos.cadulaT = !datos.cadulaT">
                <input type="checkbox" ng-model="datos.cadulaT"><i ng-show="datos.cadulaT" class="glyphicon glyphicon-ok"></i> Cédula en Tramite
              </label>
              <label class="btn btn-primary" ng-click="datos.cedulaI = !datos.cedulaI">
                <input type="checkbox" ng-model="datos.cedulaI"><i ng-show="datos.cedulaI" class="glyphicon glyphicon-ok"></i> Cédula Invalida
              </label>

            </div>

          </div>
        </div>
      </div>
      
      </div>
    </div>

    <div class="row" ng-show="edicion">
      <div class="col-md-6">
          <label>Observaciones Iniciales</label>
          <textarea class="form-control" ng-model="observaciones" rows="3" capitalize disabled></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
          <label>Notas</label>
          <textarea class="form-control" ng-model="datos.notas" rows="3" capitalize></textarea>
      </div>
      <div class="col-md-4">
          <label>Comunicación</label>
          <textarea class="form-control" ng-model="datos.comunicacion" rows="3" capitalize></textarea>
      </div>
      <div class="col-md-3">
          <label>Fecha Comunicación</label>
          <div class="input-group">
            <input type="text" ng-model="datos.fechacomunica" class="form-control" id="fechacomunica"/>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </div>
    </div>
    <br>
    <br>
    <div ng-show="mensaje2" ng-class="tipoalerta" class="alert animate-show text-center">{{mensaje2}}</div>
    <br>
    <button ng-hide="edicion" type="reset" class="btn btn-success" ng-click="inicio()">Limpiar</button>
    <a ng-show="edicion" type="reset" class="btn btn-success" href="#/generaticket">Nuevo Ticket</a>
    <button id="boton" type="button" ng-disabled="ValidaInfo()" ng-click="siguiente()" data-loading-text="Guardando..." class="btn btn-primary">Guardar</button>
  </form>
  <br>
  <br>
  <div class="row" ng-show="edicion">
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Historial de Comunicación</h3>
        </div>
        <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Descripcion</th>          
                  <th>Fecha</th>

                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="comunicacion in comunicaciones">
                  <td>{{comunicacion.Usu_registro}}</td>
                  <td>{{comunicacion.TC_descripcion}}</td>
                  <td>{{comunicacion.TC_fechareg}}</td>
                </tr>
              </tbody>
            </table>
            
        </div>
      </div>

    </div>
    <div class="col-md-6">
      
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Historial de Notas</h3>
        </div>
        <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Descripcion</th>          
                  <th>Fecha</th>

                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="nota in notas">
                  <td>{{nota.Usu_registro}}</td>
                  <td>{{nota.TN_descripcion}}</td>
                  <td>{{nota.TN_fechareg}}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- ng-disabled="formFax.$invalid" -->
<br>

<script>
  $.datepicker.setDefaults($.datepicker.regional["es"]);
  $( "#fechacomunica" ).datepicker({showButtonPanel: true});
  $( "#fechaasigna" ).datepicker({showButtonPanel: true});
</script>